[2017-06-08 04:24] vincentdo opened #1038 "Request: Allow the use of custom data when launching a VM and attaching an OS disk"
It seems strange that custom data is only supported when we're launching the OS disk as part of the VM creation request chain and not if we create the OS disk before hand. It seems like under the hood, Azure is launching the OS disk and then attaching it to the VM after anyway?

[2017-10-11 21:35] hovsepm opened #1 "Fluent: would like to create/referencing NetworkSecurityGroup in VMSS definition API"
_From @TimLovellSmith on September 7, 2017 20:27_

With 1.1.3 I can't see any way to define the 'networkSecurityGroup' field for the VMSS network interface configuration part of the REST API!

From what I've seen of 1.2.0 release notes I am guessing that this functionality isn't yet added there either?

(This is what I'm talking about:

    "networkProfile": {
        "networkInterfaceConfiguratio

[2017-10-11 21:38] hovsepm opened #2 "[Enhancement] CosmosDB: Add ability to enable automatic failover"
_From @Ky7m on August 31, 2017 12:54_

Using Azure CLI it is possible to enable automatic failover on creation action.
https://docs.microsoft.com/en-us/cli/azure/cosmosdb?view=azure-cli-latest#az_cosmosdb_create
`
az cosmosdb create ... --locations "Central US"=0 "West Central US"=1 "West Europe"=2 --enable-automatic-failover "West Central US"
`
Would be great to have this functionality in Azure S

[2017-10-11 21:38] hovsepm opened #3 "ServiceBus entities lack UserMetadata"
_From @SeanFeldman on August 30, 2017 6:17_

`UserMetadata` on all entities ([queues](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.queuedescription.usermetadata), [topics](https://docs.microsoft.com/en-ca/dotnet/api/microsoft.servicebus.messaging.topicdescription.usermetadata), and [subscriptions](https://docs.microsoft.com/en-ca/dotnet/api/microsoft.servicebus.messag

[2017-10-11 21:39] hovsepm opened #4 "Keyvault support for Managing Storage keys"
_From @abhi1509 on August 10, 2017 17:50_

KeyVault recently released support for managing azure storage keys-
https://docs.microsoft.com/en-us/azure/key-vault/key-vault-ovw-storage-keys

Whats the plan to get that in fluent SDK?

_Copied from original issue: Azure/azure-sdk-for-net#3570_

[2017-10-11 21:40] hovsepm opened #5 "Please consistently support .WithExistingXXX(*string resourceId*)"
_From @TimLovellSmith on August 7, 2017 19:51_

Some Fluent APIs only give you a single overload of WithExistingXXX, such as the WithExistingSubnet(INetwork network, string subnetName) for defining ILoadBalancer private frontend which requires you to pass an INetwork object. Could these 'WithExisting' please be consistently implemented with an overload that works with just the resource ID?

[code]

[2017-10-11 21:43] hovsepm opened #6 "Add support for UpdateInstancesAsync and UpdateInstances to IVirtualMachineScaleSets"
_From @hrishi18pathak on June 23, 2017 23:30_

Add support for UpdateInstancesAsync and UpdateInstances to IVirtualMachineScaleSets
just like other calls like ReImage, Reboot etc.
This is useful for doing manual upgrades of VMs in a scaleset (when the policy is set to manual)
Current way of achieving this:
IVirtualMachineScaleSet vmss;
var resp = await vmss.Manager.Inner.VirtualMachineScaleSets.Up

[2017-10-11 21:43] hovsepm opened #7 "Add API to get SQL Database by ID w/o getting SQL Server first."
_From @olegburov on June 23, 2017 21:24_

In Azure portal, I can get an ID of my SQL Database, which looks like below:

- `/subscriptions/{my-subscription-id-here}/resourceGroups/{My-Resource-Group-here}/providers/Microsoft.Sql/servers/{my-sql-server-here}/databases/{my-sql-database-here}`

Using [Azure Management Libraries for .NET](https://www.nuget.org/packages/Microsoft.Azure.Management.Fluent

[2017-10-11 21:43] hovsepm opened #8 "How can I get async behavior out of the Fluent SDK?"
_From @awesley on June 23, 2017 19:25_

Hiya,

I'm creating VMs using the Fluent SDK.  Here's a code snippet:

[code]

This task does not complete until the machine is entirely provisioned and booting - a period of over ten minutes.  That doesn't seem async to me.  Is there something I am doing wrong?  I want the call to return prior to the machine's availability.

For comparison, when provisionin

[2017-10-11 21:44] hovsepm opened #9 "Extend the 'ISqlServer' interface with 'Status' property."
_From @olegburov on June 16, 2017 22:30_

Could you please extend the `Microsoft.Azure.Management.Sql.Fluent.ISqlServer` interface with `Status` property, just like `ISqlDatabase` has?

[code]

Using [Azure Management Libraries for .NET](https://www.nuget.org/packages/Microsoft.Azure.Management.Fluent/) (aka Fluent API) I want to get a status of my Azure SQL Server like this:

[code]

_Copied from

[2017-10-11 21:44] hovsepm opened #10 "Add Azure Application Insights support to Fluent API (aka Monitor)"
_From @olegburov on June 16, 2017 21:56_

It would be handy if [Azure Management Libraries for .NET](https://www.nuget.org/packages/Microsoft.Azure.Management.Fluent/) (aka Fluent API) supported [Azure Application Insights](https://azure.microsoft.com/en-us/services/application-insights/) service.

_Copied from original issue: Azure/azure-sdk-for-net#3384_

[2017-10-11 21:45] hovsepm opened #11 "Support WithAdminPasswordInKeyVault"
_From @tg123 on June 8, 2017 9:44_

Hi

please add create vm with password in keyvault

[code]

_Copied from original issue: Azure/azure-sdk-for-net#3338_

[2017-10-11 21:46] hovsepm opened #12 "ISqlServers has no firewall option to allow access to Azure services"
_From @mloeffen on May 30, 2017 9:43_

The fluent api seems to have no option to allow Azure services to access the server. Sample code:
[code]

![2017-05-30 11_34_39-firewall settings - microsoft azure](https://cloud.githubusercontent.com/assets/986351/26577361/73a79ad6-452c-11e7-969a-211ecd98477d.png)

_Copied from original issue: Azure/azure-sdk-for-net#3296_

[2017-10-11 21:47] hovsepm opened #13 "Expose GenericResources.deleteById()"
_From @martinsawicki on May 24, 2017 23:38_

apparently porting this special case logic from the java SDK was missed

_Copied from original issue: Azure/azure-sdk-for-net#3277_

[2017-10-11 21:47] hovsepm opened #14 "Very slow: azure.WebApps.ListByResourceGroupAsync(resourceGroup)"
_From @abergs on May 11, 2017 8:54_

Calling the azure.WebApps.ListByResourceGroupAsync(resourceGroup) method is extremely slow?

Even though my code is running in Azure, it can easily take about 1-4 minutes to load. We have about 50 websites in that resource group.

What could be the cause of this?

_Copied from original issue: Azure/azure-sdk-for-net#3199_

[2017-10-11 21:50] hovsepm opened #15 "Add Service Fabric to Fluent API"
_From @abergs on April 13, 2017 11:52_

Hi, since Service Fabric was recently added via #2903 I'd really like to have it added to the fluent API's as well since that is what we're using.

_Copied from original issue: Azure/azure-sdk-for-net#3066_

[2017-10-24 22:56] #14 closed

[2017-11-07 22:01] martinsawicki commented on #12
a workaround has been provided so closing

[2017-11-07 22:01] #12 closed

[2017-11-08 00:21] anuchandy commented on #8
We are working on enabling this, there are two pattern here:

1. begin pattern that requires single API call underneath [e.g. beginDeleteAsync()]
2. begin pattern that requires multiple API calls underneath [e.g. creation of VM, that need storage, network etc..]

Support for 1 will be part of the new v2 runtime and generated code. Support for 2 is the one I am currently working on (related to Json

[2017-11-08 00:22] anuchandy commented on #6
already added support for this, will be available as part of v1.4

[2017-11-08 20:13] anuchandy commented on #3
@jtaubensee (Service Bus PM) could you please comment?

[2017-11-08 20:20] jtaubensee commented on #3
@anuchandy - I'm no longer a Service Bus PM, but what @SeanFeldman is talking about, is correct. @ChristianWolf42 should be able to comment further.

[2017-11-09 02:05] anuchandy commented on #3
Thanks you @jtaubensee! @ChristianWolf42 could you please take a look?

[2017-11-10 20:56] hovsepm commented on #1
@TimLovellSmith we start all the features on Java SDK first ;)

[2017-11-20 18:42] harindersingh861 opened #66 "Plan to publish the latest version of 'azure-mgmt-datalake-store' on Maven?"
Currently, we have very old versions of 'azure-mgmt-datalake-store' on maven. Is there a plan to publish the latest versions there?

[2017-11-20 21:52] dadoonet opened #67 "Wrong azure-annotations dependency 1.2.0 (expecting 1.4.0)"
Sample `pom.xml`:

[code]

Running `mvn dependency:tree` shows:

[code]

Annotations pulled are `com.microsoft.azure:azure-annotations:jar:1.2.0:compile` which is wrong as some of the libs are using `SinceVersion.V1_3_0` which is not available in 1.2.0.

I detected this because my project does not allow warnings when compiling. See https://github.com/elastic/elasticsearch/pull/22679#issuecomment-3

[2017-11-21 13:06] rodrigofraxino opened #658 "Unable to get VM ID from scale set VM"
Unable to get VM ID from scale set VM.

VirtualMachineScaleSetVM#instanceId() method returns the number of the VM inside the scale set (0, 1, 2, etc)

VirtualMachineScaleSetVM#id() returns path of VM (/subscriptions/subscription/resourceGroups/resourceGroupName/providers/virtualMachineScaleSets/scaleSetName/virtualMachines/virtualMachineNumber

There is no function to get the VM ID which is provid

[2017-11-28 19:44] sgireddy opened #72 "Internal Server Error is back"
I cloned this sdk and tweaked to include ConsumtionManager in order to access usage details but ended up getting "Internal Server Error". I had this error before as reported here [https://github.com/Azure/azure-sdk-for-java/issues/1975](https://github.com/Azure/azure-sdk-for-java/issues/1975). The issue is back, given the major changes I am expecting it is related to api-version or the new additio

[2017-11-28 20:09] anuchandy commented on #72
@muazmian [From consumption service team], Muaz could you please take a look?

[2017-11-29 17:45] sgireddy commented on #72
@muazmian @anuchandy Any update on this?

[2017-11-29 18:02] sgireddy commented on #72
@muazmian @anuchandy Is there a public JIRA or TFS task board where we could track releases, upcoming changes and submit change requests etc?

[2017-11-29 22:09] muazmian commented on #72
Hi @sgireddy

Unfortunately, This is a preview API and it has some known issues.

Alternatively, can you look at Microsoft.Commerce or newer version of Microsoft.Consumption?

[2017-11-30 00:48] sgireddy commented on #72
Yes, I am using a customized version of this library, I need the latest api-version of Microsoft.Consumption. Could you please provide details?

[2017-11-30 01:32] sgireddy commented on #72
@muazmian
I got this when I tried with an invalid api-version: "The supported api-versions are '2017-04-24-preview,2017-06-30-preview,2017-11-30"

Looks like 2017-04-24-preview is still the best version for me as the others didn't even recognize my subscription. Looks like this issue is related to [Azure/azure-sdk-for-java#1975](https://github.com/Azure/azure-sdk-for-java/issues/1975). could you t

[2017-12-01 06:48] sgireddy commented on #72
@muazmian @anuchandy

Microsoft.Consumption has been under preview since April, your own api-version says its NOT preview anymore and yet you are no where to help!

Asking somebody to give up just because you can't fix an issue is perhaps the most cowardice act for any conscious developer. I wish you guys show some empathy towards fellow professionals. I wasted weeks of my precious time.

@microso

[2017-12-01 22:08] anuchandy commented on #72
@sgireddy, I had a chat with @muazmian and others owning the service. The usage data provided by the `preview` version of consumption service is not that useful and service team is deprecating the `preview` version in favor of stable version. The new version of service is being deployed and should be functional by mid of Dec 2017. We have updated version of sdk client which is based on this stable

[2017-12-05 19:11] asuresh4 opened #78 "Azure Manager for Monitor"
Hi,

QUESTION: I see that there's code for Monitor service in this repo here: https://github.com/Azure/azure-libraries-for-java/tree/master/azure-mgmt-monitor/src/main/java/com/microsoft/azure/management/monitor. But I don't find any documentation related to monitor here: https://azure.github.io/azure-sdk-for-java/overview-summary.html. Is it not supported?

Thanks!

[2017-12-06 18:58] hovsepm commented on #78
Monitor service is available as Beta package in Java which does not fully implement Fluent interface pattern. It was mainly released to unblock customers who are currently blocked on the absence of Java SDK of any kind for Monitor Service. As a workaround for now you could check documentation for Monitor services in [other language SDKs](https://docs.microsoft.com/en-us/azure/#pivot=sdkstools&pane

[2017-12-06 19:08] hovsepm commented on #78
@jianghaolu could you provide steps on how to reference Stub Package in the project?

[2017-12-06 21:50] anuchandy commented on #78
Jianghao is out of office this week.

The stub package can be used by adding following reference to POM:

[code]

Generated code can be consumed as:

[code]

[code]

[2017-12-07 15:53] asuresh4 commented on #78
Thank you @hovsepm and @anuchandy ! I'll have a look at this. However, would it also be possible for you to give an idea of when this would be available as part of the primary package? Thanks again guys!

[2017-12-08 15:41] malkochoglu opened #84 "Proxy is not propagated in ProviderRegistrationInterceptor"
Hi,
I am in a corp network and have to use Proxy. As far as I see even I set the proxy at the beginning using .withProxy, it is not propagated in the ProviderRegistrationInterceptor's intercept method. RestClient which is created in this block does not have proxy anymore on it.

            if (cloudError != null && "MissingSubscriptionRegistration".equals(cloudError.code())) {
                Pat

[2017-12-13 01:24] mhamilton723 opened #98 "Issues with Jackson dependencies"
Hey, I am having some trouble using this library in a project that also depends on spark. The issue is that this library requires a jackson parser that is > 2.7.0 which conflicts with spark. Would it be possible to shade this dependency as it is a common one that causes issues across libraries? Thanks so much for your help!

[2017-12-15 08:31] kesder opened #106 "Using a proxy when connecting to Azure (via AAD, Adal)"
Using the following lines of code we are trying to connect to Azure (using ApplicationTokenCredentials) through a proxy server which requires username / password. It seems the SDK is able to initially connect to Azure but fails when logging on using the AdalOAuthRequest.

[code]

Stacktrace:
[code]

For comparison: When setting the same proxy globally everything works fine:
[code]
Unfortunately th

[2017-12-22 19:06] assafmendelson opened #110 "withParameters not working properly"
While trying to deploy from a template as follows:

[code]

I get an error:
`
The request content was invalid and could not be deserialized: 'Error converting value \\\"https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#\\\" to type 'Microsoft.WindowsAzure.ResourceStack.Frontdoor.Data.Definitions.DeploymentParameterDefinition'. Path 'properties.parameters.$schema', li

[2017-12-28 19:11] jianghaolu commented on #110
`withTemplate()` and `withParameters()` takes a JSON object or a serialized JSON string. If you have a URL you need to use `withParametersLink()`. If you have a local file you need to read it into a string first.

[2018-01-03 14:03] JakubJecminek opened #112 "Database export"
Hi,
is there method somewhere in com.microsoft.azure.management for export of azure sql database?
We were unable to find any method for this except com.microsoft.azure.management.appservice.DatabaseBackupSetting which just specifies parameters.

We want to create backup of our azure database from our custom java application using your java library.

With best regards,
Jakub

[2018-01-04 21:43] mdzz opened #113 "toString() method returns enum name instead of value"
A change introduced in 1.5.0 (link: https://github.com/Azure/azure-libraries-for-java/commit/1615dc2224861adc1f457744410d28274ce4cf89) incorrectly dropped the `toString()` method override for some enum classes (e.g. `VirtualMachineSizeTypes` & `IPVersion`) while correctly returning value for some other enum classes (e.g. `RollingUpgradeActionType`). As a result the affected enum classes returns th

[2018-01-05 17:46] sgireddy commented on #72
@anuchandy Seems the latest release fixed this issue. Thank You.

[2018-01-05 17:46] #72 closed

[2018-01-09 01:20] jdneo opened #114 "get NPE when calling Azure.webApps().list()"
https://github.com/Azure/azure-sdk-for-java/issues/2003

sdk version:
![e9d8778b](https://user-images.githubusercontent.com/6193897/34555956-607f64a8-f16f-11e7-9769-7235ff9088dd.PNG)

stacktrace:

[code]

The subscription used is in MoonCake.

[2018-01-09 01:20] Eskibear commented on #114
Same with SDK version 1.5.1:

![image](https://user-images.githubusercontent.com/2351748/34594497-66b568ac-f20c-11e7-95a2-72f0e33fd3b3.png)

[code]

[2018-01-11 11:18] niteshjain1 opened #117 "attach public ips to vmss instances"
I am trying to create a vmss with an internal load balancer and no external load balancer. I wish to attach public ips to all instances. Is there support in the sdk (v1.5.1) for this.

[2018-01-12 20:34] paulojohnj commented on #98
Any solution or ideas here? I am getting the same error, but from a slightly different path.

[2018-01-12 23:36] anuchandy commented on #117
@niteshjain1 this is yet to be enabled via fluent, to unblock now, can you try?

[code]

[2018-01-13 12:57] niteshjain1 commented on #117
Thanks, it helped.

[2018-01-16 18:52] #117 closed

[2018-01-18 08:27] jatins opened #121 "Azure Database Threat Detection Policies API available in SDK?"
I am interested in using this API:
https://docs.microsoft.com/en-us/rest/api/sql/databasethreatdetectionpolicies/get

Is this available via SDK?

Also, in _general_ what is a good way to figure out is a particular API is available in SDK. Currently, I press `Ctrl + Space` and judge from autocomplete suggestions which isn't very, umm, scientific.

[2018-01-19 02:21] JonathanGiles opened #126 "Compilation fails due to unit test failures"
In a newly cloned directory, I receive unit test failures when compiling this project. They appear to be failures in the Microsoft Azure SDK for Resource Management. The errors I receive are summarised below:

[code]

[2018-01-22 18:33] TimLovellSmith commented on #5
@hovsepm @martinsawicki  ping - I'm having to work around this again. This would still be nice to have, and I think its just goodness in general not needing to have to fetch resources in order to use apis which just take a resource id.

[2018-01-22 20:19] RikkiGibson commented on #126
It looks like parts of the trace are cut off, but perhaps it's necessary to run `mvn jetty:run` in a separate terminal when running these tests? That's the only thing I can think of that you'd be connecting to when testing by default.

[2018-01-22 20:33] JonathanGiles commented on #126
Thanks - running `mvn jetty:run` was what I was missing. This doesn't appear to be documented anywhere - perhaps it should be (or even better, can this just be done automatically as part of the test initialization?)

To answer your question - it was to do a `mvn clean package`, which includes running the tests.

[2018-01-22 23:01] TimLovellSmith commented on #5
@hovsepm @martinsawicki Actually I'm trying out 1.4.1 and looks like there is an overload which fixed this issue now. Hooray and thanks!
                        .WithExistingSubnet(vnet.Id, subnetName)

Does this mean you fixed it in java too?

[2018-01-24 00:34] hovsepm commented on #5
@TimLovellSmith our development process starts from Java that is why feature request issues are routed here. Then C# is aligned with the Java features. So if you find a method in C# it means that Java also have it :)

[2018-01-24 03:47] debadarsini123 opened #136 "ActivityLogsInner list api are not fetching next page."
The response which is coming from restful api has attribute name "nextLink".But the pojo to which response is converted to has attribute name "nextPageLink". Hence next page is never set and next page never retrieved.

[2018-01-24 03:48] debadarsini123 commented on #136
I can modify the code to fix this issue. Please assign the issue to me.

[2018-01-24 18:46] hovsepm commented on #136
@debadarsini123 this is a part of auto-generated code. This needs to be fixed either in the Monitor Spec or in the generator.

[2018-01-25 03:09] debadarsini123 commented on #136
@hovsepm Okay so can we expect a fix anytime soon? Or it will take time for the fix.Could you also point me to the generator code?

[2018-01-25 18:30] hovsepm commented on #136
@debadarsini123 https://github.com/Azure/autorest.java is the landing page for java generator. Cannot promise any date for the fix yet. Will need to take a closer look to the root cause.

[2018-01-25 19:01] anuchandy opened #140 "Enable compute run command"
Compute has an API to run command on a virtual machine (without installing custom script).

Work Items:

1. Enable fluent method for this
2. Update the existing [sample](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-samples/src/main/java/com/microsoft/azure/management/compute/samples/ManageUserAssignedMSIEnabledVirtualMachine.java) that uses inner for this today to use new me

[2018-01-30 12:24] manuelmazzuola opened #150 "Access to the VM serial log"
Is it possible to donwload the serial log of the VM?
I've created a VM with ` .withBootDiagnostics()` but when I try to access to the uri provided by `azure.virtualMachines().getById(myVM.id()).instanceView().bootDiagnostics().serialConsoleLogBlobUri()` it says
[code]

[2018-01-30 18:36] anuchandy commented on #150
You should be able to retrieve the base storage uri from the below getter

[code]

In this storage account look for a container with name starts with `bootdiagnostics-` and end with vmId. vmId can be retrieved as:

[code]

[2018-02-01 09:31] Nighthawk22 opened #154 "Azure SQL Point in Time restore"
Hello,

I searched a lot for doing a point in time restore with the Java library but I could not figure out exactly how.
All I found is the `CreateMode.POINT_IN_TIME_RESTORE` and my first approach is this one:

[code]

But I additionally need to define the point in time.

Is it possible to do with the Java lib?

Thanks,
With regards,
Nighthawk

[2018-02-01 12:31] gitorko opened #155 "Option to specify an 'SSLContext' in Azure clients"
Using a truststore which gets certs loaded at runtime. Hence want to provide a SSLContext & HostnameVerifier to the RestClient is there a way if i use the RestClient approach?

RestClient restClient = new RestClient.Builder()
                    .withSerializerAdapter(new AzureJacksonAdapter())
                    .withBaseUrl(AzureEnvironment.AZURE, Endpoint.RESOURCE_MANAGER).withCredentials(cred

[2018-02-01 22:40] milismsft commented on #154
Hi @Nighthawk22, I'll take a look and let you know.

[2018-02-05 08:58] ardias opened #160 "JsonMappingException when deserializing CloudError"
Hi,
I'm getting a JsonMappingException error when using FunctionApps:

`com.fasterxml.jackson.databind.JsonMappingException: Can not construct instance of com.microsoft.azure.CloudError: no String-argument constructor/factory method to deserialize from String value ('{"Code":"NotFound","Message":"Cannot find Subscription with name 70c0604f-f262-4137-aeec-88f3694df37f.","Target":null,"Details":[{"M

[2018-02-05 13:12] ardias opened #161 "NullPointerException when listing metric definitions"
Hi,
MetricDefintionsInner is throwing NullPointerException when the resource does not exist.
When I call method `list(resourceUri)` and the resource does not exist then the `body()` of the response is null and there is a call to `items()`, throwing the aforementioned NullPointer:
The line is this one :

https://github.com/Azure/azure-libraries-for-java/blob/eb53b57acb4b7d9bfee8ad01ba4abb5f558b436b

[2018-02-05 22:10] hovsepm commented on #161
@ardias please upgrade to 1.6 and let me know if you are still hitting this issue. We regenerated Monitor in that release.

[2018-02-06 09:07] ardias commented on #161
@hovsepm thanks, but I cant seem to find version 1.6. Master is still on 1.52-SNAPSHOT form what i can see. Can you point me to the version you're referring to?

[2018-02-06 09:14] Nighthawk22 commented on #154
Hey @milismsft, do you already have an answer for me?

[2018-02-06 09:18] ardias commented on #160
I've looked a bit further and the problem seems to be in class CloudErrorDeserializer of azure-client-runtime (repo autorest-clientruntime-for-java). ProviderRegistrationInterceptor directly calls the AzureJacksonAdapter with the  string content of the response body.

https://github.com/Azure/azure-libraries-for-java/blob/e4e92c78978254fdb8490f5ff304ee37b2d77fbe/azure-mgmt-resources/src/main/java/

[2018-02-06 20:09] jianghaolu commented on #161
@ardias Try looking for it on search.maven.org. We are still preparing out announcement blog but you should be able to start using it today!

[2018-02-07 08:37] ardias commented on #161
@jianghaolu Thanks. I'll try it out and comment here with the result.

[2018-02-07 09:10] ardias commented on #161
Hi @jianghaolu
I've just tested with version 1.6 and it still fails. The "body()" of the result is still null, so when creating the ServiceReponse with "result.body().items()" it throws the NullPointer. Line 122 on MetricDefinitionsInner.java

Apart from that, the interface is now cleaner and looks a lot better. Kudos!

[2018-02-07 11:35] gitorko commented on #155
Using the following code, we use a custom trust store to which cert are imported at runtime. After a restart the code works fine. However the first time after the cert are imported it throws the below error. The acquireAccessToken uses a  new AuthenticationContext with no option to set the sslSocketFactory at runtime there by causing the error.  We printed the certs in truststore at runtime and af

[2018-02-07 18:28] hovsepm commented on #161
@ardias thanks for info. I'll schedule the fix for the nearest release.

[2018-02-08 11:20] gitorko commented on #155
Have posted this pull request to address the issue.
https://github.com/Azure/autorest-clientruntime-for-java/pull/373

[2018-02-08 21:42] hovsepm commented on #126
Issue addressed.

[2018-02-08 21:42] #126 closed

[2018-02-08 21:44] hovsepm commented on #110
Issue addressed.

[2018-02-08 21:44] #110 closed

[2018-02-08 21:48] hovsepm commented on #78
ActivityLogs and Metris were shipped with v1.6. We are working on the other areas and they will be included in upcoming releases.

[2018-02-08 21:48] #78 closed

[2018-02-08 21:49] hovsepm commented on #67
Fixed in 1.6.

[2018-02-08 21:53] hovsepm commented on #66
Shipped recently to maven - http://search.maven.org/#search%7Cga%7C1%7Ca%3A%22azure-mgmt-datalake-store%22

[2018-02-08 21:53] #66 closed

[2018-02-08 21:57] hovsepm commented on #13
Seems to be fixed.

[2018-02-08 21:57] #13 closed

[2018-02-08 22:00] hovsepm commented on #10
Monitor was added in v1.6

[2018-02-08 22:00] #10 closed

[2018-02-11 21:10] JonathanGiles opened #171 "Unable to build JavaDoc due to dependencies on SNAPSHOT releases that are not publicly hosted"
A fresh clone of the azure-libraries-for-java project can not be built by running `mvn javadoc:javadoc` because there is a dependency on snapshot builds that are not available in any repository referenced by the pom. As of now, the first failure I encounter is the following:

`[ERROR] Failed to execute goal on project azure-mgmt-storage: Could not resolve dependencies for project com.microsoft.azu

[2018-02-11 21:16] JonathanGiles commented on #126
I've filed https://github.com/Azure/azure-libraries-for-java/issues/171 for the issue of depending on snapshot builds. It would be great to resolve this so that a fresh clone on a 'virgin' machine can always build JavaDocs.

[2018-02-12 03:24] harindersingh861 commented on #66
This shows the latest version is 1.0.0-beta1.4. But we are on 1.6 now. Looks like a very old version got published.

[2018-02-12 03:27] ro-joowan commented on #66
@harindersingh861 This is most likely because ADLA and ADLS are not in track with the rest of the libraries yet, as it does not have fluent support.  The plan is to integrate fluent soon.

[2018-02-12 14:58] manuelmazzuola opened #172 "Missing marketlace ordering client"
The marketplace ordering client and the create agreements terms api are missing.

[2018-02-12 19:16] anuchandy commented on #171
@JonathanGiles  thanks for reporting. Looks like the `1.6.1-SNAPSHOT` bits are not published to soma-type, will do that.

[2018-02-12 20:18] JonathanGiles commented on #171
Thanks! Is there a way to ensure that we always get these snapshots published, perhaps a CI build of the latest snapshot?

[2018-02-12 20:19] JonathanGiles commented on #171
For my reference, here is where I need to check to see when the bits are published: https://oss.sonatype.org/content/repositories/snapshots/com/microsoft/azure/azure-mgmt-resources/

[2018-02-12 23:29] anuchandy commented on #171
@JonathanGiles there is a CI task that publishes the snapshots daily (I guess or at least weekly), I need to see what went wrong with that task.

[2018-02-12 23:30] JonathanGiles commented on #171
Thanks. I've observed that a few teams have similar problems - I guess I will bring this up with each of them so that we can be sure the snapshots are always publicly available.

[2018-02-13 06:24] umbrant opened #173 "How to get AKS access profiles?"
Hi,

I'm trying to get the kubeconfig files for a cluster after it's been created. I can do this on the CLI as follows:

https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az_aks_get_credentials

Is there a way of doing this with the Java API? I see some mentions in ManagedClusterInner but it doesn't seem hooked up.

Thanks,
Andrew

[2018-02-13 18:17] anuchandy commented on #171
@JonathanGiles the job to publish snapshots were failing because of the absence of snapshotRepositiry entry in the POM that point to sonatype repo. Just opened a [PR](https://github.com/Azure/azure-libraries-for-java/pull/175) to fix this. Will re-run the job once this PR is merged.

[2018-02-13 19:10] milismsft commented on #173
Use KubernetesCluster.adminKubeConfigContent() or KubernetesCluster.userKubeConfigContent(); there is recent a service change though that causes the version 1.6 or earlier of the Java SDK to fail getting the expected content. A fix was already pushed in the live repo and it will be there in v1.7 (eta release is March 2018).
For more info on how to use this service take a look at the sample code: h

[2018-02-13 19:10] #173 closed

[2018-02-13 20:13] JonathanGiles commented on #171
Thanks for fixing! I see the PR is merged now too.

[2018-02-13 20:35] JonathanGiles commented on #171
Do you have any visibility on when to expect the snapshot to next be published?

[2018-02-14 20:01] umbrant commented on #173
Hey milis, is the fix for this present somewhere in the GH repo? I tried using master (1.6.1-SNAPSHOT) but it still doesn't seem to work.

Any hope of getting it ported to master if not?

[2018-02-14 20:06] milismsft commented on #173
Yes, it should be part of the https://github.com/Azure/azure-libraries-for-java/pull/153 PR payload.

[2018-02-14 20:50] umbrant commented on #173
Thanks for the pointer. I did some more digging and believe I found an issue:

https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-containerservice/src/main/java/com/microsoft/azure/management/containerservice/implementation/KubernetesClusterImpl.java#L84

I think this should be setting adminKubeConfigContent instead. Getting the userKubeConfig works fine.

[2018-02-14 20:56] milismsft commented on #173
Yes, you are right; and thanks for finding the bug and helping with the fix.

[2018-02-15 20:12] anuchandy commented on #171
@JonathanGiles the v1.6.1-SNAPSHOTs are published.

[2018-02-16 16:45] milismsft commented on #154
@Nighthawk22 The current implementation is incomplete; to set a "point in time" as the source of the database create there's one more property that needs to be set, "restorePointInTime".
I just finished the implementation to create a database from a "RestorePoint" and tentatively have it released in the next update of the SDK. Meanwhile if you are blocked, you can try the unsupported path which is

[2018-02-16 16:59] milismsft commented on #121
Hi @jatins, unfortunately this API is yet to be implemented; tentatively I will expect it to be available within the next two releases (end of March).

Regarding the second question, yes Ctrl+Space should give you a good indication of the available API's; also taking a look at the unit tests and the samples in the repo could be very useful (we try to have 100% test/sample coverage of the API surfa

[2018-02-16 17:01] milismsft commented on #112
Exporting a database functionality will be available in the next release (tentatively end of February).

[2018-02-16 23:35] lenala opened #180 "After adding MSI, playback tests run increased from 8 minutes to 25"
Because of delays somewhere in the code, after adding MSI module running time for playback tests increased from 8 minutes to 25 minutes.

[2018-02-17 00:04] anuchandy commented on #180
Addressed in the PR https://github.com/Azure/azure-libraries-for-java/pull/181

[2018-02-17 00:25] anuchandy commented on #180
@lenala PR is merged, hence closing the issue. thanks for reporting!

[2018-02-17 00:25] #180 closed

[2018-02-18 05:35] npeuser opened #182 "WebApp update failing with password validation when using existing AppServiceCertificateOrder"
We have the following code that tries to update an existing WebApp with an existing AppServiceCertificateOrder.

`AppServiceCertificateOrder certificateOrder = azure.appServices().certificateOrders().getById(OUR_APPSERVICECERT_ID);
webApp.update().defineSslBinding()
                       .forHostname(OUR_HOSTNAME)
                       .withExistingAppServiceCertificateOrder(certificateOrder)

[2018-02-18 07:15] JonathanGiles commented on #171
Even with this published I still get errors when running `mvn javdoc:javadoc` - are some of the subprojects not referencing the snapshots repo? Can you try running this from the root of the project and let me know if it works for you (and maybe also, if it works if you have an empty m2 directory)?

[2018-02-19 11:56] FinVamp1 opened #183 "WebApp: Addding Source Control may fail intermittently if the request is sent while the SCM\Kudu WebSite is restarting."
## Issue Description:
The customer is using the Azure Management Libraries for Java to create a Function App.

`            oSvcMgr = m_oCliLong.appServices();
            oFctApps = oSvcMgr.functionApps();
            oFctApp = oFctApps.define(zFctID)
                               .withRegion(AzureDefs.AZURE_REGION)
                               .withNewResourceGroup(zResGroup)

[2018-02-20 15:56] ardias opened #184 "Azure Consumption list does NOT observe the Top parameter"
Hi,
When using `ConsumptionManagementClientImpl.list(final String scope, final String expand, final String filter, final String skiptoken, final Integer top)` to fetch usage data, when the **top** parameter is used to limit the number of results (for example 10) does not stop at the specified number or results, like the azure command line does, and keeps fetching data.
This seems to be because the

[2018-02-20 17:34] justinchenusa opened #185 "1.6.0 Build on Maven repository question"
Not sure if this is the right place but not sure where to ask this question.

We tried to use the following Azure SDK from maven repo.
https://mvnrepository.com/artifact/com.microsoft.azure/azure/1.6.0

It appears that the SDK 1.6 on maven repo depends on 1.3 of azure-client-runtime and azure-client-authentication and annotations 1.2 is used.

We saw some warnings on SinceVersion enum constants, V

[2018-02-20 19:46] milismsft commented on #185
hmm, this looks like a bug actually; the azure-client-runtime should refer to the latest version on the azure-client-authentication, in this case version 1.5.1 I think.

@justinchenusa yes, you should be able to use a newer version of the azure-client-authentication; my recommendation is to force exclude it in the pom when specifying the azure-client-runtime dependency:
`    <dependency>
        <

[2018-02-20 20:01] milismsft commented on #185
Going forward we will try to remove the annotation library dependency from the runtime library.

[2018-02-20 20:45] hovsepm commented on #171
confirmed. On Ubuntu 16 hitting the failure with the latest repo code:
[code]

however `mvn package javadoc:aggregate -DskipTests=true -q` runs without errors.

[2018-02-20 20:52] justinchenusa commented on #185
Thank you for your answer.
The warnings are not gone after excluding the annotations from the SDK and to include the annotations 1.6 explicitly in my POM.

[2018-02-20 20:53] hovsepm commented on #184
this seems to be AutoRest java codegen issue.

[2018-02-20 20:55] hovsepm commented on #172
@manuelmazzuola which package this relates to?

[2018-02-20 21:39] hovsepm commented on #171
@JonathanGiles here are the steps that work:
[code]
basically you will need to create a local snapshot first to resolve cross package dependencies. Or just use `mvn package` equivalent that I pointed out above cause you most probably would generate a single aggregated javadoc from the current version, right?

[2018-02-20 21:41] JonathanGiles commented on #171
Right - I'm mostly interested in a single aggregated javadoc, but I'm also keen to ensure that we can always easily build javadocs from a fresh clone of any repo (without too much trickery). Is there any way this requirement can be baked into the maven pom to run before the javadoc:javadoc / javadoc:aggregate targets?

[2018-02-20 21:55] JonathanGiles commented on #171
When I run `mvn install javadoc:aggregate -DskipTests=true` (without the -q flag) I see a a few errors (and a number of warnings) at the end of the process regarding javadoc report generation. The errors are all in `ManageBatchAI` and look like easy fixes. Do you want me to submit a PR to resolve these?

When I then run `mvn javadoc:javadoc` I get a the build failure due to these warnings in `Mana

[2018-02-20 22:02] JonathanGiles commented on #171
I'll submit a PR shortly.

[2018-02-20 22:03] RikkiGibson commented on #184
Hi @ardias, could you tell me which method on which class specifically has the issue, since ConsumptionManagementClientImpl itself does not have a `list` method?

For a short-term workaround to list a small number of items you may wish to try `listSinglePageAsync(...).toBlocking().single()`.

In our autogenerated code we don't have any special recognition of the `top` parameter --- we don't know t

[2018-02-20 22:08] JonathanGiles commented on #171
PR is available for review here: https://github.com/Azure/azure-libraries-for-java/pull/186
Once this is merged I'll update my azure-javadocs project to include azure-libraries-for-java using the approach above. Thanks.

[2018-02-20 22:26] ardias commented on #184
BTW, I can limit the results using the filter, with start and end dates. The top parameter, for me at least, it not that important. I just noticed that it wasn't working as the AZ cli tool.

[2018-02-20 22:27] RikkiGibson commented on #184
OK. Interesting behavior. Also wondering: is the client making requests using the same nextPageLink repeatedly or using the most recently received nextPageLink for each request?

[2018-02-20 22:29] ardias commented on #184
I think it's using the one received from the response for each page, but I have to confirm it later since I'm not at the computer now.

[2018-02-20 22:48] hovsepm commented on #171
thanks for the fix. It is merged.

[2018-02-20 23:26] JonathanGiles commented on #171
Thanks for the quick merge. I've updated the azure-javadocs project to support this repo and there is [already a generated build](https://jonathangiles.github.io/azure-javadocs/index.html?overview-summary.html) including the extra APIs. Unfortunately, there is an issue building something under JDK 9, so I've dropped the javadoc output to be performed using JDK 8 (which is a shame as we lose search

[2018-02-21 00:24] hovsepm opened #188 "root level pom.xml should exclude stub packages from the javadoc generation"

[2018-02-21 08:09] manuelmazzuola commented on #172
@hovsepm the corresponding of https://github.com/Azure/azure-sdk-for-node/tree/master/lib/services/marketplaceorderingManagement

[2018-02-21 09:09] ardias commented on #184
Update: after looking at the code and a bit of debugging I can confirm that the client is using the nextPageLink that comes in the response for each request, ie, the most recent. Can also confirm that the **top** parameter is always included (and the **skiptoken** parameter value is different every time).

[2018-02-21 13:09] Nighthawk22 commented on #154
Sadly there is no `withRestorePointInTime` method inside the DatabaseInner. At least in version 1.6.0.

[2018-02-21 18:26] hovsepm commented on #172
@manuelmazzuola thanks for clarification.

[2018-02-21 18:43] RikkiGibson commented on #184
Thank you for looking into that. It seems like will be more than a bugfix on our side. Either the service behavior would need to change or we would need to manually wrap ConsumptionManagementClientImpl to gracefully handle the top parameter. Please let us know if the `listSinglePageAsync(...).toBlocking().single()` will be sufficient in the short term for your use case.

[2018-02-21 23:03] ardias commented on #184
Sure no problem. For my use case I don't specifically need the top parameter, so I can live fine with the current implementation.
You can close the issue if you want.

[2018-02-21 23:51] anuchandy opened #192 "[Discussion] EventHub Auth Rules: merging withPolicyEnabled and forExistingNamespace"
@hovsepm one issue came into mind here is, if we merge these two then the typing experience would be

[code]

i.e. user will see 9 methods after the first dot. With the current approach user will see 3 options after first dot

[code]

then after second dot 3 options

[code]

So it's a trade-off between experience `during typing` vs `after typing`.

Work item:

if we agree to merge this then -> wor

[2018-02-22 00:46] justinchenusa opened #193 "[Question] Ways to determine availability/health status of a GenericResource?"
We are using Azure SDK 1.6 from [mvnrepository](https://mvnrepository.com/artifact/com.microsoft.azure/azure/1.6.0) and want to get metric values only when a resource is healthy/available/online.

There are methods, such as <i>VirtualMachine.powerState()</i> and <i>SqlDatabase.status()</i>, seems to provide what is needed.  But, if we are getting MetricDefinitions out of a GenericResource, in whic

[2018-02-22 01:02] hovsepm commented on #193
@justinchenusa did you take a look to MetricDefinitions and Metrics under Monitor package? we have a sample of the usage [here](https://github.com/Azure-Samples/monitor-java-query-metrics-activitylogs/blob/master/src/main/java/com/microsoft/azure/management/monitor/samples/QueryMetricsAndActivityLogs.java#L93)

[2018-02-22 04:20] anuchandy commented on #192
Ok, had a extensive discussion with @milismsft, @selvasingh. Trying to come up with a general pattern for the structure of child definition. The proposed pattern is:

[code]

The `define()` on the child MUST followed by a `ParentRef` stage.  `ParentRef` stage provide ways (explained later) to refer the parent. All the withers for the properties of the child  MUST follow this stage.

The `ParentRef

[2018-02-22 06:19] milismsft commented on #192
@anuchandy let's start getting all these guidelines/documentation into a proper place so we know where to look for it; per an early conversation with @selvasingh we should create a new folder "dev-notes" where we can start building a collection of documents we can use as references in future implementation.

[2018-02-22 06:40] anuchandy commented on #192
@milismsft definitely, i'm will be doing that once I park v1.7 deliverables. Will copy over the above pattern description to dev-notes.

[2018-02-22 07:25] anuchandy commented on #192
initial notes here https://github.com/Azure/azure-libraries-for-java/pull/195, we'll be adding more existing patterns to this md, after adding bunch of patterns we can start thinking of organizing them in better way.

[2018-02-22 19:31] justinchenusa commented on #193
@hovsepm thank you for your answer.  I started w/ some samples to collect metrics and can get metric on resources configured for our test account.

The tests are to enumerate on GenericResources, then to get MetricDefinitions by <i>azure.metricDefinitions().listByResource(genericResource.id())</i>, and then walk the path to get metric value as shown in your sample.

It seems that a resource health

[2018-02-22 23:56] hovsepm commented on #193
Unfortunately we do not have a code for the ResoucreHealth for Java yet. However we have a service specification [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resourcehealth/resource-manager/Microsoft.ResourceHealth/stable/2017-07-01/resourcehealth.json).

@selvasingh could you take a look to the current request for ResourceHealth Java package in future releases?

[2018-02-23 16:12] mrdfuse opened #201 "NPE when listing resources with an invalid subscriptionid"
Found following bug on my first test with this library (in Groovy):

`import com.microsoft.azure.AzureEnvironment
import com.microsoft.azure.credentials.ApplicationTokenCredentials
import com.microsoft.azure.management.Azure

// authentication according to: https://github.com/Azure/azure-libraries-for-java/blob/master/AUTH.md
def client = "xxxxxxxxxxxxxxx"
def tenant = "xxxxxxxxxxxxxxx"
def key =

[2018-02-23 20:21] UlisesTJ opened #202 "Spanish translation"
Hi, I would like to collaborate with your project by serving as a translator into Spanish (which is my native language). This would serve as support to the Spanish-speaking community

[2018-02-23 21:21] milismsft commented on #154
Hi @Nighthawk22 I just merged a PR with a number of updates to SQL implementation; creating a new database form a point-in-time restore is one of the new features in this update. We are planning to release these updates very soon; please take a look and let me know if that works for you. In particular it will be great if you have any feedback based on the sample code at https://github.com/Azure/az

[2018-02-23 21:23] milismsft commented on #121
@jatins https://github.com/Azure/azure-libraries-for-java/pull/196 should address the missing feature.

[2018-02-23 21:23] #121 closed

[2018-02-23 21:24] milismsft commented on #112
@JakubJecminek https://github.com/Azure/azure-libraries-for-java/pull/196 adresses this missing feature.

[2018-02-23 21:25] #112 closed

[2018-02-23 21:26] milismsft commented on #9
https://github.com/Azure/azure-libraries-for-java/pull/196 adresses this issue.

[2018-02-23 21:26] #9 closed

[2018-02-23 21:27] milismsft commented on #7
https://github.com/Azure/azure-libraries-for-java/pull/196 adresses this issue/request.

[2018-02-23 21:27] #7 closed

[2018-02-28 06:16] anuchandy commented on #192
closing this since the pattern is well documented now (see previous comment).

[2018-02-28 06:16] #192 closed

[2018-02-28 22:34] anuchandy opened #212 "Simplify the ancestors type"
We have [multiple concrete ancestor type](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-eventhub/src/main/java/com/microsoft/azure/management/eventhub/implementation/Ancestors.java) for each level, we can simplify this by having one ancestor type with following properties-

1. A ctr that takes the level enum and ResourceId.
2. Second ctr that takes resource group name an

[2018-03-01 19:58] devszr opened #216 "Deleting accesspolicy with azure-mgmt-keyvault API"
Hi,

I have been able to successfully add accesspolicies using the azure-mgmt-keyvault API, however, I haven't found a way to remove an access policy. Something on the lines of

`azure keyvault delete-policy <vault> --object-id <obj_id> `

with the Azure CLI.

If a method exists, please point me to where I can get documentation on the same.

Thanks.

/D

[2018-03-01 22:29] hovsepm opened #217 "[Design]: SQL Database flow has ImportFrom sub-flow which does not have clear flow end stage"
here is the sample from CR:
[code]

I think it would be better to have define.....Apply/Attach flow instead of ImportFrom which I read as a single statement and then the next line `WithSqlAdministratorLoginAndPassword` for me is related to database definition and not to Import configuration.

[2018-03-01 22:56] hovsepm commented on #217
src\ResourceManagement\Sql\SqlDatabaseExportRequestImpl.cs, line 49:
[code]
pass cancellationToken.

[2018-03-02 01:39] milismsft opened #218 "Refresh/RefreshAsyc should through if inner is null"
This is for consistency with the CSharp behavior where in case "resource not found" an exception is thrown.
And since it's a breaking change we should plan this for the next major version release.

[2018-03-02 19:51] milismsft opened #219 "Sql server version returns an enum value rather than a string value"
When calling sqlServer.version() the return is an enum value rather than a simple string type. This enum value cannot be used anywhere else (i.e. SQL creation/update does not use it) and it's only informational data regarding the SQL server the service will create. The user will have to converted to a String anyway in order to make it useful.

[2018-03-02 19:55] milismsft commented on #219
PR https://github.com/Azure/azure-libraries-for-java/pull/196 addresses this issue. Because the returned type was changed, this is a breaking change in a GA'ed API; however the impact on the end user should be minimal.

[2018-03-02 19:55] #219 closed

[2018-03-04 08:44] npeuser opened #224 "Creating appsettings/connectionstrings on slots does not work with new configuration"
We are trying to use AppService Deployment slots to enable zero downtime replacements in Azure. As part of this, we are trying to create deployment slots with new configuration, like this:

`DeploymentSlot azureSlot = azure.webApps().getByResourceGroup(RG_NAME, WEBAPP_NAME)
                 .deploymentSlots()
                     .define(SLOT_NAME)
                        .withBrandNewConfiguratio

[2018-03-05 09:35] Nighthawk22 commented on #154
Hi @milismsft,
First of all thanks for the release and the made changes.
The sample code is very good to read and understandable but I have still one thing where I can not get my head around.

I need to restore the database from lets say 5 minutes ago. My idea was that with `database.listRestorePoints()` I would get all possible restore points. But I always get one (the first one), no matter how o

[2018-03-05 17:45] milismsft commented on #154
@Nighthawk22 while there is not direct Fluent path to achieve this, there is a temporary work around that you can try using the latest v1.7 version of the library. For v1.8 I plan to extend the current method with an overload which takes a second parameter, the desired restore time. But for now can you please try the following and let me know if this works for you:

        RestorePoint restorePoi

[2018-03-06 05:41] npeuser commented on #224
I've added a PR for this issue with my proposed solution and added tests.
https://github.com/Azure/azure-libraries-for-java/pull/229

[2018-03-07 06:33] milismsft opened #231 "ResourceManagerThrottlingInterceptor synchronization should be scoped to subscription"
Databricks uses the SDK to manage VMs accross hundreds of Azure subscriptions (Databricks customers) from the same java process. We recently ran into an issue where one customer subscription hit the API limit. The ResourceManagerThrottlingInterceptor then started throttling API calls -- the SDK logs show Azure Resource Manager read/write per hour limit reached. Will retry in: 316 seconds.

This sl

[2018-03-07 06:38] milismsft commented on #231
@jystephan I can confirm that the throttling applies to all the subscriptions unfortunately. I'll investigate this further and see if we can get a fix for it.

[2018-03-07 07:14] jystephan commented on #231
Thanks for the quick answer @milismsft.

[2018-03-07 18:21] milismsft opened #232 "Document creating specific managers in the README.md"
This is related to https://github.com/Azure/azure-libraries-for-net/issues/200#issuecomment-371219101 to help users understand that they can go through specific managers rather than the "rollup" manager when using our libraries.

I took a look at our samples an some of the tests and most of them use the "rollup" Azure manager.

[2018-03-08 23:42] hovsepm opened #239 "Spec regeneration overwrites package-info.java file erasing package documentation fixes"

[2018-03-09 06:49] jdneo opened #240 "Add a key() method for RuntimeStack"
Currently, the RuntimeStack has a toString() method which looks like to show the displayname of the Runtime.
https://github.com/Azure/azure-libraries-for-java/blob/3685f520d45461cbfe8e131e74336cc5420f1fcb/azure-mgmt-appservice/src/main/java/com/microsoft/azure/management/appservice/RuntimeStack.java

Could it be possible if we add another method(saying: `.key()`) to show the key name of the runtim

[2018-03-12 17:10] npeuser opened #247 "Setting required permissions on App registrations"
Dear Azure SDK Team,

I'm trying to create new app registrations via the API SDK. While creating a registration and service principal works just fine, I am not able to authenticate a user via the newly created app registration, because the delegated permissions are empty when creating it via the SDK (see Screenshot).

![image](https://user-images.githubusercontent.com/2282558/37298404-6dcf5c42-25d

[2018-03-13 08:54] arun24816 opened #259 "ssh key added rather than change on VM/scaleSet"
Using this to change the ssh key of the VM.
linuxVM.update()
                    .defineNewExtension("myextension")
                        .withPublisher("Microsoft.OSTCExtensions")
                        .withType("VMAccessForLinux")
                        .withVersion("1.4")
                        .withProtectedSetting("username","centos")
                        .withProtectedSetting("ssh_k

[2018-03-13 09:29] arun24816 opened #260 "How to change ssh key on Scale Set?"
I was looking for change ssh key of scale set, but dont find any documentation for that.

[2018-03-13 16:32] anuchandy commented on #260
@arun24816 you can use VMAccessExtension to reset the ssh key for an existing user.

[code]

[2018-03-14 01:14] dtretyakov opened #274 "ACI: Remove container from Group"
It is possible to deploy container group with multiple containers, but it is unclear how to remove a container from group via Java SDK.

[2018-03-14 02:38] milismsft commented on #274
the container groups are immutable resources; you cannot remove a specific instance from it but you can instead create a new container group which has only the instances you need.

[2018-03-14 03:49] anuchandy opened #275 "Enable Virtual machine OS Disk swap support"

[2018-03-14 10:12] dtretyakov commented on #274
@milismsft, ok, thanks for explanation.

[2018-03-14 10:12] #274 closed

[2018-03-15 17:58] arun24816 commented on #260
@anuchandy this dont work for scale set.

[2018-03-15 23:07] hovsepm opened #307 "CosmosDB does not have all the required parameter set flow"
[code]
The above code will compile fine but fail with `region cannot be null` exception.

[code]
This one will compile and run without exceptions. Seems like Fluent interface sequence is messed up.

[2018-03-18 12:40] niteshjain1 opened #325 "Get Error code for failed resources"
If I have a long running operation on a resource, i can get the provisioning state to see status. Is there an API to check the status message as well in case of failed provisioning.
Use case, I launched an async operation, and do not have the observable/service future to wait for completion.

[2018-03-18 12:58] niteshjain1 opened #326 "Referencing a key vault secret"
When deploying through a template, we can provide a reference to a key/secret/certificate stored in the vault, without having to actually access the secret. Is such a functionality also available via the SDK ?

[2018-03-18 15:55] milismsft commented on #325
Some LRO operations also have the "begin" corresponding REST API which returns you an object you can later use to inspect the status of the operation. While our "Fluent" implementation does not support this at the moment though, it is available through the "inner" as a "beta" functionality (subject to be changed from one release to the next).

[2018-03-19 18:33] singhkays commented on #275
@anuchandy FYI, the Disk name property in the OS Disk also needs to be set to the name of the ManagedDisk being added

[2018-03-20 00:47] renutz opened #339 "Recovery services full support"
Hi,

When all the APIs from Recovery Services will be finally implemented?

https://docs.microsoft.com/en-us/azure/backup/backup-azure-vms-automation

Thanks

[2018-03-21 05:31] npeuser commented on #182
Since I've started using a local fork of this, I've simply removed the require=true annotation from the CertificateInner.java password property. This seems to do the trick for using an existing AppServiceCertificateOrder.

[2018-03-21 10:20] niteshjain1 commented on #259
@anuchandy / @hovsepm  Is there any update on this ?

[2018-03-22 06:35] ArchangelSDY opened #367 "Can `WebApp.warDeploy()` accept `InputStream` as parameter?"
Hi,

We're integrating war deploy with our Jenkins plugin. However, looks like it only accepts `File` as its parameter[1], which means it must be a real file on local file system. In Jenkins we usually build war files on slaves and read them back as `InputStream` when doing deployment afterwards. Though I can create a temporary file on master machine to work around this, I wonder if it's possible

[2018-03-22 16:56] renutz opened #368 "Client configuration do not honor Timeout params"
We are using latest 1.7.0 with the dependencies. Basically using Compute.

According to the documentation - https://github.com/Azure/azure-sdk-for-java/wiki/Client-configuration - we should be able to configure timeouts for the API calls.

We are customizing the RestClient as

`		return new RestClient.Builder()
		.withConnectionTimeout(120, TimeUnit.SECONDS)
		.withReadTimeout(120, TimeUnit.SECOND

[2018-03-23 08:15] karldmoore opened #377 "VirtualMachineImages getImage with empty version generates ClassCastException"
Whilst the method prevents passing in null values it allows empty String.  If you do this it generates a ClassCastException way down in Jackson deserialization as it doesn't expect an ArrayNode to be provided.  It would make sense to improve the validation of the input parameters.

[2018-03-23 08:18] karldmoore opened #378 "VirtualMachineImages doesn't expose list functionality supported on VirtualMachineImagesInner"
VirtualMachineImages supports retrieving a single image or listing by region but this is very general. Instead the list (search) functionality found on VirtualMachineImagesInner should be exposed to allow the user to find multiple image. Otherwise you have to resort to using reflection or rebuilding the library to expose these (unless there is another way I can't find).

[2018-03-26 15:32] karldmoore opened #386 "Deployments getByResourceGroup generates NPE if name is not found"
If the name of the resource is not found in the resource group instead of generating an exception detailing the resource wasn't found a NPE exception is thrown.
[code]

[2018-03-29 18:24] linchan825 opened #393 "VirtualMachine.provisioningState() should return Enum"
As of today, VirtualMachine.provisioningState() returns a String and I am unable to find what String values it could return. By trail and error, we found a few interesting states but seems that is not the most reliable way to produce stable code.
Please make this to return an Enum and please document the meaning of each State.

Documentation: https://azure.github.io/azure-sdk-for-java/com/microsof

[2018-04-03 12:30] safrazhanas opened #399 "Support for HTTPS in linux web app"
Force http to https in azure web app (linux) is available in portal.
Is this feature ready from java SDK? if not may i know, when is the planned release.

[2018-04-03 16:34] paulojohnj opened #400 "Support for Azure Security Center"
Is there currently support for or a plan for configuration and management of Azure Security Center via the java sdk

[2018-04-03 18:22] rturner3 opened #402 "Provide a Get by ID SDK method which fetches VirtualMachine model and instance views in a single API call"
There is currently no way to retrieve the combined model and instance views of a single Virtual Machine using a Get by ID API call in the SDK. The Virtual Machine Get REST API supports this using the $expand parameter:

https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/get

`Azure.virtualMachines().getById()` and `Azure.virtualMachines().getByIdAsync()` both call the Get API withou

[2018-04-03 21:08] RikkiGibson commented on #184
Got it. Please reopen if you wish to follow up on this. 👍

[2018-04-03 21:08] #184 closed

[2018-04-05 13:33] arun24816 commented on #260
@anuchandy / @hovsepm Is there any update on this ?

[2018-04-05 13:35] arun24816 commented on #259
@anuchandy  / @hovsepm we are waiting for this , any update ?

[2018-04-10 17:27] rturner3 opened #412 "Provide SDK support for Activity Log List API"
It would be helpful to have native SDK support for the Activity Log List API for more seamless integration from Java applications to Azure REST APIs.

https://docs.microsoft.com/en-us/rest/api/monitor/activitylogs/list

[2018-04-10 21:44] jasonbw opened #413 "VirtualMachine.getPrimaryNetworkInterface().internalFqdn() returns `null`"
I'm trying to get the internal (private) FQDN of a VM that is using custom DNS, however, this call to `internalFqdn()` always returns `null`:

[code]

Is this a bug or am I using the wrong method?

Additional information:
- I'm using custom DNS
- I have not tested this with Azure provided DNS.

[2018-04-11 17:44] rturner3 opened #415 "Support Private DNS Zone Creation"
The SDK does not provide a means to designate DNS Zone to create or update as Public or Private via the "zoneType" parameter available in the Create or Update DNS Zones REST API.

https://docs.microsoft.com/en-us/rest/api/dns/zones/createorupdate#zonetype

[2018-04-13 02:53] jdneo opened #417 "[Help Wanted] Is it possible to authenticate with Azure CLI using service principal"
I met an issue that cannot auth with Azure CLI using Service Principal, the steps are:

1. login to azure through service principal (https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli?view=azure-cli-latest#logging-in-with-a-service-principal)
2. Get Authenticated Object through `azureConfigure().authenticate(AzureCliCredentials.create())`

And then when I interactive with Azure, I w

[2018-04-16 18:20] sumangit789 opened #421 "Please share me ,How to invoke a Azure rest api (Rate Card and Usage) from Azure Java SDK"

[2018-04-16 20:32] hovsepm commented on #415
it is shipped with v1.9. Usage sample could be checked [here](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-dns/src/test/java/com/microsoft/azure/management/dns/DnsZoneRecordSetETagTests.java#L121)

[2018-04-16 21:35] rturner3 commented on #412
Yes, this is what I was looking for. I did not find any link for this in the Activity Log documentation so was not aware it was available yet. Thanks!

[2018-04-16 21:35] #412 closed

[2018-04-16 21:39] rturner3 commented on #415
Is there any ETA of when v1.9 is planning on being released?

[2018-04-17 01:03] hovsepm commented on #415
Shipped today.

[2018-04-17 01:03] #415 closed

[2018-04-17 17:17] rturner3 opened #424 "Use ZonedDateTime for ISO-8601 timestamp types"
The ZonedDateTime type was introduced in Java 8 and is functionally equivalent to the Joda DateTime type. Joda itself recommends using the java.time types starting with Java SE 8.

It would be preferable to depend on standard Java implementations for handling ISO-8601 types, as modern Java applications are more and more depending on ZonedDateTime rather than joda libraries for time-related types.

[2018-04-18 20:50] hovsepm commented on #424
This should be solved once Fluent Java SDK will migrate from Java 7 to Java 8.

[2018-04-19 00:09] #161 closed

[2018-04-26 00:13] jasonbw opened #433 "vm.getPrimaryPublicIPAddressId() can throw NPE on edge cases"
I had a VM fail to delete with this status message:
[code]
Note: the VM shows up in the Azure portal Resource Group blade, however when you click on the VM to get more information it shows a "Not found" page. Neither the NIC nor the public IP show up in the RG blade.

And then, when my code tried to delete the NIC attached to it, `vm.getPrimaryPublicIPAddressId()` threw a `NullPointerException`:
[

[2018-05-07 06:23] niteshjain1 opened #438 "Enable service endpoints"
Is there any method to enable service endpoints on a subnet via the sdk.
We can do so via a template, but it is overridden if resource is later updated via the sdk apis

[2018-05-07 06:25] niteshjain1 commented on #325
Our requirement is that in case we launched an async operation, but do not have the object to check status of that operation. (Say the process was restarted)

[2018-05-15 08:38] dy10 commented on #232
+1
I would prefer to avoid adding 50 MB of libraries to my war file if all I need is a 1 portion of this library.

[2018-05-16 19:27] spacharya opened #450 "NetworkSecurityRule.sourceAddressPrefix() returns null."
If we have a list seperated IPs in the network security Rule's sourceAddressPrefix, the SDK returns a null instead of the comma seperated IP list.

The doc on the file => https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-batch/src/main/java/com/microsoft/azure/management/batch/NetworkSecurityGroupRule.java#L39-L42
Differs from what is on the portal which allows you to set ip

[2018-05-17 11:24] abayta opened #451 "Add a IpConfiguration in an ApplicationSecurityGroup"
I have searched very much but I haven't be able to find a way to add an IpConfiguration inside an ApplicationSecurityGroup. It is possible from Azure-cli with the following command:

`az network nic ip-config update -g core-services --nic-name vm1-net1923 --application-security-groups core-asg`

And I tried the same from Java SDK:

`azure.networkInterfaces().getById("nicId").update().updateIPConfi

[2018-05-21 23:20] milismsft commented on #438
@niteshjain1 Yes, there is; see https://github.com/Azure/azure-libraries-for-java/blob/master/azure-samples/src/main/java/com/microsoft/azure/management/sql/samples/ManageSqlVirtualNetworkRules.java#L64 as an example on how to do that for SQL Virtual Network Rule settings for instance.

[2018-05-22 15:43] milismsft commented on #307
Fixed in https://github.com/Azure/azure-libraries-for-java/pull/459

[2018-05-25 10:54] cuizhanming opened #464 "Dependency BOM"
Can you support a simple BOM for dependency?
To use one mgmt dependency for example Service Bus, I have to use the root '<artifactId>azure</artifactId>', because of "Azure" root class is there! Then which will import all the others, massive dependencies!

[2018-05-31 07:35] RLejolivet opened #470 "Maven scope in dependencyManagement"
Currently the `commons-io` library is declared with a test scope in the `azure-parent` pom : https://github.com/Azure/azure-libraries-for-java/blob/master/pom.xml#L118

This just caused a rather hard to debug issue for one of my projects where another library used had `commons-io` as a compile dependency (not explicitly set at compile because it is the default), and importing the `azure-parent` "e

[2018-06-08 15:55] #231 closed

[2018-06-08 15:56] #307 closed

[2018-06-11 19:59] apache8080 opened #473 "Can't accept legal terms via the Java Library."
I am trying to create a Virtual Machine via the Java Library and I get the following error:
[code]
When creating a VM with the CLI there is an accept-terms flag that can be passed to solve this issue. Is there a way to do this with Java SDK, if not this would be a nice feature to have.

[2018-06-12 10:00] cristianciutea opened #475 "Azure boot diagnostics metrics"
Is there any code sample of how to get the metric definitions and metrics provided by azure diagnostic extension?

[2018-06-13 15:23] cjemison opened #476 "Documentation on wiki: Authenticate using a service principal"
I noticed that the documentation on the wiki may be incorrect. Please tell me if I am wrong.
[code]
The domain name variable, "constoso.com", is really the tenant Id. I tried authenticating several times with the domain name from the Service Principal token. I could never authenticate, and it specified that it was looking for a GUID.  Please tell me if I am wrong. As soon as I provided the tenantI

[2018-06-13 19:31] saqibraza opened #477 "NetworkInterface update fails if exiting tags has a key with a period"
Suppose, NetworkInterface exists with the following tag (having a period in the key):
Key: beforePeriod.afterPeriod
Value: random

The following call on com.microsoft.azure.management.network.NetworkInterface nic fails with a 400 Bad Request:

            nic.update()
               .withExistingNetworkSecurityGroup(nsg)
               .apply();

It results in the following request body:

"request

[2018-06-18 14:41] novaterata opened #479 "Don't include slf4j-simple as a dependency"
One of your libraries brings in slf4j-simple. Inclusion of any SLF4J implementation prevents integration with any other library that also includes an SLF4J implementation, defeating the purpose of SLF4J.

[2018-06-18 17:52] novaterata opened #480 "Usage of pre-release SLF4J 1.8 breaks compatibility with majority of slf4j libraries"
The mere inclusion of this library causes some unit tests to fail because SLF4J 1.8-alpha2 is loaded in the classpath

SLF4J: No SLF4J providers were found.
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#noProviders for further details.
SLF4J: Class path **contains SLF4J bindings targeting slf4j-api versions prior to 1.8**.
SLF4J: Ignoring

[2018-06-18 18:02] novaterata commented on #480
Sorry wrong project!

[2018-06-18 18:02] #480 closed

[2018-06-19 12:11] niteshjain1 commented on #477
Facing the same error when using client runtime v1.5.2
We face this on almost all create/update calls.

[2018-06-19 19:39] cjemison commented on #479
Can we also not include Jackson as a dependency? Provided scope should be sufficient.

[2018-06-21 03:24] Underwood-M opened #481 "Adding new locations to Region class"
chinanorth2 and chinaeast2

[2018-06-22 02:59] warrenzhu25 opened #483 "Add sample for how to authenticate in azure sdk 1.11.1"
I used the latest maven dependency, but couldn't find how to authenticate.
[code]

[2018-06-28 21:21] lenala opened #492 "Unable to set Augmented Rules on Network Security Groups"
Copy of .Net issue https://github.com/Azure/azure-libraries-for-net/issues/343.

[2018-07-01 17:04] grnadav opened #494 "Allow non filtered ActivityLog"
Hello

Currently, when attempting to retrieve ActivityLog via:

`azure.activityLogs().defineQuery().startingFrom(new DateTime(earliest)).endsBefore(new DateTime(latest)).withAllPropertiesInResponse().[PROBLEM]
`

The Filter interface is mandatory (WithActivityLogsSelectFilter), which force me to filter out results, whereas I need all the results (from all resource groups, all resources, all provid

[2018-07-06 16:06] ardias opened #495 "ServiceBus client fails with qeues with slashes in the name"
Hi there,
we have a customer that created a few servicebus queues and they seem to been able to create them with a slash "/' in the name.
Example:
...../namespaces/usecsbut/queues/admiral_ets_v1.0/endpointtrackingservice.svc

This is making the Azure client throw an **java.security.InvalidParameterException** when calling the `namespace.queues().list()` method.

We're using the Azure libraries ver

[2018-07-09 15:29] ardias commented on #495
Ok, a bit more context
it fails the check of even number of "splits" of the Id ...`resources.fluentcore.arm.ResourceId, line 30.`

[2018-07-17 01:07] abrarahmed56 opened #507 "Can't add an existing data disk to a scale set VM"
There's currently no way (that I found at least) of adding a data disk using an existing vhd to an existing scale set vm. It's possible on a regular virtual machine using unmanaged or managed disks using the update() and apply() methods, but on a scale set vm, no such methods seem to exist.

[2018-07-17 03:19] SummerSun opened #508 "update web app api get Error because tag messed up"
### SDK version
1.11.0

### OS
Windows 10

### Actual behavior

api usage code snippet:
[code]
```withJaveVersion``` and ```withWebContainer``` use the same setting with by web app, then I get the error message;

[ERROR] Failed to execute goal com.microsoft.azure:azure-webapp-maven-plugin:1.3.0-SNAPSHOT:deploy (default-cli) on project windows-jar: The request content was invalid and could not be d

[2018-07-19 18:16] chris-sweigart opened #511 "Can't create a VM in a managed application's resource group"
When trying to create a Virtual Machine inside of a managed application's resource group there is a call to update the resource group itself. This fails due to permissions (400).  Is the update of the resource group necessary, and if so can it be bypassed in this situation?

See log output below:

    2018-07-17 13:37:21,811 INFO  [pool-4-thread-15] service.AzureMaintenanceService (AzureMaintenanc

[2018-07-23 06:38] AnilChandore opened #514 "Azure management API do not work without SSL certificate"
While trying  to get instance of azure service bus, I got SSLHandshakeException. My code goes like this:
ApplicationTokenCredentials credentials  = new ApplicationTokenCredentials( "ClientID", "appid","secret",AzureEnvironment.AZURE);

Azure azure = Azure.configure().withLogLevel(LogLevel.BODY_AND_HEADERS).authenticate(credentials).withSubscription("subscriptionId");
ServiceBusNamespace serviceBus

[2018-07-23 13:15] pimuzzo opened #515 "Exception during vm creation"
[code]

Throws:
`com.google.common.reflect.TypeToken.isSupertypeOf(Ljava/lang/reflect/Type;)Z`

Sorry for stacktrace image:
![image](https://user-images.githubusercontent.com/1621205/43078568-2d01a866-8e8b-11e8-8fb6-245dc67fe641.png)

[2018-07-24 13:32] dadoonet commented on #67
I can work around this by adding:

[code]

Which is suprisingly including many "future" versions:

[code]

[2018-07-24 15:49] milismsft commented on #67
@dadoonet It's a bit strange that ver 1.2.0 of azure-annotations is getting used here with a newer version of azure-client-authentication library... What happens if you delete it from the Maven cache (see .m2 directory)? Does it bring the the latest or it still brings the ver 1.2.0?

[2018-07-24 16:59] dadoonet commented on #67
Weird. Indeed, cleaning up the m2 dir solved the problem.
First time I'm seeing that for a non snapshot lib...

Thanks for your time anyway. I'm closing.

[2018-07-24 16:59] #67 closed

[2018-07-24 20:52] hovsepm commented on #494
@grnadav I'm not sure I understand your request. Filter selection methods are NOT mandatory and you can just call execute after response property selection which should give you what you are looking for. i.e. this code should do the trick
[code]

[2018-07-25 23:34] #511 closed

[2018-07-26 16:01] dadoonet commented on #464
Thanks @anuchandy for the workaround. This is working well for my use case (compute management).

[2018-08-01 15:16] asuresh4 opened #524 "(Question) Listing all resources in a subscription"
Hello,

I'm trying to get some insight into the genericResources() method [here](https://azure.github.io/azure-sdk-for-java/com/microsoft/azure/management/Azure.html#genericResources--). I notice that most of the resources in a subscription are available via this method. However, one of the exceptions I noticed is with VM's belonging to a VMScaleSet (genericResources() does not return those VMs as

[2018-08-02 23:10] hovsepm commented on #494
Closed as "no repro".

[2018-08-02 23:10] #494 closed

[2018-08-07 23:02] vishyr opened #528 "sdk coverage for SQL server security audit policy in version 2017-03-01-preview"
Requesting sdk coverage for SQL server security audit policy which is included in version 2017-03-01-preview (https://github.com/Azure/azure-rest-api-specs/blob/master/specification/sql/resource-manager/Microsoft.Sql/preview/2017-03-01-preview/serverSecurityAlertPolicies.json)

[2018-08-08 18:53] vrpanw opened #530 "Listing Vault Keys and Secrets requires additional access permissions"
We are using the following API to access metadata for each key and secret defined in a Vault:
[code]
The call at line 3 and 4 result in `403 - Access denied`. The service principal already has global read access within the subscription. However, without the owner explicitly adding the permissions to `list` and `get` for the application user to the access policy at each vault level, this api is unu

[2018-08-08 19:46] evolmonster commented on #495
More details from new relic :

We are currently using the Java SDK com.microsoft.azure:azure:1.5.1
We are using the management API

Here is how we are fetching the queue:

azure.serviceBusNamespaces().list().forEach(namespace -> {
    // getting all queues
    namespace.queues().list().forEach(queue -> { })
    // getting all topics
    namespace.topics().list().forEach(topic -> {
       // gettin

[2018-08-09 02:49] taroyutao opened #531 "please add new region in Region.java"
China azure has added two regions: china north2 and china east2. please add them in [Region.java](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-resources/src/main/java/com/microsoft/azure/management/resources/fluentcore/arm/Region.java) in next version.

Thanks in advance.

[2018-08-09 10:02] karldmoore opened #532 "ResourceImpl.region internally uses a method which can cause a NPE"
ResourceImpl.region attempts to look up a region by name using Region.findByLabelOrName.  This method can (and does) cause callers to experience a NPE as the region might not be found.  If Region.fromName was used instead this wouldn't cause a NPE.  As new regions are added this causes existing working code to fail.

It doesn't really make sense for the caller to have to check the Region for null,

[2018-08-13 05:35] jdneo opened #536 "The requested app service plan cannot be created in the current resource group because it is hosting Linux apps. Please choose a different resource group or create a new one."
When I am trying to deploy a new function app with a new resource group, I got this error:
[code]
But The resource group I'm using is a new one which has no resource there.

Here is a sample code snippet:

[code]

Is that because something wrong when parsing the name "twhublinux" / "twhublinuxgroup"?

[2018-08-13 17:13] jianghaolu commented on #536
@jdneo This is a limitation in the data center today. A resource group containing Linux app services cannot have Windows app services.

[2018-08-13 19:01] bearrito opened #539 "[Documentation] Does this library support IotHUB Management"
The previous library had IoT support. Was that lost in the move?

[2018-08-14 02:05] jdneo commented on #536
@jianghaolu yes I know there is a  limitation.

From the code you can see I'm creating a new resource group, not an existing one. So there is no any app service plan in the resource group.

[2018-08-14 04:30] jdneo opened #541 "Get invalid URL when Function app name starts with http"
The [line here](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-appservice/src/main/java/com/microsoft/azure/management/appservice/implementation/FunctionAppImpl.java#L82) will parse the function name to the default hostname.

But when the function app name starts with `http`, this line of code will recognize it as a valid URL. (actually, its invalid since it does not have

[2018-08-14 06:30] taroyutao commented on #531
Any update?

[2018-08-14 12:55] ChrisBNR commented on #539
Along with above question, api-specs.json IoT Hub should have support but the below listed package does not exist:

"iothub": {
    "dir": "azure-mgmt-devices",
    "source": "specification/iothub/resource-manager/readme.md",
    "package": "com.microsoft.azure.management.devices",
    "args": "--payload-flattening-threshold=1 --tag=package-2017-01"
  },

[2018-08-16 02:48] selvasingh commented on #528
See #543 :-)

[2018-08-16 08:13] gavinfish opened #544 "Validate function extension version"
When I use the function API to create a function with withRuntimeVersion("beta"), the function could be created. But when I run the function, the function cannot work since its app setting variable `FUNCTIONS_EXTENSION_VERSION` set as `~beta` which is invalid. Should the library check this before creating the function?

[code]

[2018-08-20 02:20] jdneo opened #546 "Potential Bug to parse kudu client endpoint"
The [code here](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-appservice/src/main/java/com/microsoft/azure/management/appservice/implementation/KuduClient.java#L45) is to build the web app's default host URL to kudu's endpoint. (Add `.scm`).

But it has potential bugs here. Please note that the host URL will be all lowercase, while the `webAppBase.name()` is case sensiti

[2018-08-22 01:05] JonathanGiles opened #547 "Service Bus samples are using outdated service bus release"
The samples under [here](https://github.com/Azure/azure-libraries-for-java/tree/master/azure-samples/src/main/java/com/microsoft/azure/management/servicebus/samples) are written against release 0.9.7 of com.microsoft.azure:azure-servicebus (as shown [here](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-samples/pom.xml#L51)). This release dates back to October 2016 and no longe

[2018-08-22 02:17] warrenzhu25 opened #548 "Support to create Kafka API enabled Event hub in management sdk"
## Actual Behavior
1.  No way to create Kafka API enabled event hub

## Expected Behavior
1.  Add method such as `withKafkaAPI()` to support this

## Versions
- azure 1.8.0

[2018-08-24 22:54] ashbondu opened #555 "Update of VM tags is not working in v1.14.0"
Tried the following operation
virtualMachine.update().withTag("test", "testValue").apply();
Results in the following request body in v1.14.0

{"properties":{"hardwareProfile":{"vmSize":"Standard_D4_v3"},"storageProfile":{"imageReference":{"publisher":"MicrosoftWindowsDesktop","offer":"Windows-10","sku":"RS3-Pro","version":"latest"},"osDisk":{"osType":"Windows","name":"OSDISKwin10","caching":"ReadW

[2018-08-27 12:14] dhirajnitk opened #556 "How to use KubernetesClusterUpgradeProfile"
There is no support to upgrade kubernetes in KubernetesCluster interface but its supported in CLI.
I can see KubernetesClusterUpgradeProfile and **ManagedClusterPoolUpgradeProfile** with setters for kubernetes version, pool name and os type but how can we use them from  KubernetesCluster.

Is there any road mark to support the upgrade feature in KubernetesCluster.java

Note: I also see KubernetesC

[2018-08-28 09:32] gavinfish opened #559 "NoSuchElementException when get resources"
When I use this sdk to get resources like WebApp or DeploymentSlot from azure, it will throw a runtime exception `NoSuchElementException`, why not return a null element or throw a self defined Exception like NoSuchResourceException instead a runtime exception?

[2018-08-29 01:13] akodali18 opened #561 "Retrieving all metric dimensions / metadatavalues for a given metric without specifying the dimension in $filter"
My Objective : Retrieve all the metric values (with their dimensions") that are listed in https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-supported-metrics#microsoftstoragestorageaccountsblobservices

What I tried out:
Use the REST API : https://docs.microsoft.com/en-us/rest/api/monitor/metrics/list to get the list of metrics.
corresponding java sdk call: https://githu

[2018-08-30 07:27] sushant-jaiswal opened #563 "Kubernetes Service metrics values not matching with description in metrics documentation"
The actual values returned by Rest API calls don't match with description in [Kubernetes Service metrics documentation](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-supported-metrics#microsoftcontainerservicemanagedclusters).

For example, metric "kube_node_status_condition" should return "Statuses for various node conditions" but the Rest API call returns just a nu

[2018-08-30 20:16] milismsft commented on #563
+ @zqingqing1 @mboersma

[2018-08-30 23:13] hovsepm commented on #561
@anirudhcavale could you take a look to the issue? This is not related to Fluent SDK.

[2018-08-30 23:34] anirudhcavale commented on #561
@akodali18 thanks for posting, I just have a quick clarifying question: are you looking for which dimensions exist on a particular metric. Or do you want to discover the range of potential values for each dimension?

[2018-08-31 00:13] akodali18 commented on #561
Its neither. I want to retrieve all the metric values (along with dimensions) of multiple metric names of a resource without having to specify a filter. (so that I can get done with a single API call).

For Ex:  Consider the resource -Microsoft.Storage/storageAccounts/blobServices  (https://goo.gl/ZadG5G )

I want to do a single API/REST call like below:
GET "https://management.azure.com/subscript

[2018-09-01 14:58] mikehearn commented on #479
This is a simple fix - it can just be dropped from the core libraries and imported by samples and tools.

[2018-09-03 05:40] sushant-jaiswal commented on #563
@zqingqing1 @mboersma
There are just 5 metrics exposed for Azure Kubernetes and few of them seem to have issues. With couple of others I am not able to proceed on my work. Could you please help me to get the answers for these metrics.

[2018-09-04 08:15] warrenzhu25 opened #569 "Invalid provider CloudException when creating service bus namespace"
The exception message is as below:

Invalid Provider for the requested namespace type., NotFound, Invalid Provider for the requested namespace type.

Version:
azure-client-runtime:1.6.0
azure:1.14.0

[2018-09-05 23:09] sgoings commented on #563
@sushant-jaiswal - metrics exposed by Kubernetes can be confusing, and the Azure metrics API on top of it makes it even more confusing!

Since the metrics below have multiple dimensions, you need to expose/inspect those dimensions to get the view of those metrics. By default on REST queries to the Azure metrics API you'll just get "Total" for the metrics devoid of dimensions, which is really the p

[2018-09-06 06:26] SummerSun opened #570 "How to get java version of a Linux web App"
There is an API `JavaVersion javaVersion()` for Windows web app, which returns a JavaVersion with values like ```1.8```.

But for Linux web app, there is only one API with both java version and container info `String linuxFxVersion()`.
And it returns `Tomcat|8.5-jre8`, from which we have to split to get the real version `jre8`, and the value is inconsistent with Windows web apps.

Is there any API

[2018-09-07 02:36] jvano commented on #570
To get the available stacks you need to call the following API in which you can retrieve the runtime versions for the blessed images for java:
// REQUEST: GET /subscriptions/{subscription}b/providers/Microsoft.Web/availableStacks?osTypeSelected=linux&api-version=2018-02-01
// RESPONSE:
{
    "value":[
        {
            ...
        },
        {
            "id":null,
            "name":"java",

[2018-09-07 06:50] sushant-jaiswal commented on #563
@sgoings Thanks for taking effort to reply with detailed explanation. I was able to get the metrics and dimensions you have mentioned. The CURL command gives me the json like below:

{
	"cost": 0,
	"timespan": "2018-09-07T03:58:04Z/2018-09-07T04:58:04Z",
	"interval": "PT1M",
	"value": [{
			"id": "<My URI>/providers/Microsoft.Insights/metrics/kube_node_status_condition",
			"type": "Microsoft.Insi

[2018-09-10 05:56] taroyutao commented on #531
any update？

[2018-09-10 07:45] jwalter opened #571 "Re-add support for API Management"
Support for API Management was introduced in: https://github.com/Azure/azure-libraries-for-java/commit/68df2d7943b733d0aa8f7c843c9d7e8cd3618e1e, but removed again in: https://github.com/Azure/azure-libraries-for-java/commit/e519eda25826516f1dcd4d6e7608940e1988371e and is not included on the roadmap in the README. Is there any chance we will see support for API Management added back any time soon?

[2018-09-10 20:06] jianghaolu commented on #531
@taroyutao I'll add to the next release.

[2018-09-10 23:18] jianghaolu commented on #224
Closing via #229.

[2018-09-10 23:18] #224 closed

[2018-09-10 23:27] jianghaolu commented on #559
@gavinfish `NoSuchElementException` is not defined by us. It's thrown by RxJava to indicate that there's an operation trying to access an item in the stream, e.g., `.first()`, `.last()`, `.single()`, etc.

[2018-09-10 23:27] #559 closed

[2018-09-11 04:31] #386 closed

[2018-09-11 04:31] #479 closed

[2018-09-11 04:31] #481 closed

[2018-09-11 04:31] #541 closed

[2018-09-11 04:31] #546 closed

[2018-09-11 04:31] #532 closed

[2018-09-11 17:00] rjardines83 opened #577 "“ADJUST_DATES_TO_CONTEXT_TIME_ZONE” from com.fasterxml.jackson"
Hello folks.
I just change my code from version 1.2.0 to version 1.15.0 this is my code:

azure.deployments().define(deploymentName)
.withExistingResourceGroup(resourceGroupName)
.withTemplate(templateJson)
.withParameters(parametersJson)
.withMode(DeploymentMode.INCREMENTAL)
.create();

I got the error NoSuchFieldError “ADJUST_DATES_TO_CONTEXT_TIME_ZONE” from com.fasterxml.jackson

Azure sdk 1.15

[2018-09-12 21:12] jianghaolu commented on #531
Duplicate of https://github.com/Azure/azure-libraries-for-java/issues/481, closing via https://github.com/Azure/azure-libraries-for-java/pull/573.

[2018-09-12 21:12] #531 closed

[2018-09-12 21:13] jianghaolu commented on #476
You are correct. Assigned to myself.

[2018-09-12 21:55] jianghaolu commented on #577
Is it possible for you to share the template and parameter JSONs? It would be helpful for us to re-produce the issue.

[2018-09-12 21:56] jianghaolu commented on #569
Do you have a stack trace and a code snippet?

[2018-09-13 04:14] DoubleCouponDay commented on #536
Same problem! applying this same procedure through the cloud user interface works just fine. It's as you say @jdneo : fresh resource group with only consumption plan azure functions.

[2018-09-13 09:36] DoubleCouponDay commented on #536
The only way I could get this working is by using the empty constructor version of `WithNewResourceGroup()`. This generates a new group name everytime, thereby bypassing the bug.

[2018-09-13 21:04] #555 closed

[2018-09-14 01:34] jdneo commented on #536
@jianghaolu Do you need more information to help investigate this issue?

[2018-09-17 04:51] SummerSun opened #584 "No webapps folder is created when creating a new Linux web app with Tomcat"
When creating a Windows web app with web container Tomcat, folder `webapps` will be created when the web app is created, but for Linux web app, there is no `webapps` folder created until users browse the web app.
From the experience with Windows web apps, we assume that there is always a `webapps` folder, and we continue the same operations for Linux web apps. And it causes the operation's failure

[2018-09-18 06:20] gavinfish opened #585 "Exception when calling graph-rbac API"
I use below code get user's group by his object id.
[code]

But it throws errors like:
[code]

It seems its additionalProperties cannot be empty. But I have no idea where to get the definition for the parameters. I only find Azure Rest API with 1.6 version and it is outdated which does not have this parameters. How to set this parameter?

[2018-09-18 12:38] SummerSun opened #586 "Zip deploy failed for web apps created with region "China-East""
Deploy a web app to Azure Web App which was created in Azure China met exception:

![image](https://user-images.githubusercontent.com/5179063/45687856-6afe6680-bb82-11e8-9fb0-9f47df6d58d7.png)

From the investigation, it turns out that the wrong default host name was returned after creation. We could not use `.net` for all web apps.
But the default host name is corrected when we do the deployment

[2018-09-19 06:35] jvano commented on #584
Hi

The /webapps folder is specific to java workloads

In Java on App Service for Windows, you just ship code and the paths in the remote storage are provisioned at web app creation time.

For Linux, we rely on Container’s entrypoint script to hydrate the required paths in the remote storage and the container is initialized based on the first request.

In conclusion, it is by design.

Thanks,

Joa

[2018-09-19 23:01] hovsepm commented on #438
Issue addressed. Closing.

[2018-09-19 23:01] #438 closed

[2018-09-19 23:01] hovsepm commented on #528
closed as duplicate.

[2018-09-19 23:01] #528 closed

[2018-09-21 06:13] baburajvelayudhan opened #590 "Azure SQL Database storage_percent metrics always return 0"
For Azure SQL Database, The rest api calls (https://docs.microsoft.com/en-us/rest/api/monitor/metrics/list) for metric, "storage_percent", always return 0, though the storage returns valid numbers.

[2018-09-21 06:48] Flanker32 commented on #536
I also meet the same problem. I create a temporary resource group in CI test and delete them when test finished. And when i do the same test again, it shows `The requested app service plan cannot be created in the current resource group because it is hosting Linux apps. Please choose a different resource group or create a new one. OnError while emitting onNext value: retrofit2.Response.class`
You

[2018-09-21 21:06] renutz opened #593 "Azure SQL Backup Long Term Retention Policy calls old version"
Hi,

Trying to list the backup retention policies. Latest version - 0.15.1

List<BackupLongTermRetentionPolicyInner> retentions = az.getSQLAPI().inner().backupLongTermRetentionPolicies().listByDatabase(database.resourceGroupName(), database.sqlServerName(), database.name())

Get a message:

{"code":"0","message":"Configure long term retention policy with azure recovery service vault and policy is

[2018-09-24 17:27] renutz opened #594 "Problem 1.15 - missing class - com/microsoft/azure/management/compute/implementation/ImageReferenceInner.class"
Trying to access imageReference() from vminstance.storageProfile().imageReference(), gives the error:

Oops: NoSuchMethodError
An unexpected error occured caused by exception NoSuchMethodError: com.microsoft.azure.management.compute.StorageProfile.imageReference()Lcom/microsoft/azure/management/compute/implementation/ImageReferenceInner;

On azure-mgmt-compute-1.15.1.jar there is no class ImageRef

[2018-09-25 17:18] anuchandy commented on #594
@renutz,  the return type of StorageProfile::imageReference() is [ImageReference](https://github.com/Azure/azure-libraries-for-java/blob/7f90b3ca624e338344a6dd8a28ddb41fc4fb2c92/azure-mgmt-compute/src/main/java/com/microsoft/azure/management/compute/StorageProfile.java#L51). ImageReferenceInner type present in early version of SDK due to an issue in codegen which we fixed and the new corresponding

[2018-09-26 00:08] renutz commented on #594
OK. Recompiling everything from the scratch worked. Thanks for the attention.

[2018-09-26 00:08] #594 closed

[2018-09-29 07:13] jdneo commented on #536
Trace:

[code]

[2018-10-01 16:14] malkochoglu opened #601 "VaultImpl copy-paste code issue"
In  VaultImpl's populateAccessPolicies() method, while throwing CloudException in if(sp ==null) block, accessPolicy.userPrincipalName() was used. It is for sure null as per code logic. I think  it should be accessPolicy.servicePrincipalName().

[2018-10-03 09:26] sushant-jaiswal opened #602 "Kubernetes Service metric "kube_node_status_condition" does not return time series data with filter on dimension "status" or "status2""
The following 4 metric dimensions are returned in the list metric definition call - _https://docs.microsoft.com/en-us/rest/api/monitor/metricdefinitions/list_
with
resourceUri = _/subscriptions/1248268d-051f-432a-8e63-e83a9d36e776/resourceGroups/aks-int-resource-group/providers/Microsoft.ContainerService/managedClusters/aks-int-cluster/_

But, the metrics list call doesn’t seem to return any times

[2018-10-05 04:27] sushant-jaiswal commented on #563
Thank you @sgoings. With some changes at our end, we were able to proceed.

[2018-10-05 07:45] ksemba opened #604 "Create Security Group - Retrofit error"
Hi all,

I'm using the Java SDK version 1.15.1. Since I need to connect to Azure using a non-default Java TrustStore, I created my own, custom trust store file which I'm loading into a TrustManager and then create an OkHttpClient.Builder like this:

`OkHttpClient.Builder httpClientBuilder = new OkHttpClient.Builder().sslSocketFactory(sslSocketFactory, trustManager);`

Then I'm creating a Retrofit

[2018-10-10 11:03] ArundathiGV opened #610 "Configure proxy for azure client(SDK version- 1.0.0-beta2)"
I am using the following Azure clients with 1.0.0-beta2 version,

ComputeManagementClientImpl client = new ComputeManagementClientImpl(credentials);

ResourceManagementClient resourceManagementClient = new ResourceManagementClientImpl(credentials);

NetworkManagementClientImpl networkClient = new NetworkManagementClientImpl(credentials);

StorageManagementClientImpl storageManagementClient = new S

[2018-10-12 07:37] ksemba commented on #604
After figuring out that it was possible to enable debug logging on the RestClint

    com.microsoft.rest.RestClient restClient = new RestClient.Builder(httpClientBuilder, retrofitBuilder)
				.withCredentials(credentials)
				.withBaseUrl("https://management.azure.com")
				.withResponseBuilderFactory(new ServiceResponseBuilder.Factory())
				.withSerializerAdapter(new JacksonAdapter())
				.withL

[2018-10-12 07:37] #604 closed

[2018-10-15 02:53] Matthew-Dong opened #640 "Stream log API for web app is not ready in Java SDK"

[2018-10-15 10:21] dtretyakov opened #616 "Support cancellation for async methods"
Currently azure java libraries are depend on rxjava1 where `Completable` and `Observable`  in `*Async` method results do not support any cancellation methods and offer only `Subscription#unsubscribe`. In rxjava2 exists [Disposable#dispose](http://reactivex.io/RxJava/javadoc/io/reactivex/disposables/Disposable.html) which allows to terminate async execution.

It makes impossible to support cooperat

[2018-10-15 23:11] anuchandy opened #617 "Port traffic manager ATM Multi-value preview feature from C#"
https://github.com/Azure/azure-libraries-for-net/pull/489

[2018-10-16 01:55] jdneo commented on #417
@jianghaolu Any feedback about this issue?

[2018-10-17 02:37] sklim2002 opened #628 "how to calculate cost for managed disk & compute"
Hello,
We are using java SDK currently.
And also we're developing the application which estimates expected saving cost for unattached disk.

But, in management API, there's no unique key like meter_id from RateCard API.

Thank you in advance.

[2018-10-17 04:45] sjaiswalvmware commented on #602
I recently checked the REST API call and it is working with the dimension *status* now. But, we still have issues with dimension *status2*. If that dimension is removed from the list or fixed to return timeseries data, we would be able to solve our problem. We appreciate any help here.

[2018-10-17 21:55] hovsepm commented on #617
The C# changes are not working at the moment because API version needs to be bumped up to 2018-04.

[2018-10-23 20:42] meowfaceman opened #630 "Request URL is invalid when trying to run a command against scale set VMs"
The JAR is shaded here, but I'm getting the following stacktrace when trying to run a command against scale set VMs.

[code]

When looking at the activity log in Azure, the authorization scope ID (scrubbed) is listed as:

[code]

Which seems to repeat the subscriptions through virtual machine text twice, though the second time using an all-caps version of the resource group  name.

[2018-10-24 11:09] karldmoore opened #631 "Add support for Log Analytics workspace API"
Log analytics provides management APIs for workspaces. These don't appear to be exposed on the library. It would be helpful if these were added (see link).

https://docs.microsoft.com/en-us/rest/api/loganalytics/workspaces/createorupdate

[2018-10-24 11:24] karldmoore opened #632 "Add VM extension fails as additional PATCH request sent and VM purchase plan cannot be updated"
I followed the sample to add a VM extension but this fails with my set up.  The reason is reported as failure to update purchase plan.  On inspection is appears that a PATCH is sent to update the VM, before the add extension API call.  As the PATCH on the VM fails the VM extension call never gets processed.

If however you call this from the CLI the VM PATCH request is not sent and the extension i

[2018-11-05 20:44] lmazuel opened #639 "ACR Fluent"
Planned for v1.18

Check that all latest PR are included, like:
https://github.com/Azure/azure-rest-api-specs/pull/4389

[2018-11-06 18:11] lmazuel commented on #639
defineTriggers to finish

[2018-11-07 23:44] lmazuel opened #646 "Update azure-mgmt-graph-rbac to latest Authorization + GraphRBAC"
@praries880

Update the azure-mgmt-graph-rbac package to latest of these two Swaggers:
- https://github.com/Azure/azure-rest-api-specs/tree/master/specification/graphrbac/data-plane
- https://github.com/Azure/azure-rest-api-specs/tree/master/specification/authorization/resource-manager

Don't assume Readme are accurate for Java. Authorization should onboard API 2018-07-01-preview and 2018-09-01-pr

[2018-11-08 12:57] parthasarathi204 opened #647 "CustomScriptExecution is taking around 2 minutes for a simple script to create directory/file"
CustomScriptExecution is taking +/- 2 minutes for a simple script to create a directory/file for the first time(newly created vm). WaAppAgent logs shows the time around 1 minute, extension logs shows the execution time less than 30 seconds. So where the another minute spend ? Is there any way to increase the priority of the script execution or execute synchronously ?

[2018-11-15 01:37] Underwood-M opened #652 "ResourceGroup：It‘s case-insensitive"
When I get the virtualMachine.id() and disk.virtualMachineId(), I find it unequal because ResourceGroup is case-insensitive.
![image](https://user-images.githubusercontent.com/19928099/48524119-fa41a500-e8b9-11e8-9f55-963459637447.png)

[2018-11-15 23:15] ashbondu opened #656 "Encrypting the VM fails due to invalid secret URL "Preparing machine for bitlocker"."
Steps to reproduce
1. Create a win10 VM with osDisk and encrypt the VM.
2. Take the snapshot of the osDisk after the snapshot.
3. Deleted the original VM and osDisk
4. Recreated the VM with the same name from the encrypted snapshot.
5. Added a datadisk and then tried to encrypt the data disk using the following.

[code]

Azure throws the following exception

com.microsoft.azure.CloudException:
Pre

[2018-11-16 16:15] ardias opened #657 "Tag v1.17.0 created with SNAPSHOT version"
Tag v.1.17.0 has been tagged with the modules at version 1.17.1-SNAPSHOT. I think tags should point to a release version and not have modules versioned with SNAPSHOT.

[2018-11-16 19:29] hovsepm opened #659 "[Fluent design] Current UpdateWithTags interface requires PUT call for cleaning all Tags on the resource"
Changing update to Patch will reduce network payload and it would be good to add withoutTags() method that will clean underlying map and send empty collection to Azure.

[2018-11-17 03:58] SimonLuckenuik commented on #536
In case it can help someone, to workaround the problem. I had the same error message in a different context.

I went into the portal, created a new Linux based Function App with an App Serice Plan, along with a new storage in the resource group causing the error.

Once they were created, I deleted them (delete function app and select yes for deleting the plan). After deletion was completed, I rest

[2018-11-19 04:53] SummerSun opened #660 "The PricingTiers "P1""P2" and "P3" are no longer available"
They have been changed to "P*V2" months ago.

![image](https://user-images.githubusercontent.com/5179063/48687020-2337a200-ebfa-11e8-8e2b-bee3dc3eb61b.png)

[2018-11-19 18:06] jianghaolu commented on #640
This is implemented in #651

[2018-11-19 22:14] roastario opened #661 "Does not seem possible to Create a ContainerGroup with multiple Container Instances"
The current Fluent API works well if you know ahead of time what containers so you can hard code the deployment.

I am trying to do:

        var containerGroup = azure.containerGroups().define(groupName)
                .withRegion(region)
                .withExistingResourceGroup(resourceGroupName)
                .withLinux()
                .withPrivateImageRegistry(registryAddress, username,

[2018-11-20 00:02] romel-github opened #662 "azure.routeTables().getByResourceGroup throwing NLE for invalid route table. It should return null over exception."
On azure SDK 1.10.0 - when we try to fetch the route table with valid resource group and invalid route table name it is throwing NullPointerException.

RouteTable rt = azure.routeTables().getByResourceGroup("resournce-group-1", "RT-1");

Exception stack trace
--------------------------------------------------------------------------------
Exception in thread "main" java.lang.NullPointerException

[2018-11-20 20:14] lmazuel commented on #639
Fix in https://github.com/Azure/azure-libraries-for-java/pull/635

[2018-11-28 05:33] gavinfish opened #665 "Storage Account checkNameAvailability result misses info"
My code is as below:

[code]
When I check with an existing storage account name, its former result should be something like
[code]
but now the reason just return null, so I can not depend on the reason information to get why the name is not available.

My sdk version is 1.17.0.

[2018-11-28 05:49] gavinfish commented on #665
I just do more investigation here, it seems the API side does not provide these information any more, so what is my alternative here now?

[2018-11-28 09:35] gavinfish commented on #665
It seems not a sdk issue, created a new one on api side Azure/azure-rest-api-specs#4594, closing.

[2018-11-28 09:35] #665 closed

[2018-11-28 21:18] jianghaolu commented on #660
They are still available in my subscription:
![image](https://user-images.githubusercontent.com/2320445/49182806-1ad51a80-f310-11e8-89bf-0b9c37d2c7b5.png)

Will add the v2 series and keep the current offerings.

[2018-11-28 22:45] jianghaolu commented on #657
@ardias good catch! Fixed.

[2018-11-28 22:45] #657 closed

[2018-11-29 01:49] SummerSun commented on #660
Well, not Mine:

![image](https://user-images.githubusercontent.com/5179063/49193883-e28b1600-f3bb-11e8-9d34-b4804a4d8524.png)

Does the pricing tier deprecated for some specific resource groups?

[2018-11-29 08:53] SummerSun commented on #660
It seems that the P*V2 pricing tiers only work for Windows App Service Plans. That makes sense that we were seeing inconsistent behaviors.

[2018-11-30 18:11] anuchandy opened #666 "Expose generic resource listing that takes filter odata param"
https://docs.microsoft.com/en-us/rest/api/resources/resources/list

[2018-12-03 06:38] prateekbaheti opened #667 "Configure the os disk type to Standard HDD or Standard SSD"
Currently this defaults to premium SSD. Is there a way to configure the type of disk ?

[2018-12-03 13:21] gangadharaswamy opened #668 "For HDInsights Service, Azure does not return any time series values when `$filter` param on dimensions is specified in the query."
Using REST API call of Metrics - List, for Azure HDInsights service does not return any time series values when `$filter` parameter on dimensions is specified in the query.

Query Parameters:
[code]
Response Body:
[code]

If the `$filter` parameter is not specified, the query returns time series values. But `$filter` param is required to retrieve metric dimensions `ClusterDnsName`, `HttpStatus`.

[2018-12-04 06:34] #640 closed

[2018-12-04 17:08] ultrafastneal commented on #536
Thanks @ikurtev ! That solved our problem as well. Must have cleared a flag as the API thought it already existed.

[2018-12-04 17:48] anuchandy commented on #536
@jdneo does the work-around @ikurtev / @SimonLuckenuik that suggested resolves your issue?
I'm trying to establish a consistent pattern here, that way we can talk to service owners and triage.

[2018-12-04 18:33] lmazuel commented on #639
Made it in 1.18

[2018-12-04 18:33] #639 closed

[2018-12-05 06:44] npeuser opened #670 "Listing app service certificates fails"
I have the following code that tries to list existing app service certificates (3rd party) via the REST API:

`Optional<AppServiceCertificate> existingAppCert = azure.appServices().certificates().list().stream().filter(c -> c.thumbprint().equalsIgnoreCase(MY_THUMBPRINT)).findFirst();`

This code errors out because the REST API as documented here https://docs.microsoft.com/en-us/rest/api/appservice

[2018-12-05 17:59] anuchandy commented on #536
@ViggoL any chance you can share the template and parameter used? i can share it with owner team?

[2018-12-07 14:34] vincentdo opened #674 "disablePasswordAuthentication on VM create?"
Is it possible to do this? It looks like this is an option on the LinuxConfiguration exposed in OSProfile but I can't find a way to configure this property when provisioning a VM using `withLinuxCustomImage`

[2018-12-07 19:20] anuchandy commented on #617
[This](https://github.com/Azure/azure-libraries-for-java/blob/807e5008b6f260f1fd598f7b55d5620b3410e43d/azure-mgmt-trafficmanager/src/main/java/com/microsoft/azure/management/trafficmanager/TrafficManagerProfile.java#L168) is done in Java, Refer the PR https://github.com/Azure/azure-libraries-for-java/pull/636

[2018-12-07 19:20] #617 closed

[2018-12-07 19:52] anuchandy commented on #413
`internalFqdn`  is the fully qualified DNS name to support internal communications between VMs in the same virtual network. This will be set only if the VM Nic is created with internalDnsName property set.

For instance I tried creating a NiC with this internalDnsName set to jenkins and here is how NIC looks like:

[code]

[2018-12-07 19:56] anuchandy commented on #402
Agree with you, we will add a new API to retrieve VM with instance view expanded.

Just FYI, currently we are not doing this expansion by default as part of `getById ()` because instance view retrieval is costly operation that can cause hitting subscription request cap quickly.

[2018-12-07 20:05] anuchandy commented on #378
Agreed. We will expose the following API

[code]

[2018-12-07 20:08] anuchandy commented on #377
Yes, agreed. We will add an extra validation in the library layer.

[2018-12-07 22:45] anuchandy commented on #218
Refresh can be called only on an instance of fluent type which is backed by an azure resource. If the resource in the server gets deleted then Refresh call cause inner to be null. I think as you suggested its good to throw instead of setting fluent inner instance to null that makes the object invalid, which opens door for NPEs.

[2018-12-07 22:47] anuchandy commented on #140
This is implemented as part of the PR https://github.com/Azure/azure-libraries-for-java/pull/501.

[2018-12-07 22:47] #140 closed

[2018-12-07 22:48] anuchandy commented on #6
Closing this given it is supported now.

[2018-12-07 22:48] #6 closed

[2018-12-07 22:51] anuchandy commented on #212
This is a different way to implement internal ancestor logic, will keep the current design until we have a need for rewrite.

[2018-12-07 22:51] #212 closed

[2018-12-10 18:11] anuchandy opened #675 "Expose Disk.EncryptionSettings in the fluent interface"

[2018-12-10 18:13] anuchandy commented on #675
PowerShell uses the recent 2.2 version of Azure Encryption Extension. This particular version of extension does not store the encryption settings under VM.osDisk.EncryptionSettings, instead it stores the information under EncryptionSettings property of managed disk backing the VM OS disk https://docs.microsoft.com/en-us/rest/api/compute/disks/get#encryptionsettings .

This means we need to expose

[2018-12-10 21:26] lmazuel opened #676 "Update ACI to latest Swagger"

[2018-12-11 00:43] jianghaolu commented on #586
Fixed as part of https://github.com/Azure/azure-libraries-for-java/pull/651.

[2018-12-11 00:43] #586 closed

[2018-12-14 16:36] abigailknoble commented on #536
Ran into this same problem. The work-around seemed to fix it for now. This is concerning though. Will cause problems in automated deployments.

[2018-12-17 13:55] MartinWa commented on #536
The workaround does not work for me. I get:

in the portal even though I am creating a Linux Azure Function

[2018-12-18 06:14] prateekbaheti commented on #667
@anuchandy Thanks a lot for that. Its exactly what i needed.

[2018-12-18 06:14] #667 closed

[2019-01-03 21:42] renutz opened #677 "Implement pause/resume for SQL Data Warehouse"
On latest SQL SDK - azure-mgmt-sql-1.18.0 - we cannot find the actions pause/resume described on

https://docs.microsoft.com/en-us/azure/sql-data-warehouse/sql-data-warehouse-manage-compute-rest-api

Right now, we have half of the code using the SDK and another part wrapping REST calls. Please make all functionality available on the SDK like the other 2 big cloud players.

[2019-01-07 21:54] hovsepm opened #678 "Migrate Redis Premium functionality to Redis Standard and Basic"
Per Redis team request we need to enable following features on Standard and Basic Sku:
"Features now allowed on all pricing tiers that were previously Premium only:
1.	Scheduled Updates: confirmed in portal that all pricing tiers now support it.
2.	Reboot
3.	Firewall rules
"

[2019-01-14 15:57] ardias commented on #539
+1

[2019-01-14 21:20] praries880 opened #683 "Appservice response for the `availableStacks` API does not match the swagger model"
The [swagger spec](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/Provider.json#L146) for the  `get` operation for [`availableStacks`](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/Provider.json#L19) API does not match the data on the wire.

H

[2019-01-15 03:48] bearrito commented on #539
Any follow up from maintainers? This is becoming an issue for us. Should I file a support ticket through the portal?

[2019-01-16 16:25] tsarna commented on #632
This same bug happens when trying to resize a marketplace VM as well, eg doing:

    vm.update().withSize("Standard_B1ms").apply();

It looks like this was broken by commit b1a0cc1dc880d68752500ede0923a418c5e48197, where updateResourceAsync was changed to include the plan in the update even if it hasn't changed.

@karldmoore As a workaround, adding "vm.inner().withPlan(null)" before trying to do t

[2019-01-16 22:19] SukruthKS opened #685 "Old version of Azure Storage SDK referenced"
Azure management SDK uses an older version of Azure Storage SDK. We are using the latest version of the Storage SDK in our system and causes conflicts when the old version is installed. It'd be great if it can be updated to the latest version.

**Storage SDK info**:

**GroupId**: com.microsoft.com
**ArtifactId**: azure-storage
**Version used by Azure Management SDK**: 6.1.0
**Latest version availa

[2019-01-16 23:18] praries880 commented on #1
@anuchandy  Did the PR you link above fix the issue?

[2019-01-16 23:20] praries880 commented on #2
@anuchandy Did the PR you link above fix the issue?

[2019-01-18 20:52] praries880 commented on #5
@hovsepm from your latest reply it seems like the issue is not resolved. Do kindly let me know if my assumption is correct.

[2019-01-18 20:54] praries880 commented on #8
@anuchandy what is the status of this issue?

[2019-01-18 22:52] praries880 commented on #155
Closing the issue as the related PR has been merged. @gitorko Do kindly re-open the issue if you feel that the issue has not been resolved.

[2019-01-18 22:52] #155 closed

[2019-01-21 01:08] DoubleCouponDay commented on #536
Anyone know how to use the dotnet sdk to create an azure function in a linux plan? I cant seem to find the fluent path that returns it.

[2019-01-22 14:26] Madan165 opened #686 "Not able to login with ApplicationTokenCredentials."
**As per document:**

Using ApplicationTokenCredentials
Similarly to the file-based approach, this method requires a service principal registration, but instead of storing the credentials in a local file, the required inputs can be supplied directly via an instance of the ApplicationTokenCredentials class:

ApplicationTokenCredentials credentials = new ApplicationTokenCredentials(
        client,

[2019-01-22 20:35] anirudhcavale commented on #668
@gangadharaswamy the REST API does not support wildcarding multiple dimensions (dim eq '*'). Only one dimension may be wildcarded, all other dimensions must either be filtered to specific values, or not filtered at all.

[2019-01-22 20:44] praries880 commented on #5
Even though this issue is fixed for the example sited here (`WithExistingSubnet`), changing this to an investigate issue to see where all we can make similar changes to accept Resource Id instead of the object.

[2019-01-24 10:28] baburajvelayudhan opened #688 "Getting "BadRequest:Failed to find metric configuration for provider: " error while querying the Azure SQL datawarehouse metrics"
I am getting the below error while querying the Azure SQL Datawarehouse metrics

WARN [2019-01-22 06:09:17,006] azure: Failed to get azure points for customer: master
! **com.microsoft.azure.management.monitor.ErrorResponseException: Status code 400, {"code":"BadRequest","message":"Failed to find metric configuration for provider: Microsoft.Sql, resource Type: servers/databases, metric: log_write_

[2019-01-24 14:21] Coada opened #689 "[Feature Req] Create VM with Network Interface name"
Hello,

I would like the option of creating a virtual machine with a (new) network interface that has a specific name. If you create a VM `withExistingPrimaryNetwork()` it will create a new network interface that gets attached to the VM, but with an automatic name.

A similar solution already exists for creating a virtual machine with a specific disk name, by calling `withOSDiskName(String name)`

[2019-01-24 16:01] anuchandy opened #690 "[FEATURE REQ] azure-mgmt-eventhub should be renamed to azure-mgmt-eventhubs [in 2.0]"
\\cc @selvasingh

[2019-01-25 21:49] anirudhcavale commented on #688
As suggested by the error message it appears the query is asking for a metric not supported on data warehouses.

[2019-01-30 04:45] gangadharaswamy commented on #668
@anirudhcavale Thanks for the response.

[2019-02-05 02:20] anuchandy opened #693 "Upgrade msi module to new stable API version"

[2019-02-05 14:45] angel-ivanov commented on #536
Any update on this issue?

[2019-02-06 17:11] praries880 commented on #693
The work in nutshell is:

1.	We need to regenerate
2.	Remove beta annotations
3.	Enable any new APIs
4.	If anything new, then see VM & VMSS MSI flow needs to be updated
5.	Rerun tests, sample and re-record.

Steps:
 (1). we need to start by updating the api-sepc.json file to refer the latest api-version, then regenerate based on that.
(2). Fix any compilation issues that prop up after step1.

[2019-02-14 17:38] karldmoore commented on #632
Thanks @tsarna, finally got around to looking at this.  Sounds interesting, but can't quite figure out how to work that into the command.  Any ideas?

`virtualMachine.update().defineNewExtension(extension + "Test").withPublisher(publisher).withType(type).withVersion(version)
                        .withMinorVersionAutoUpgrade().withPublicSetting("workspaceId", publicSettingValue)

[2019-02-14 17:54] karldmoore commented on #632
Think I answered my own question!  Thanks @tsarna looks like that does the trick.  Thought it had to be declared inline but breaking it up into different statements is fine.

`        virtualMachine.inner().withPlan(null);
        virtualMachine.update().defineNewExtension(extension).withPublisher(publisher).withType(type).withVersion(version)
                        .withMinorVersionAutoUpgrade()

[2019-02-14 19:20] praries880 opened #695 "Add java 11 SE support to Webapps"
* I need to do is to add new runtimes here :
  * For Linux: new runtimes after https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-appservice/src/main/java/com/microsoft/azure/management/appservice/RuntimeStack.java#L59
  * For windows:  new runtime definitions in https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-appservice/src/main/java/com/microsoft/az

[2019-02-14 23:00] iscai-msft commented on #3
Service Bus supports UserMetadata as seen [here](https://github.com/Azure/azure-service-bus-java/search?q=usermetadata&unscoped_q=usermetadata). Closing this issue now.

[2019-02-14 23:00] #3 closed

[2019-02-15 00:16] jianghaolu opened #696 "Remove beta annotations in stable packages"
If there haven't been any breaking changes in the past 6 months, and no planned breakages in the foreseeable future. Consider them GAed.

E.g. RoleAssignment in Gragh RBAC

[2019-02-15 04:17] SeanFeldman commented on #3
@iscai-msft that's inaccurate. Not **all** entities support `UserMetadata`. Rules do not. See https://github.com/Azure/azure-service-bus/issues/209 for details.

[2019-02-19 17:48] praries880 commented on #695
Symbols for Linux :
TOMCAT|8.5-java11
TOMCAT|9.0-java11
JAVA|11-java11

Windows:
Tomcat 8.5
Tomcat 9.0

[2019-02-21 06:57] sharondahan opened #698 "[BUG] Application Gateway pool not shows at ScaleSet"
**Describe the bug**
When trying to retrieve scaleSet using:
scaleSet.applicationGatewayBackendAddressPoolsIds()
or using inner:
scaleSet.inner().virtualMachineProfile.networkProfile().networkInterfaceConfigurations().get(0).ipConfigurations()

I don't see the Gateway backend pool I connected to the scaleSet, but when I use the Rest API call it is returned
 "applicationGatewayBackendAddressPools":

[2019-02-22 18:53] praries880 opened #699 "[FEATURE REQ] Add support for UltraSSD_LRS sku to compute"
**Is your feature request related to a problem? Please describe.**
Add support for UltraSSD_LRS sku to compute. The [.Net SDK](https://github.com/Azure/azure-sdk-for-net/blob/40248f466aa063bd90f16dae10d06b9b7317e2d0/src/SDKs/Compute/Management.Compute/Generated/Models/DiskSku.cs#L35) already supports it.

**Describe the solution you'd like**
Update the compute API version used to the [latest stabl

[2019-02-22 19:04] ankushbindlish2 opened #700 "[Java] [FEATURE REQ] Onboarding StorageSync SDK support into FluentSDK Java"
**Is your feature request related to a problem? Please describe.**
We are looking for 1 sdk to create an E2E Azure resources. Our RP is already supported in StorageSync SDK [https://github.com/Azure/azure-sdk-for-net/tree/master/src/SDKs/StorageSync]
**Azure Resource Provider** : Microsoft.StorageSync , GA

**Describe the solution you'd like**
Add StorageSync SDK onto Fluent pattern

**Describe al

[2019-02-22 19:20] ankushbindlish2 commented on #700
* By when do they need this released? 3/21/2019
* Which API version we need to support? 2018-10-01
https://github.com/Azure/azure-rest-api-specs/tree/master/specification/storagesync/resource-manager/Microsoft.StorageSync/stable/2018-10-01
* What are the important scenarios they need to support?
    Provisioning of a ServerEndpoint which includes : ResourceGroup,StorageAccount, FileShare,StorageSy

[2019-02-22 19:20] ankushbindlish2 commented on #700
We already have SDK generated for Java

[2019-02-26 23:11] praries880 commented on #698
@sharondahan We are looking into the issue. We will update the issue once we get to the root cause of the issue.

[2019-02-26 23:17] #693 closed

[2019-02-26 23:22] praries880 commented on #689
@Coada can you kindly elaborate on the use case here?

[2019-02-26 23:28] praries880 commented on #688
@baburajvelayudhan  can you share the code that you used to query the metric? As @anirudhcavale  said, the error suggests that the metric you queried for is not supported.

[2019-02-26 23:35] praries880 commented on #686
@Madan165  Can you kindly elaborate on the usecase?  Can you share a code snippet with us?

[2019-02-26 23:39] praries880 commented on #685
@jianghaolu Can you look at which specific SDK is using the older version of the storage dataplane and update the issue?

[2019-02-28 16:07] Coada commented on #689
Sure @praries880 and @jianghaolu ;

The use case is to create resources with a naming structure. In this particular case I want the Network Interface (and the Disk) to have a name associated to the Virtual Machine so me and my team easier can get an overview of all the resources in the resource group.

Without this feature the Network Interface would be given an autogenerated name and we would not

[2019-03-01 22:15] praries880 commented on #689
@Coada Thanks for the response.

[2019-03-01 23:34] praries880 commented on #677
@renutz Instead of wraping REST API calls, you could use the java sdk, heres the pause call :https://github.com/Azure/azure-sdk-for-java/blob/master/sql/resource-manager/v2017_10_01_preview/src/main/java/com/microsoft/azure/management/sql/v2017_10_01_preview/Databases.java#L52

Do let us know if this works for you.

[2019-03-04 18:43] liudog57 opened #703 "[QUERY]"
**Query/Question**
Can the Azure Java API support creating/managing virtual network peers between different subscriptions under different Azure Active Directory tenants?

***Why is this not a Bug or a feature Request?***
The examples and documentation mention that peering is supported for networks under the same subscription, so trying to see if between different subscriptions under different Azur

[2019-03-05 14:48] DawidCh opened #870 "securityRules.sourceAddressPrefix is required and cannot be null"
**Describe the bug**
Hello.
We can't update network security group (add new rule) using following code. We run the code on jenkins (in shared library).

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior: Create resource group. Create network security group inside it (operations from azure portal). Run the code.

***Code Snippet***
[code]

**Expected behavior**

[2019-03-05 21:41] praries880 commented on #674
So, according to [this code](https://github.com/Azure/azure-libraries-for-java/blob/5c2b94c60e60fd24955a7f1223a774fdb1760336/azure-mgmt-compute/src/main/java/com/microsoft/azure/management/compute/implementation/VirtualMachineImpl.java#L1954) if you leave the adminPassword to be null, the SDK sets the flag to true (same holds for [scalesets](https://github.com/Azure/azure-libraries-for-java/blob/b

[2019-03-05 21:41] #674 closed

[2019-03-06 01:49] lmazuel opened #707 "[FEATURE REQ] UserAssigned identity for WebApp"
Was merged here:
https://github.com/Azure/azure-rest-api-specs/pull/5288

[2019-03-06 02:45] lmazuel opened #708 "[FEATURE REQ] Update SQL to latest package-composite-v1"

[2019-03-11 07:37] romantsukerman opened #709 "[FEATURE REQ] Update customData in ScaleSet"
**Is your feature request related to a problem? Please describe.**
Currently the customData of a VMSS is not updatable in the SDK. This issue prevents from creating new VMs in the scale set when there is a need to update the customData.

**Describe the solution you'd like**
I would like you to add support in updating customData in the SDK.

**Describe alternatives you've considered**
The only alte

[2019-03-11 21:07] praries880 commented on #670
@npeuser  The operation returns a (CertificateCollection)[https://docs.microsoft.com/en-us/rest/api/appservice/certificates/list#response]... which has a [next page](https://docs.microsoft.com/en-us/rest/api/appservice/certificates/list#certificatecollection) link...

The API is paginated. Fluent Java SDK [API for listing certificates](https://github.com/Azure/azure-libraries-for-java/blob/master/

[2019-03-12 20:25] karldmoore commented on #632
Attempting to run this with applyAsync instead of apply also fails.  Haven't got to the bottom of this but will raise another ticket :(

[2019-03-13 00:06] rturner3 commented on #451
FYI, I've discovered one way to do this. It's not exactly straightforward, but it works.

[code]

I would argue this is not very intuitive, as all other Network Interface IP Configuration properties are modified through fluent APIs after calling `nic.update().updateIpConfiguration(ipConfigName)`.

Can the SDK be improved to have a simpler way of achieving this via some method like `nic.update().up

[2019-03-13 10:12] karldmoore opened #710 "Add VM extension fails to execute using async methods"
This is related to [ticket](https://github.com/Azure/azure-libraries-for-java/issues/632).  I followed the guide to add a VM extension but instead of executing this synchronously I used the applyAsync methods instead.

This is the guide that I followed:
https://github.com/Azure-Samples/compute-java-manage-virtual-machine-using-vm-extensions/blob/master/src/main/java/com/microsoft/azure/management/

[2019-03-13 18:16] kurtzeborn commented on #703
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-03-13 18:26] kurtzeborn commented on #709
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-03-13 18:28] kurtzeborn commented on #710
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-03-14 01:05] praries880 opened #712 "Wrong encryption status returned for encrypted VM's data disks"
@ChuGer commented on [Mon Dec 03 2018](https://github.com/Azure/azure-sdk-for-java/issues/2716)

https://github.com/Azure/azure-sdk-for-java/blob/47fc8ddea76280c198a2b9697e8f93b0c5f18e65/archive/azure-mgmt-compute/src/main/java/com/microsoft/azure/management/compute/implementation/WindowsVolumeEncryptionMonitorImpl.java#L98

Please compare implementation with .Net implementation of the same method

[2019-03-14 01:06] praries880 commented on #712
This is a copy of the issue form the java sdk repo.. the fix is simple.

[2019-03-14 17:30] praries880 commented on #695
These are the Java versions for linux:
1.7
1.7.0_51
1.7.0_71
1.7.0_80
1.7.0_191_ZULU
1.8
1.8.0_25
1.8.0_60
1.8.0_73
1.8.0_92
1.8.0_102
1.8.0_111
1.8.0_144
1.8.0_172
1.8.0_172_ZULU
1.8.0_181
1.8.0_181_ZULU
`1.8.0_202`
`1.8.0_202_ZULU`
`11`
`11.0.2_ZULU`

These are the Tomcat versions:
8.5
8.5.6
8.5.20
8.5.31
8.5.34
`8.5.37`
9.0
9.0.0
9.0.8
9.0.12
`9.0.14`

The versions in `quotes` are the ones bein

[2019-03-15 17:28] rturner3 opened #716 "[BUG] CosmosDBAccountsImpl.list() and CosmosDBAccountsImpl.listAsync() methods do not call List Database Accounts REST API"
**Describe the bug**
The list() and listAsync() APIs for CosmosDB do not call the List all in subscription REST API: https://docs.microsoft.com/en-us/rest/api/cosmos-db-resource-provider/databaseaccounts/list

Instead these methods first call the List all Resource Groups in subscription REST API, then for each Resource Group, it calls List Database Accounts by Resource Group:

https://docs.microso

[2019-03-18 18:06] kurtzeborn commented on #716
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-03-18 20:58] Ruin0x11 opened #717 "[BUG] Cannot call cosmosDBAccounts().listMetrics(): "Failed to parse query""
**Describe the bug**
When calling `azure.cosmosDBAccounts().listMetrics()`, the query will always fail with 400, even with a blank filter.

***Exception or Stack Trace***
[code]

**To Reproduce**
[code]

**Expected behavior**
The metrics are returned.

**Setup (please complete the following information):**
 - OS: Windows 10
 - IDE : IntelliJ
 - Version of the Library used: `1.20.1`

[2019-03-18 21:06] Ruin0x11 commented on #717
I found from https://github.com/Azure/azure-sdk-for-net/issues/2330 that if you add the `timeGrain` parameter to the filter, the request succeeds. However, it would help to have an explanation of this.

[2019-03-20 18:18] kurtzeborn commented on #717
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-03-27 10:30] FireDrunk opened #719 "[FEATURE REQ] Add Subnet info to KubernetesCluster class"
**Is your feature request related to a problem? Please describe.**
Get subnet from KubernetesClass

**Describe the solution you'd like**
something like.... getSubnet() ? Even as a string is enough for me. I just want to see the linked subnet.

**Describe alternatives you've considered**
NetworkProfile doesn't give me the correct info.

**Information Checklist**
Kindly make sure that you have added

[2019-03-27 15:53] akshitjain opened #720 "KeyVault secret access policy update for Service principal fails"
While updating the keyvault access policies giving the service principal access to secrets, it fails with this:

java.lang.RuntimeException: com.fasterxml.jackson.databind.JsonMappingException: (was java.lang.NullPointerException) (through reference chain: com.microsoft.azure.management.graphrbac.implementation.PageImpl["value"]->java.util.ArrayList[0])

Java Code for reproducing:

public void all

[2019-03-27 18:12] kurtzeborn commented on #719
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-03-27 18:15] kurtzeborn commented on #720
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-03-29 21:15] ashbondu opened #721 "NPE when comparing VM powerstate in ExpandableStringEnum.equals()"
When comparing the powerstate, seeing NPE in ExpandableStringEnum.equals().

Syntax used is PowerState.RUNNING.equals(vm.powerState())
Note: The powerstate returned from Azure was null due to an intermediate error.

Stacktrace:
java.lang.NullPointerException: null
at com.microsoft.azure.management.resources.fluentcore.arm.ExpandableStringEnum.equals(ExpandableStringEnum.java:93) ~[vmw-azure-mgmt-r

[2019-04-01 13:49] akshitjain commented on #720
**Please find the stack trace**
Resource updation failed : com.fasterxml.jackson.databind.JsonMappingException: (was java.lang.NullPointerException) (through reference chain: com.microsoft.azure.management.graphrbac.implementation.PageImpl["value"]->java.util.ArrayList[0])
    	 stack_trace:	 java.lang.RuntimeException: com.fasterxml.jackson.databind.JsonMappingException: (was java.lang.NullPointe

[2019-04-01 14:19] tfelix opened #722 "Expose immutableID property during User creation/reading"
**Is your feature request related to a problem? Please describe.**
In order to use Azure/AzureAD with a federated, external IDP (https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-saml-protocol-reference) it is important to define a users immutable ID during creation so the external IDP can use it. This parameter is already present in the `UserCreateParametersInner` c

[2019-04-01 18:44] kurtzeborn commented on #721
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-04-02 21:40] #712 closed

[2019-04-02 21:44] #699 closed

[2019-04-03 17:28] praries880 commented on #720
@akshitjain
* Can you let us know how you created the service principal?

* Can you turn on logging and call [this api](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-graph-rbac/src/main/java/com/microsoft/azure/management/graphrbac/implementation/ServicePrincipalsImpl.java#L57) to list the service principals to list the principal you pass into the function :
[code]
and s

[2019-04-04 07:22] akshitjain commented on #720
Hi @praries880 This was a jar issue. There is a jar aspectjweaver.jar  which i think wasn't compatible with the azure sdk or primarily with MSI libs.
Have removed the aspectjweaver jar  and its working fine now.
Thanks

[2019-04-04 21:36] jacobw125 commented on #685
We ran into this issue and have been reporting on it in the azure-storage-java repo. I have listed the specific SDKs depending on the older version of the storage artifact in that ticket.

https://github.com/Azure/azure-storage-java/issues/400

[2019-04-08 03:28] #556 closed

[2019-04-08 19:38] jacobw125 commented on #685
Happy to report that the recent update to azure-storage-java (v11.0.0) resolved the namespace issue from my earlier comment.

[2019-04-09 02:38] gavinfish opened #724 "[Network] Protocol not support UDP anymore"
**Query/Question**
In class com.microsoft.azure.management.network.Protocol, it only supports Tcp, Http, Https and Icmp. Why Udp has been removed in new version?

***Why is this not a Bug or a feature Request?***

Questions about api change.

**Setup (please complete the following information if applicable):**

 - Version of the Library used : 1.13.0

 **Information Checklist**
 Kindly make sure t

[2019-04-10 18:08] praries880 commented on #724
@gavinfish I will look into this and get back to you.

[2019-04-10 23:50] #695 closed

[2019-04-22 15:23] romantsukerman commented on #709
Is there any updating regarding the request?

[2019-04-22 16:45] lmazuel opened #729 "Wrap listFunctions in azure-mgmt-appservice"
Exists as inner, needs wrapping:
[code]

[2019-04-23 09:42] michaeljqzq opened #730 "[QUERY] How can I add a new NAT pool to a load balancer"
**Query/Question**
A clear and concise ask/query.
Add an NAT pool to existing load balancer

***Why is this not a Bug or a feature Request?***
A clear explanation of why is this not a bug or a feature request?
No sure if it is feasible at this moment

**Setup (please complete the following information if applicable):**
 - OS: [e.g. iOS] windows
 - IDE : [e.g. IntelliJ] IntelliJ
 - Version of the L

[2019-04-29 18:03] lmazuel commented on #707
Made it to 1.22

[2019-04-29 18:03] #707 closed

[2019-05-01 19:04] praries880 opened #733 "Prepare branch to move to new release pipeline"
old instructions are not valid anymore,
we ned to do changes as marked in : https://github.com/azure/maven-bundler to move to the new release pipeline

[2019-05-02 15:25] giuseppegrieco opened #736 "[BUG] Cannot retrieve master key"
**Describe the bug**
After creating the app for functions I can't get the master key, as an unexpected exception is raised.

***Exception or Stack Trace***
Exception in thread "main" java.lang.RuntimeException: com.fasterxml.jackson.core.JsonParseException: Unexpected character ('<' (code 60)): expected a valid value (number, String, array, object, 'true', 'false' or 'null')
 at [Source: (okhttp3.

[2019-05-03 18:16] kurtzeborn commented on #736
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-05-08 22:48] jacobw125 opened #741 "[FEATURE REQ] Deploy Azure container instances into virtual network"
**Is your feature request related to a problem? Please describe.**
We'd like to be able to deploy container groups into an existing virtual network using the fluent API. The feature exists but doesn't appear to be supported in Java yet:
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet#deploy-to-existing-virtual-network

**Describe the solution you'd like**
As par

[2019-05-09 08:04] gavinfish opened #742 "Azure web app swap preserve vnet"
**Is your feature request related to a problem? Please describe.**

When I use RM PowerShell to swap slots for Azure Web app, there is parameter called PreserveVnet ,[details](https://docs.microsoft.com/en-us/powershell/module/azurerm.websites/switch-azurermwebappslot?view=azurermps-6.13.0). And it is also available in the [REST API](https://docs.microsoft.com/en-us/rest/api/appservice/webapps/swa

[2019-05-09 08:12] gavinfish opened #743 "[FEATURE REQ] Support traffic routing for Azure web app"
**Is your feature request related to a problem? Please describe.**
Azure CLI has a [feature](https://docs.microsoft.com/en-us/cli/azure/webapp/traffic-routing?view=azure-cli-latest) to mange traffic routing for web apps, the related java sdk does not support this feature yet.

**Describe the solution you'd like**
Add new interfaces for this feature gap.

**Describe alternatives you've considered**

[2019-05-10 18:14] kurtzeborn commented on #741
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-05-15 03:17] jdneo commented on #417
Do we have any updates for this?

[2019-05-15 19:49] praries880 opened #746 "[FEATURE REQ] Add GetInstance Api to VirtualMachineScaleSetVMs"
See PR : https://github.com/Azure/azure-libraries-for-net/pull/659, this is what we need to do for the java repo as well.

[2019-05-16 06:55] gangadharaswamy opened #747 "[BUG] - For Azure Storage File Services metrics list REST API does not return timeseries data when wildcarding `FileShare` dimension."
**Description**
Azure Storage File Services `Metrics - Definition` REST API returns `FileShare` as one of the dimension. But wildcarding the `FileShare` dimension (FilesShare eq '*') in `Metrics - List` REST API does not report any timeseries data.

***Metric - Definition Response for File Services***
[code]
[code]

***Metric - List REST API input parameters***
[code]
***Metric List REST API Respo

[2019-05-17 07:33] Flanker32 opened #748 "[FEATURE REQ] Please provide getAll method for app service attributes like RuntimeStack"
**Is your feature request related to a problem? Please describe.**
I'm working on the maven plugin for azure app service and azure functions, we need to get attributes from users' configuration. Some attributes like `RuntimeStack` didn't provide a `fromString` method, or some attributes like `PricingTier` their `fromString` method didn't fit our requirement, so I need a `getAll` method to get all

[2019-05-17 18:01] therealvegeta opened #869 "[QUERY]"
**Query/Question**
I have an Azure Function developed in Java (Maven) and it is deployed. However when reviewing it, it contains too many dependencies which aren't required. For example: Redis management packages which I do not need. Most of dependencies I don't need were imported when I added:

<groupId>com.microsoft.azure</groupId>
                <artifactId>azure</artifactId>
<version>1.16.0</

[2019-05-20 18:09] kurtzeborn commented on #747
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-05-23 23:52] akodali18 commented on #668
For the benefit of the community - @anirudhcavale  confirmed that ClusterDnsName should ideally not be emitted by Azure. If in case you are using this metric in your filter and not retrieving any metrics, please ignore this metric from your filter. This dimension always has a value equal to the Azure resource Id.
A similar issue can be seen with "FileShare" dimension for FileServices resources - h

[2019-05-24 17:48] praries880 opened #749 "[BUG]Reimage Scaleset Instance fails (issue reported in Fluent .Net)"
validate if this bug exists in the java repo as well :
https://github.com/Azure/azure-libraries-for-net/issues/663

If it does... fix it.

[2019-05-24 20:06] praries880 commented on #749
Closing,
as this bug does not exist in java. Code :
https://github.com/Azure/azure-libraries-for-java/blob/f1dcb97f0483c24613d4960c543eae8ddea35183/azure-mgmt-compute/src/main/java/com/microsoft/azure/management/compute/implementation/VirtualMachinesInner.java#L2595

[2019-05-24 20:06] #749 closed

[2019-05-28 02:05] Flanker32 commented on #660
@jianghaolu any updates on this issue?

[2019-05-30 00:54] yugangw-msft commented on #417
@jeneo, I am pretty sure `servicePrincipalId` is `clientId`. No familiar with Java SDK, but it should either read
 `user.name` from azureProfile.json or read `servicePrincipalId` from `accessTokens.json`

[2019-05-31 10:19] metaldectr opened #752 "[BUG] Cannot retrieve SQL tags from SDK."
**Describe the bug**
Cannot retrieve tags from SDK for SQL Database. But I can see tags using CLI.

**To Reproduce**

1. Create SQL Database
2. Assign tags for this db.
3. Check that using _`az sql db list --ids /subscriptions/**subscrId**/resourceGroups/**resourseGroupName**/providers/Microsoft.Sql/servers/**server-name**/databases/**db-name**`
see that `tags{}` is not empty.

Using SDK call `aut

[2019-05-31 17:28] #733 closed

[2019-05-31 17:28] praries880 commented on #733
PR : https://github.com/Azure/azure-libraries-for-java/pull/727

[2019-05-31 17:41] anirudhcavale commented on #561
Hi Anil,
No it is not possible to make a call for metric (even a single one) and get back all dimensions without using the $filter capability.
You can query for multiple metrics and use the $filter on any dimensions the metrics share. But if you use the $filter and try to filter on dimensions that aren't shared the response will not be what you expect.
#please-close

[2019-06-03 18:20] kurtzeborn commented on #752
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-07 18:33] ankushbindlish2 opened #753 "[BUG] GraphRbac servicePrincipalsByAppId method was not added to Fluent"
**Describe the bug**
"/{tenantID}/servicePrincipalsByAppId/{applicationID}/objectId": {

Swagger PR : https://github.com/Azure/azure-rest-api-specs/pull/5417/files

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and con

[2019-06-10 05:51] yaohaizh commented on #729
Hi @lmazuel. Not quite sure about this issue.
You means 1. Wrap FunctionEnvelopeInner (FunctionEnvelopeImpl.java) and expose it
                   2. Expose the listFunctions in WebAppsImpl.java?

[2019-06-12 05:09] yaohaizh commented on #698
@sharondahan I cannot repro this issue on version 1.22.0 bits. Could you try it on the latest azure SDK version?
I used this doc to create VMSS, then use the Azure SDK to get the application gate pool ids:
https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-create-vmss-cli

Code snippet:
[code]
Result:
[code]

[2019-06-12 09:42] akshitjain opened #755 "[BUG] Api versions is very old in java sdk 1.20.1"
**Describe the bug**
On creating the azure resources with java sdk 1.20.1 , i encounter the actual api versions with which the resource gets created are very old.

Say for example
Using the java sdk i created a resource group and dns zone. On checking the resources.azure.com i saw the api-version is very old.
For resource group it is: "api-version=2014-04-01"
For dns it is "api-version=2016-04-01"

[2019-06-12 13:23] NikolicMarko opened #756 "[Intermittent] Tagging snapshot using generic approach fails"
**Describe the bug**

Snapshot is created using Java SDK 1.22. Immediately after creation I tried to tag resource using following code
   client.genericResources() .getById(resourceId) .update() .withTag(key, value) .apply();
Exception occurred (see below)

I was able to do this with SDK version 1.12.
This issue is intermittent. It got resolved after couple of hours without any action on my side.

[2019-06-12 22:24] kurtzeborn commented on #755
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-12 22:25] kurtzeborn commented on #756
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-13 08:26] yaohaizh commented on #756
@NikolicMarko, I used this example to create an snapshot: https://github.com/Azure-Samples/managed-disk-java-create-virtual-machine-using-specialized-disk-from-snapshot

Then, at  line of 121, I added the following code snippets and everything went well. So could you help share your code snippet for investigation?  Thanks.

[code]

[2019-06-13 16:32] praries880 opened #757 "[FEATURE REQ] update Eventhub to use the latest swagger specs"
Even though the latest API version is still https://github.com/Azure/azure-rest-api-specs/tree/master/specification/eventhub/resource-manager/Microsoft.EventHub/stable/2017-04-01, it has some changes in it form the last time we updated EventHub.

We need tp update eventhub to use tle latest rest specs.

[2019-06-13 16:36] praries880 opened #758 "[FEATURE REQ] update Cosmos DBto use the latest swagger specs"
Even though the latest API version is still https://github.com/Azure/azure-rest-api-specs/tree/master/specification/cosmos-db/resource-manager/Microsoft.DocumentDB/stable/2015-04-08, it has some changes in it form the last time we updated CosmosDB.
We need tp update Cosmos DB to use tle latest rest specs.

[2019-06-14 11:40] NikolicMarko commented on #756
The only difference is that I've created snapshot of data disk so code looks like this

`Snapshot osSnapshot = azure.snapshots().define(managedOSSnapshotName)
                    .withRegion(region)
                    .withExistingResourceGroup(rgName)
                    .withDataFromDisk(dataDisk)
                    .create();`

I can't reproduce it right now. I've experienced this issue for c

[2019-06-14 14:32] yaohaizh commented on #756
@NikolicMarko then it is hard for us to diagnostic this situation. @praries880 , do we have any logging for diagnostic this one-time situation?

[2019-06-17 01:43] Flanker32 opened #759 "[BUG] Fail to enable diagnostic logs for App Service"
**Describe the bug**
Unable to enable diagnostic logs for App Service, tried both `withContainerLoggingEnabled()` and `updateDiagnosticLogsConfiguration()`.

***Exception or Stack Trace***
[Logs.txt](https://github.com/Azure/azure-libraries-for-java/files/3294931/Logs.txt)

**To Reproduce**
[code]

**Expected behavior**
App service server log is enabled, could see the streaming log in portal

**Sc

[2019-06-17 22:34] praries880 commented on #759
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

@yaohaizh Can you kindly take a look at this?

[2019-06-18 16:27] swagulkarni opened #762 "Connect to CosmosDBAccount through Azure function app"
I am trying to connect to CosmosDBAccount to regeneratekeys using Java SDK in Azure function app.

I am using AppServiceMSICredentials for authentication. The function app has been enabled as a managed entity.

Here is the sample code-

AppServiceMSICredentials msiCreds = new AppServiceMSICredentials(AzureEnvironment.AZURE);
Azure azure = Azure.authenticate(msiCreds).withSubscription("<my subscrip

[2019-06-19 21:26] praries880 commented on #762
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

CC: @yaohaizh

[2019-06-20 17:59] swagulkarni commented on #762
Update-

I tried adding the following jar dependency in my Function module based on the following documentation-
https://github.com/Azure/autorest-clientruntime-for-java

<dependency>
	  <groupId>com.microsoft.rest</groupId>
	  <artifactId>client-runtime</artifactId>
	  <version>1.6.9</version>
</dependency>

This solved the ClassPath Exception but now its failing with another exception. Stack tra

[2019-06-21 07:09] yaohaizh commented on #762
@swagulkarni What the Version of  Java SDK that you are using and what's the runtime that you are using?

[2019-06-21 14:00] swagulkarni commented on #762
I am using Java runtime.

Here are all the dependencies from my POM file

	<dependency>
	    <groupId>com.microsoft.azure</groupId>
	    <artifactId>azure-keyvault</artifactId>
	    <version>1.1.2</version>
	</dependency>

	<dependency>
	  <groupId>com.microsoft.rest</groupId>
	  <artifactId>client-runtime</artifactId>
	  <version>1.6.9</version>
	</dependency>

	<dependency>
	    <groupId>com.mic

[2019-06-21 14:00] swagulkarni commented on #762
Here is the java functions library version:
        <azure.functions.java.library.version>1.0.0-beta-4</azure.functions.java.library.version>

[2019-06-21 14:44] swagulkarni commented on #762
I am using java compiler version 1.8.

[2019-06-21 14:46] yaohaizh commented on #762
@swagulkarni Any sample project?

@praries880, @anuchandy It seems the project dependency has fluent and other Java SDK. Will it work if mixing the dependencies?

[2019-06-21 14:53] swagulkarni commented on #762
@yaohaizh @anuchandy @praries880
Note that earlier I had not added the following dependency in the POM file
<dependency>
  <groupId>com.microsoft.rest</groupId>
  <artifactId>client-runtime</artifactId>
  <version>1.6.9</version>
</dependency>

But it was throwing the class cast exception as mentioned in my first comment. Adding this dependecy resolved the class cast exception but now I am getting

[2019-06-21 14:59] swagulkarni commented on #762
[azure-functions-archetype.zip](https://github.com/Azure/azure-libraries-for-java/files/3314971/azure-functions-archetype.zip)

[2019-06-21 15:49] yaohaizh commented on #762
Some dependency are conflict, please use this tools to resolve the confilication.

https://plugins.jetbrains.com/plugin/7179-maven-helper/versions

https://stackoverflow.com/questions/32447650/how-to-view-maven-dependency-hierarchy-in-intellij

Could you try remove this dependency from your code:
<dependency>
    <groupId>com.microsoft.azure</groupId>
    <artifactId>azure-keyvault</artifactId>

[2019-06-21 16:02] swagulkarni commented on #762
@yaohaizh - I had removed the below dependency but then I got the ClassCastException. I have provided the stack trace earlier. Can you please try the sample at your end and let me know the issue?

com.microsoft.azure
azure-keyvault
1.1.2

[2019-06-24 01:30] yaohaizh commented on #762
The problems is with the client runtime dependency. You should use <dependency>
  <groupId>com.microsoft.rest</groupId>
  <artifactId>client-runtime</artifactId>
  <version>**1.6.8**</version>
</dependency>

The azure-keyvault use 1.3.4 which doesn't have the ProxyResource class.

[2019-06-24 08:18] arun542 opened #764 "[BUG] In azure-mgmt-appservice , getting minTLSVersion as None Always"
I am using the version 1.21.0, using listFunctions method to list all functions. For each function tried using -> func.inner().siteConfig().minTlsVersion() to get the TLS version. Getting null always. Not sure

[2019-06-24 14:29] swagulkarni commented on #762
@yaohaizh  - I dont see any 1.3.4 version for azure-keyvault. Can you please confirm?

[2019-06-24 19:14] prashanthmadi commented on #762
https://mvnrepository.com/artifact/com.microsoft.azure/azure-keyvault/1.1.2

![image](https://user-images.githubusercontent.com/1486808/60045372-5b202f80-968a-11e9-8b69-a966dbd7b723.png)

[2019-06-24 19:16] prashanthmadi commented on #762
@yaohaizh

looks like even 1.2.1 uses lower version of client runtime(v1.6.1)

https://mvnrepository.com/artifact/com.microsoft.azure/azure-keyvault/1.2.1

[2019-06-24 20:02] paulojohnj opened #767 "[BUG] Unable to enable and configure flow log for network security group"
**Describe the bug**
Unable to enable and configure flow log for network security group, using a storage account in either the NetworkWatcherRG or another existing resource group

***Exception or Stack Trace***
The client has permission to perform action 'Microsoft.OperationalInsights/workspaces/sharedKeys/action' on scope '/subscriptions/{subscription_id}/resourceGroups/NetworkWatcherRG/providers

[2019-06-24 22:26] kurtzeborn commented on #764
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-24 22:31] kurtzeborn commented on #767
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

[2019-06-25 01:12] yaohaizh commented on #762
I mean

As you can see here, azure-keyvalue use 1.3.0 which doesn't have proxreource. There are the conflict of the dependency. Not sure who provide the code snippet, the sample code have conflict of client runtime.

[2019-06-25 15:12] swagulkarni commented on #762
@yaohaizh - The problem got resolved after I changed the client-runtime version to 1.6.8

Here is my pom xml dependency now.

        <dependency>
            <groupId>com.microsoft.azure.functions</groupId>
            <artifactId>azure-functions-java-library</artifactId>
        </dependency>

        <dependency>
           <groupId>com.microsoft.rest</groupId>
           <artifactId>client-run

[2019-06-25 20:06] swagulkarni commented on #762
After incorporating the change in the jar version, the initial exception is gone but now I am getting the following error while calling the regenrateKey method on the cosmos db account:

See the below stack trace:

2019-06-25T18:42:14.332 [Error] Executed 'Functions.RotateDBKeys' (Failed, Id=470fb946-2ad2-4b8a-b870-11b43e528dfd)

Result: Failure

Exception: CloudException: polling response does no

[2019-06-25 20:17] swagulkarni commented on #762
Note that I notice that the cosmos keys are indeed regenerating but the call still throws the above exception at the end.

[2019-06-27 03:22] yaohaizh commented on #762
@swagulkarni Could you provide the cloud exception details? Especially response body?

[2019-06-27 20:20] swagulkarni commented on #762
@yaohaizh  - I have already provided the exception stack trace in my last comment here[https://github.com/Azure/azure-libraries-for-java/issues/762#issuecomment-505602067]

[2019-06-28 09:47] yaohaizh commented on #762
The exception with payload about response which will tell details about what happened for the underlying REST API calling. Thanks.

[2019-07-01 14:42] swagulkarni commented on #762
@yaohaizh  - I am able to have workaround on this issue by setting some exclusions in my pom.xml

	   <dependency>
		    <groupId>com.microsoft.azure</groupId>
		    <artifactId>azure-keyvault</artifactId>
		    <version>1.1.2</version>
		    <exclusions>
		      <exclusion>
		       <groupId>com.microsoft.azure</groupId>
		       <artifactId>azure-client-runtime</artifactId>
		      </exclusion>

[2019-07-01 20:21] anuchandy opened #771 "Expose withers to specify certs for VMSS"
**Is your feature request related to a problem? Please describe.**
Customers are unable to specify cert for VMSS.

**Describe the solution you'd like**
Recommendation is to expose withers in the optional stage of VMSS definition and update for adding and removing certs.

**Information Checklist**
Kindly make sure that you have added all the following information above and checkoff the required fie

[2019-07-02 09:04] #757 closed

[2019-07-02 09:04] yaohaizh commented on #757
Updated the API.

[2019-07-02 11:33] AldusLorde opened #774 "[BUG] Kubernetes cluster returns 401"
**Describe the bug**
Kubernetes returns 401 error for every connection attempt. The most weird part is that this application worked fine more than a week ago(20.06.19). I use the azureauth.properties to access the cloud. kubeconfig is retrieved using adminKubeConfigConent().
This array is passed to Skuber API for the deployment of other needful components.
***Exception or Stack Trace***
`[INFO] [0

[2019-07-02 11:38] vihanp opened #772 "[FEATURE REQ] resource management - DeploymentOperationProperties - missing 'provisioningOperation' attribute?"
I want to get provisioning operation (type) from deployment operation detail.
Azure portal shows the provisioning operation (Create, Action, Read etc.) in each operation detail.
This information is also availabile in REST response (via GET https://management.azure.com/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/deployments/{deploymentName}/operations/{operationId}?api-version

[2019-07-02 20:02] #746 closed

[2019-07-02 20:05] praries880 commented on #709
@romantsukerman  As of now the rest api spec does not support this. This is a request for the service team.

[2019-07-02 20:09] praries880 commented on #698
@sharondahan We are closing the issue for now, kindly re-open the issue if it you are still runnign into the issue with the latest SDK version.

[2019-07-02 20:09] #698 closed

[2019-07-02 20:10] praries880 commented on #658
this is now supported ion the fluent layer : https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-compute/src/main/java/com/microsoft/azure/management/compute/VirtualMachineScaleSetVM.java#L36

[2019-07-02 20:10] #658 closed

[2019-07-02 20:21] praries880 commented on #710
@anuchandy can you look into this?

[2019-07-02 20:23] praries880 commented on #689
@Coada
You should be able to use :
https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-compute/src/main/java/com/microsoft/azure/management/compute/VirtualMachine.java#L596 to do what you want to achieve.

[2019-07-02 20:23] #689 closed

[2019-07-02 20:28] praries880 commented on #652
@Underwood-M  thanks for opening the issue, This is something the compute team needs to investigate. I have labelled the issue such that it will show up on the teams radar.

[2019-07-02 22:34] maggiepint commented on #772
Hi, thanks for sending us this feedback. We have routed this to the appropriate team for follow-up.

[2019-07-03 21:04] yevster opened #775 "Cannot access CDN profiles when using `AppServiceMSICredentials`+`withDefaultSubscription`."
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2019-07-04 00:10] maggiepint commented on #775
Thanks for reporting this. I have routed to the appropriate team.

[2019-07-08 02:40] yaohaizh commented on #775
@yevster AZure cli only set your local subscription while azure function cannot pick it. You might need set the subscripionid in your Azure function? Could you try it and see whether it can be succeeded?

[2019-07-08 03:14] yaohaizh commented on #772
This is not exposed by the REST API specification: https://github.com/Azure/azure-rest-api-specs/tree/master/specification/resources/resource-manager/Microsoft.Resources/stable/2019-05-10 though it can be found on the REST response. Please file an issue on the rest spec repo for specification.

[2019-07-08 05:28] yaohaizh commented on #762
There is come confliction between two libs. Could you use https://mvnrepository.com/artifact/com.microsoft.azure/azure-mgmt-keyvault/1.23.0 & https://mvnrepository.com/artifact/com.microsoft.azure/azure-mgmt-cosmosdb/1.23.0
in order to provide consistent calling in your case?

[2019-07-08 07:26] yaohaizh opened #776 "[FEATURE REQ] Java SDK compatibility with ADE single PASS extension"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-08 12:39] yevster commented on #775
@yaohaizh, What do you mean by "set the subscriptionid in your Azure function"? Do I need to change my original code snippet?

[2019-07-08 13:41] yaohaizh commented on #775
[code]

[2019-07-08 13:46] yevster commented on #775
Yes, that works - it was the workaround I used. However, this is still a bug.

First, the dependency on Azure CLI is not documented in [the documentation for `withDefaultSubscription`](https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.management.azure.authenticated.withdefaultsubscription?view=azure-java-stable).

Second, if `withDefaultSubscription` is used in an illegal context, an e

[2019-07-08 14:29] gangadharaswamy opened #777 "[BUG] - In Azure Storage File Services, CAPACITY specific metrics are updating with a delay more than a PT1H interval"
**Description**
In Azure Storage File Service, CAPACITY specific metrics like `FileCapacity`, `FileCount`, `FileShareCount`, etc are reporting actual values with a delay more than a PT1H collection interval, both on azure metrics monitor and via REST API call.
Here it took 4 collection intervals to reflect the actual metric values(_screenshots attached_).

**To Reproduce**
Create a storage account

[2019-07-10 17:38] akodali18 commented on #561
Thanks for confirming.

[2019-07-10 17:38] #561 closed

[2019-07-11 17:40] jaredmoo commented on #752
This is known issue with the 2014 api-version. It is fixed in all later api-versions such as 2017-03-preview or 2017-10-preview. @metaldectr which namespace are you using for listing databases?

[2019-07-12 01:14] jeffpatt24 commented on #777
For Azure Files capacity metrics, the values are refreshed every two hours.

[2019-07-12 01:21] jeffpatt24 commented on #777
The Azure Metrics doc states the values are refreshed daily but it's actually every two hours: https://docs.microsoft.com/en-us/azure/storage/common/storage-metrics-in-azure-monitor#capacity-metrics

[2019-07-12 04:07] jeffpatt24 commented on #777
#please-close

[2019-07-12 15:14] #777 closed

[2019-07-13 08:58] yaohaizh commented on #721
Fixed on PR#737.

[2019-07-13 08:58] #721 closed

[2019-07-15 00:13] paulojohnj commented on #767
For what it is worth, it seems I am able to configure a flow log for a network security group in version 1.23 if I specify the line: `fls.inner().withFlowAnalyticsConfiguration(null);` before attempting to update the flow log setting for that particular nsg.

[2019-07-15 05:28] yaohaizh commented on #729
PR merged.

[2019-07-15 05:28] #729 closed

[2019-07-17 18:12] peterpogorski commented on #15
@praries880 has this been prioritized in the backlog?

[2019-07-19 11:47] vihanp opened #789 "[QUERY] should azure endpoint (Azure) be cached?"
**Query/Question**
In my service that is managing Azure resources on behalf of it's user, I'm obtaining azure endpoint like this:

[code]
We estimate to have like 100 accounts with different creds/subscription id.

Can/should this Azure instance be cached in between calls  and what's correct cache evict strategy (how long should one authenticated Azure client be cached)? I assume it is safe to sha

[2019-07-24 03:23] yaohaizh commented on #776
Close this as it was fixed in v1.24.

[2019-07-24 03:23] #776 closed

[2019-07-24 03:23] yaohaizh commented on #771
Close as it has been added.

[2019-07-24 03:23] #771 closed

[2019-07-24 22:25] kurtzeborn opened #788 "[QUERY] should azure endpoint (Azure) be cached?"
@vihanp commented on [Fri Jul 19 2019](https://github.com/Azure/azure-sdk-for-java/issues/4486)

**Query/Question**
In my service that is managing Azure resources on behalf of it's user, I'm obtaining azure endpoint like this:

[code]
We estimate to have like 100 accounts with different creds/subscription id.

Can/should this Azure instance be cached in between calls  and what's correct cache evic

[2019-07-24 22:28] kurtzeborn commented on #788
Failed to properly transfer using ZenHub.  Closing this one.  The issue was successfully transferred here: https://github.com/Azure/azure-libraries-for-java/issues/789

[2019-07-24 22:28] #788 closed

[2019-07-29 07:08] weidongxu-microsoft commented on #789
Azure object created with
[code]
will not initiate REST call at this stage. It only load the credential from file to Azure object. So there is very lost cost with it (compared to subsequent query/management method that would incur a REST API call).

You can verify this independently with log level set to LogLevel.BODY_AND_HEADERS and observe the logging.

In my profiling, the above code typically

[2019-07-29 09:18] weidongxu-microsoft commented on #774
Please let me know if this issue persists or not.

I have tried locally with 1.22 library and cannot reproduce it. I can observe that kubeconfig printed out correctly.
However without detailed cluster config, I only tried 1 node and coded in Java. While I think you are using more than 1 node and coded in Scala.

My sample code:

[code]

[2019-07-30 15:02] ang300 opened #794 "[BUG] Azure Container Service (AKS) define with RBACenabled true is not possible?"
I am using the  azure-libraries-for-java to create a kubernetes cluster with withRBACEnabled true. The define()  does not have the option withRBACEnabled and the cluster cannot be updated to set this property.
KubernetesCluster kubernetesCluster = azure.kubernetesClusters().define(kubernetesClusterVO.getAksName())
        .withRegion(kubernetesClusterVO.getRegion())
        .withNewResourceGroup(k

[2019-07-30 21:28] amishra-dev commented on #747
@gangadharaswamy, thanks for reporting this issue. As you can tell this is not a SDK issue. We have reported this issue with the service team and got an ACK from them about it. They are tracking the work to fix this problem at their end.

[2019-07-30 21:28] #747 closed

[2019-07-30 23:03] kurtzeborn commented on #794
Thanks for opening this issue.  I'm routing it to an appropriate person for follow up.

CC: @zikalino

[2019-07-31 06:35] yaohaizh commented on #708
https://github.com/Azure/azure-libraries-for-java/pull/793

[2019-07-31 06:36] yaohaizh commented on #708
Fixed.

[2019-07-31 06:36] #708 closed

[2019-07-31 08:31] yaohaizh opened #795 "[FEATURE REQ]Add attached prepopulated data to VMSS"
I know that attaching existing (prepopulated) disk to VM in VMSS instance is not enabled in Java SDK yet i.e. this scenario https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-attached-disks#adding-pre-populated-data-disks-to-an-existing-scale-set

[2019-07-31 08:32] yaohaizh commented on #795
Status
- [ ] Java
 - [ ] Net

[2019-07-31 15:11] anuchandy opened #796 "[Cleanup] remove the unnecessary file .factorypath"
Remove this editor specific file https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-network/.factorypath

[2019-08-01 08:56] vihanp commented on #789
Thank you for your response.

[2019-08-01 08:56] #789 closed

[2019-08-06 05:42] yaohaizh commented on #752
@weidongxu-microsoft , we have updated the SQL version. Please help verify this issue. Thanks.

[2019-08-06 07:31] yaohaizh opened #797 "[FEATURE REQ]Add CosmosDB API: list database for CosmosDB accounts"
https://github.com/Azure/azure-libraries-for-net/pull/756

[2019-08-06 07:44] yaohaizh opened #798 "[FEATURE REQ] Update network API to the latest version (2019-06)"

[2019-08-07 00:07] barryku opened #799 "Timeout exceptions with various APIs"
**Query/Question**
We are seeing more timeout exceptions calling various Azure APIs these days.  All of them failed with socket closed then timeout exception.  What can be the cause of these issues?  Will increase read timeout in Azure client help?

The two most common API calls that failed are Azure.virtualMachines().getByResourceGroup() and Azure.managementLocks().deleteByIds(). We are using 1.1

[2019-08-07 06:02] weidongxu-microsoft commented on #795
also referring to CLI https://docs.microsoft.com/en-us/cli/azure/vmss/disk?view=azure-cli-latest

[2019-08-07 22:16] loarabia commented on #799
Hi again @barryku similar to the report in the other repo, I'm labeling this to help the team find it.

[2019-08-09 03:59] zuojihong commented on #110
I had the same issue as well. I did read the text of parameters.json into String but it still failed. Below is the code snippet:

[code]

The similar error was returned as below:

Status code 400, {"error":{"code":"InvalidRequestContent","message":"The request content was invalid and could not be deserialized: 'Error converting value \"https://schema.management.azure.com/schemas/2015-01-01/deploym

[2019-08-10 05:41] barryku commented on #799
It's getting worse, and would really appreciate some help.  We noticed big jump in mid-July, and have seen tons of errors each week.  We are calling these APIs hundreds of times each hour, and here are numbers of errors we encountered each week since April,

2019-04-01 | 2
2019-04-08 | 4
2019-04-15 | 3
2019-04-22 | 32
2019-04-29 | 15
2019-05-06 | 2
2019-05-13 | 11
2019-05-20 | 19
2019-05-27 | 34
2

[2019-08-11 07:23] vojtechvit commented on #536
Just ran into the same issue too:
1. Created a Linux Function App in a new resource group
2. Deleted the Resource Group
3. Created a Windows Function App in a new resource group - both with the same names as the above
- same error when creating the Function App

suggested workaround doesn't seem to work for me

[2019-08-13 20:53] krjackso commented on #752
I'm also running into this issue with SqlDatabase and SqlElasticPool.  It seems to me like they should both implement [Resource](https://azure.github.io/azure-libraries-for-java/com/microsoft/azure/management/resources/fluentcore/arm/models/Resource.html) similar to how the [SqlServer](https://azure.github.io/azure-libraries-for-java/com/microsoft/azure/management/sql/SqlServer.html) class does.

[2019-08-14 00:25] loarabia commented on #799
Hi @barryku a few questions as we try and figure this out.

1. There appears to be a jump around the beginning of June and then another around the beginning of August. Did your team happen to change any dependencies or do any larger code changes around this time period?
2.  Along the same line as the dependencies did any of the Azure SDKs in these projects get revved?
3. You've offered a few examp

[2019-08-14 08:15] weidongxu-microsoft commented on #799
Hello @barryku

If possible could you add some log output related to the timeout?
Sample code:
[code]

Also if possible could you describe concurrency/theading model in the project?

I have checked 1.12.0 code. I think the default timeout is 60 seconds. However it appears that it is hard to configure it from client.

Meanwhile I will be querying Azure.virtualMachines().getByResourceGroup() on my a

[2019-08-14 15:00] anuchandy commented on #799
To configure readtimeout in azure client use `withReadTimeout` setter:

[code]

[2019-08-14 18:33] barryku commented on #799
@loarabia no, we have not had significant changes during the time. Neither did changes to the libraries we use.  Not sure what kind of statistics you are looking for.  It's our backup solution, so it goes through customer instances and do snapshot.  The same is done hundreds of times each hour, and it works fine the majority of times. However, the number of exceptions have caused lots of pain to t

[2019-08-14 18:38] barryku commented on #799
Thank you.  I did find the API doing that, but just not sure if it will help my situation.  It also seems the timeout is about 1 min regardless of what I set it to.  I disabled wifi to get the timeout, and didn't find it changed much even changing both connection and read timeout.

[2019-08-14 18:47] barryku commented on #799
It's our production server that I can't change these liberally.  I also worked with Auzre support, and set up tdpdump on our stage server for their investigation.  Unfortunately, stage server is not used much, only couple of errors in a week or two.  We did captured one, but that didn't yield anything useful.  You brought a good point though.  I will suggest my team to externalize the Azure log se

[2019-08-15 01:25] barryku opened #803 "Is there DefaultAWSCredentialsProviderChain equivalent for loading AzureCredential?"
**Query/Question**
We have integration tests that use ApplicationTokenCredentials to authenticate. It would be really nice if the default credentials can be loaded from ~/.aws folder, so developers don't need to modify a property file or something to enter their credentials.  AWS provides DefaultAWSCredentialsProviderChain does just that which makes it easy to manage unit tests.

[2019-08-15 06:15] weidongxu-microsoft commented on #799
Hi @barryku

I still have no luck to reproduce on my local.

Here are some tips for mock the timeout (say, for test retry logic on dev):

[code]

MockWebServer is com.squareup.okhttp3:mockwebserver:3.4.2
Basically the code just replace azure resource management base url with the localhost under MockWebServer, which serves a really slow response.

This code only serves for dev testing.

For retry l

[2019-08-15 09:13] weidongxu-microsoft commented on #767
Hello @paulojohnj

You are exactly right. The underlying bug is that workspaceResourceId (i.e. log analytics workspace) in flowAnalyticsConfiguration is marked as required, even when flowAnalyticsConfiguration is not enabled.

If you do not use flowAnalyticsConfiguration at all, your workaround `fls.inner().withFlowAnalyticsConfiguration(null);` would work fine.

If you use flowAnalyticsConfigurat

[2019-08-16 02:24] yaohaizh commented on #798
Completed with https://github.com/Azure/azure-libraries-for-java/pull/801

[2019-08-16 02:24] #798 closed

[2019-08-16 02:29] weidongxu-microsoft commented on #767
To service team:

Network API spec marks property **workspaceResourceId** as required. https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2019-06-01/networkWatcher.json#L2773

However response from the endpoint does not have this property.
[code]

When user updates it with enabled=true but flowAnalyticsConfiguration.networkWatc

[2019-08-19 05:57] yaohaizh opened #805 "[FEATURE REQ] Update Monitor to the latest swagger version"
# Update the to the latest swagger spec
 - [ ] Java
 - [ ] .Net

[2019-08-19 08:41] yaohaizh commented on #755
@akshitjain Our current version is 1.24.2, you should try the latest lib for the latest version. If still find the version is stale, we'll plan the swagger update accordingly. Thanks.

[2019-08-19 08:59] yaohaizh commented on #720
@akshitjain Close this issue since it was already resolved. Feel free to open it if the issue still persists.

[2019-08-19 08:59] #720 closed

[2019-08-19 19:46] paulojohnj commented on #275
Just noticed this issue while searching for the functionality to perform a swap of the os disk of a vm to a snapshot (then turned into a managed disk). I am not sure if it is poor form to comment on issues opened by the internal team, however I am wondering if there is any way to swap the OS disk in the current version of the sdk.

[2019-08-20 03:05] yaohaizh opened #808 "[BUG] Playback mode for testing take long time to complet[16 minutes for all]e. Need improve this."
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2019-08-20 03:53] Drewm3 commented on #799
Removing "Service Attention" label because this does not appear to be a backend service issue.

[2019-08-20 05:28] yaohaizh commented on #668
This is not a SDK issue but REST calling. Need service team to handle.

[2019-08-20 06:00] yaohaizh opened #809 "[BUG] CI pipeline is not stable"
Need fix the pipeline issue for Java regarding surefire in ADO

[2019-08-20 08:14] #797 closed

[2019-08-20 08:17] #796 closed

[2019-08-20 11:43] FireDrunk opened #810 "[BUG] KubernetesClustersImpl.listKubernetesVersions(Region.WEST_EUROPE) differs from az aks get-versions --location west-europe"
**Describe the bug**
The library function KubernetesClustersImpl.listKubernetesVersions() differs from the results that are given by `az aks get-versions --location west-europe`.

***Exception or Stack Trace***
None

**To Reproduce**
Steps to reproduce the behavior:
Execute function and `az aks get-versions --location west-europe`.

***Code Snippet***
`Azure.authenticate(credentials).withDefaultSu

[2019-08-21 02:36] weidongxu-microsoft commented on #795
sample code

[code]

[2019-08-21 02:59] yaohaizh opened #811 "[FEATURE REQ] Update AKS to use the latest swagger spec"
- [x] Java
 - [x] VMSS support: https://github.com/Azure/AKS/issues/945#issuecomment-523220680

[2019-08-22 02:27] yaohaizh opened #813 "[BUG] Expose keyVaultSecretId for ApplicationGatewaySslCertificate"
**Describe the bug**
A clear and concise description of what the bug is.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screen

[2019-08-22 03:29] yaohaizh commented on #752
This need update SQL spec to composite v3, which is required lots of update.

[2019-08-26 02:53] #795 closed

[2019-08-26 08:25] yaohaizh opened #817 "[FEATURE REQ] Update batch swagger to the latest"
- [x] Java
- [ ] dotNet

[2019-08-27 04:21] yaohaizh commented on #709
Reopen it since the lib team should add the API to expose the values.

[2019-08-28 01:16] weidongxu-microsoft commented on #759
Could be caused by concurrency on service, at config/web and config/log

[2019-08-28 14:03] pelegrim opened #818 "[BUG] The api-version '2018-02-14-preview' is invalid."
Current apiVersion is not supported.

Status code 400, {"error":{"code":"InvalidApiVersionParameter","message":"The api-version '2018-02-14-preview' is invalid. The supported versions are '2019-08-01,2019-07-01,2019-06-01,2019-05-10,2019-05-01,2019-03-01,2018-11-01,2018-09-01,2018-08-01,2018-07-01,2018-06-01,2018-05-01,2018-02-01,2018-01-01,2017-12-01,2017-08-01,2017-06-01,2017-05-10,2017-05-01,20

[2019-08-28 14:50] pelegrim commented on #818
https://github.com/Azure/azure-libraries-for-java/pull/819

[2019-08-29 01:29] weidongxu-microsoft commented on #818
@pelegrim Would you let us know which operation would result in this exception?
I make a quick test and seems basic operation is good.

If there is issue with 2018-02-14-preview API, we would do the upgrade (However it would involve more than changing the version. Class/method need to be upgraded with that API).

[code]

[2019-08-29 03:13] yaohaizh commented on #767
As confirmed, this is Swagger issue and need fix from service team.

[2019-08-29 06:24] yaohaizh commented on #813
Example PR: https://github.com/Azure/azure-libraries-for-java/pull/783/files

[2019-08-29 07:53] pelegrim commented on #818
Hi,

It is myne mistake - different resource call

GET https://management.azure.com/subscriptions/{{subscriptionId}}/resources?$filter=resourceType eq 'Microsoft.KeyVault/vaults'&api-version=2018-02-14-preview

{
    "error": {
        "code": "InvalidApiVersionParameter",
        "message": "The api-version '2018-02-14-preview' is invalid. The supported versions are '2019-08-01,2019-07-01,2019-06

[2019-08-29 11:46] pelegrim commented on #818
Error exists if resourceGroups has empty value

GET  https://management.azure.com/subscriptions/{{subscriptionId}}/resourceGroups/<EMPTY>/providers/Microsoft.KeyVault/vaults?api-version=2018-02-14-preview

{
    "error": {
        "code": "InvalidApiVersionParameter",
        "message": "The api-version '2018-02-14-preview' is invalid. The supported versions are '2019-08-01,2019-07-01,2019-06-01,2

[2019-08-29 11:46] #818 closed

[2019-08-30 02:09] weidongxu-microsoft commented on #767
https://github.com/Azure/azure-rest-api-specs/pull/7080

[2019-08-30 02:11] weidongxu-microsoft opened #820 "[FEATURE REQ] port RuntimeStack update from dotnet"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-08-30 08:47] xccc-msft commented on #803
@barryku Hi, can you please check below link whether this is what you are looking for?
https://github.com/Azure/azure-libraries-for-java/blob/master/AUTH.md#using-credentials-from-azure-cli-automatically-preview
If not, please share more details on how you use ApplicationTokenCredentials to authenticate currently. Thanks.

[2019-09-02 07:16] yaohaizh commented on #628
@sklim2002, what kind of SDK that you are using?

[2019-09-02 07:28] yaohaizh commented on #602
This is REST call question for service team.

[2019-09-02 07:31] yaohaizh commented on #601
@xccc-msft, if the issue is true, it will be a real bug we need fix.

[2019-09-02 07:33] yaohaizh commented on #590
@baburajvelayudhan could you add more details here? You are using SDK or calling REST API? And what's the expected behavior here?

[2019-09-02 07:37] yaohaizh commented on #584
Close this issue as it is by design.

[2019-09-02 07:37] #584 closed

[2019-09-02 07:41] yaohaizh commented on #577
@rjardines83 any update on this issue? Thanks.

[2019-09-02 07:44] yaohaizh commented on #569
@warrenzhu25 What is this issue about? Any update?

[2019-09-02 07:53] yaohaizh commented on #563
Close this issue as it is document from service side. @sushant-jaiswal feel free to reopen it if you have more question here.

[2019-09-02 07:53] #563 closed

[2019-09-02 08:07] yaohaizh commented on #507
@abrarahmed56 https://github.com/Azure/azure-libraries-for-java/commit/37e0ce1cc6d2e7250e71380f02d7fa4c2773b1a6 This issue was recently fixed with the PR in the v1.25.0

[2019-09-02 08:07] #507 closed

[2019-09-02 08:11] yaohaizh commented on #492
Change committed.

[2019-09-02 08:11] #492 closed

[2019-09-02 08:12] yaohaizh commented on #483
https://github.com/Azure/azure-libraries-for-java/blob/master/AUTH.md

[2019-09-02 08:12] #483 closed

[2019-09-02 08:19] yaohaizh commented on #475
@cristianciutea What kind of metric needed here? Could you input more detail information?

[2019-09-02 08:21] yaohaizh commented on #473
@apache8080 any code snippet to share?

[2019-09-02 08:23] yaohaizh commented on #464
Answered in the issue.

[2019-09-02 08:23] #464 closed

[2019-09-02 08:24] weidongxu-microsoft commented on #536
Looks like bug on service.

However I am not able to reproduce.

Basically I tried to loop on 1. create resource group, 2. create windows/linux app service plan and function app within it, 3. delete the resource group.

[code]

[2019-09-02 08:42] yaohaizh commented on #421
@sumangit789 could you elaborate here for your usage scenarios?

[2019-09-02 08:52] yaohaizh commented on #413
@jasonbw  Does the reply resolve your issue?

[2019-09-02 09:00] yaohaizh commented on #326
@niteshjain1 Could you be more specific here, any code snippet?

[2019-09-04 13:18] #820 closed

[2019-09-04 18:22] jasonbw commented on #413
@yaohaizh I'm no longer working on this; closing. if we need to we'll open a new issue

[2019-09-04 18:22] #413 closed

[2019-09-05 06:48] yaohaizh opened #823 "[FEATURE REQ] Add enableCassandraConnector & connectorOffer for CosmosDB"
https://github.com/Azure/azure-rest-api-specs/pull/6550

[2019-09-09 07:22] #759 closed

[2019-09-09 07:23] weidongxu-microsoft commented on #759
To be released on 1.26

[2019-09-09 07:30] weidongxu-microsoft commented on #805
Blocked by service: https://dev.azure.com/msazure/One/_workitems/edit/5301492

[2019-09-10 02:01] yaohaizh opened #827 "[FEATURE REQ] Add https proble for network load balander"
- [x] Java
-  [x] .Net

[2019-09-10 05:22] #808 closed

[2019-09-10 05:24] yaohaizh commented on #805
Blocked by service team issue.

[2019-09-10 06:58] weidongxu-microsoft commented on #709
Scheduled in 1.26

[code]

[2019-09-10 17:30] manurbek commented on #827
Please add WithProtocol(protocol_type) method called on LoadBalancer.DefineHttpProbe() that takes in a single parameter (i.e. protocol type: https, http) and sets the protocol of the probe to a specified protocol_type. Please make sure to support HTTPS protocol.

[2019-09-11 01:39] #709 closed

[2019-09-11 04:23] yaohaizh commented on #809
Close this one as it is maven central not stable.

[2019-09-11 04:23] #809 closed

[2019-09-12 05:06] #813 closed

[2019-09-12 05:08] #811 closed

[2019-09-17 12:39] idear1203 commented on #668
@yaohaizh Could you please give more details about requirements on service team? What should we do for this GitHub issues?

[2019-09-18 05:35] weidongxu-microsoft commented on #827
Sample code (.NET).
By default the Port is 443.

[code]

Note LoadBalancer SKU need to be LoadBalancerSkuType.Standard to support HTTPS probe. (Basic does not)

[2019-09-18 05:38] yaohaizh commented on #668
@idear1203  with $filter parameter, the time series values is not returned.

Please make sure this is design behavior or should be fixed on the service side.  Similar issue: https://github.com/Azure/azure-libraries-for-java/issues/747 that need fix.

[2019-09-18 06:20] yaohaizh opened #837 "[BUG] Fix security alert on github home page"
Some java package need be updated to avoid security alerts.

[2019-09-18 07:58] Flanker32 opened #838 "[FEATURE REQ] Add Java SE 11 Runtime in WebContainer"
**Is your feature request related to a problem? Please describe.**
We are developing the maven plugin for app service, and we use this libraries to get all web containers of app services, but we found Java SE for Java 11 is miss in [WebContainer](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-appservice/src/main/java/com/microsoft/azure/management/appservice/WebContainer.

[2019-09-18 18:38] manurbek commented on #827
Looks great. Which release will it be coming with?

[2019-09-18 23:21] bgklein commented on #817
Can we get a status update on this?

[2019-09-19 03:21] yaohaizh commented on #817
https://github.com/Azure/azure-libraries-for-java/pull/836 under code review should be ready soon@xccc-msft

[2019-09-19 04:03] weidongxu-microsoft commented on #827
@manurbek
It will definitely with 1.27, which scheduled for Oct. 11th. Let us know if you need a urgent release say 1.26.1 (I assume you need only .NET? Meaning Java would still go standard 1.27 release).

[2019-09-19 05:05] #817 closed

[2019-09-19 05:05] xccc-msft commented on #817
version 1.27

[2019-09-19 05:17] manurbek commented on #827
@weidongxu-microsoft We do need an urgent release of this feature as discussed earlier with Yaohai. What would be a realistic date for 1.26.1 release?

Yes, we need it only in .NET sdk.

[2019-09-19 05:20] weidongxu-microsoft commented on #827
@manurbek I will check with Yaohai. I assume early next week.

[2019-09-19 05:24] manurbek commented on #827
@weidongxu-microsoft Thank you. Early next week would be perfect.

[2019-09-20 02:41] xccc-msft commented on #601
https://github.com/Azure/azure-libraries-for-java/pull/839

[2019-09-20 02:41] #601 closed

[2019-09-20 06:19] Flanker32 commented on #838
Sorry for my mistake, portal only support java se with linux runtime, so close this issue.

[2019-09-20 06:19] #838 closed

[2019-09-23 03:01] ChenTanyi commented on #632
This issue is due to java sdk need to parse all inner into json, but service fails to check the `plan` field.

@mjconnection @Drewm3 Could you please see about it? I think maybe the service blocking the request with same plan is an issue.

Here is a sample json (the response of GET is the same as the request of PUT):
[code]

[2019-09-23 03:05] ChenTanyi commented on #632
@karldmoore I have tested `applyAsync` successfully. Do you use `applyAsync().wait()`? If so, you need to change it into `applyAsync().toBlocking().last()` like what was written in the inner class.

[2019-09-23 03:22] weidongxu-microsoft commented on #827
@manurbek .NET 1.26.1 release.

[2019-09-23 08:52] MourIdri opened #842 "[Change authgen.py to use API instead CLIs]"
Hi,
In the following directory : https://github.com/Azure/azure-libraries-for-java/tree/master/tools the script in the file : authgen.py use Command Lines to create an SP and is getting data from Command Lines STDOUT.
COuld we use API instead ?
in the following :

[code]
in terms of security , if someone adds a ">" security informations for the SP would be stored locally...

[2019-09-23 22:30] manurbek commented on #827
Thank you very much!

[2019-09-24 05:41] Drewm3 commented on #632
I have reached out to the API developers requesting them to take a look at this bug.

[2019-09-25 08:36] xccc-msft commented on #417
Hi @jdneo the service principal id is stored in AzureCliCredentials. We will plan to expose it.

[2019-09-25 20:52] sirhamster opened #846 "[BUG] Get IllegalArgumentException when disabling Network Watcher flow log"
**Describe the bug**
Using the Azure library to disable Network Watcher flow log generates an IllegalArgumentException error stating that a required argument **workspaceResourceId** was null.  The required argument cannot be provided in the relevant functions.

***Exception or Stack Trace***
java.lang.IllegalArgumentException: flowAnalyticsConfiguration.networkWatcherFlowAnalyticsConfiguration.wor

[2019-09-25 22:49] yaohaizh opened #847 "[BUG] Generate random password & SSHKey for ManageNetworkInterface.java & ManageNetworkSecurityGroup"
Replace the password/SSHKey with random generate values.

[2019-09-25 23:07] yaohaizh opened #848 "[FEATURE REQ] Update resource/policy swagger API version"

[2019-09-25 23:22] yaohaizh commented on #846
@weidongxu-microsoft Could you help take a look at this?

[2019-09-26 01:33] weidongxu-microsoft commented on #846
@sirhamster
It should be same issue as https://github.com/Azure/azure-libraries-for-java/issues/767

We are checking if we could fix it in 1.27.

[2019-09-26 05:08] #827 closed

[2019-09-26 05:29] xccc-msft commented on #84
Hi @malkochoglu we will plan to support this.

[2019-09-26 06:17] xccc-msft commented on #803
Hi @barryku The AzureCliCredentials.create() will help load credentials from ~/.azure folder. To have this folder, you need to authenticate with Azure CLI first. For your requirement to manage unit tests, the suggestion is to authenticate with service principal so that the access token will never expire until the service principal credential expires.

[2019-09-26 10:40] xccc-msft commented on #106
Hi @kesder are you still facing the same issue?

[2019-09-26 11:28] FireDrunk opened #852 "[BUG]DiskSkuTypes & StorageAccountTypes lack 2 missing types."
**Describe the bug**
https://github.com/Azure/azure-sdk-for-java/blob/v1.3.0/azure-mgmt-compute/src/main/java/com/microsoft/azure/management/compute/DiskSkuTypes.java/#L17

It should contain 2 more types (Premium SSD and Ultra SSD). They are present in the .NET Version of the SDK. (https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.compute.fluent.models.diskskutypes?view=azure-

[2019-09-26 20:52] loarabia commented on #852
Thoughts on this bug. First place I might look - Is the swagger up-to-date and the SDK needs to be regenerated or do we need swagger updates?

[2019-09-29 03:03] xccc-msft commented on #842
Hi @MourIdri please check below link if it helps:
[you can login to Java SDK through other ways of authentication and create an auth file by following this sample](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-samples/src/main/java/com/microsoft/azure/management/graphrbac/samples/ManageServicePrincipal.java)

[2019-09-29 03:07] #84 closed

[2019-09-29 03:07] #803 closed

[2019-09-29 04:10] MourIdri commented on #842
@xccc-msft, thanks for your answer.

But this is the official SDK there...

[2019-09-29 04:30] xccc-msft commented on #842
@MourIdri Do you use the script output with ApplicationTokenCredentials?

[2019-09-29 06:06] xccc-msft commented on #106
Hi @kesder As there wasn't any info about the SDK version used as your described, I just tested on latest SDK version which is refered to 1.26.0. We cannot reproduce it with the piece of code you provided. As per the exception trace, we are able to find proxy when it calls _AdalOAuthRequest.send()_ with latest version.

[2019-09-30 02:14] yaohaizh commented on #106
@kesder, I would close this issue now this there is no response from our side and the ada4j has been updated in the latest version.

Feel free to reopen this issue you have any issue regarding to the proxy. Thanks.

[2019-09-30 02:14] #106 closed

[2019-09-30 02:30] yaohaizh commented on #852
It seems the Swagger is right and the SDK was also regenerated recently. The issue is that the issues is x-ms-enum type, which have both generated type for DiskStorageAccountTypes and manually maintained types as the issue.
Fix available on :  https://github.com/Azure/azure-libraries-for-java/pull/855

[2019-09-30 03:16] ChenTanyi commented on #810
@FireDrunk we will discuss how to design the api. Thanks for reporting.

[2019-09-30 05:09] weidongxu-microsoft commented on #767
Fixed in 1.27. To be release on Oct. 11th.

[2019-09-30 05:09] #767 closed

[2019-09-30 05:09] weidongxu-microsoft commented on #846
Fixed in 1.27. To be release on Oct. 11th.

[2019-09-30 05:09] #846 closed

[2019-09-30 05:36] #805 closed

[2019-09-30 06:08] #852 closed

[2019-09-30 06:08] yaohaizh commented on #852
Will be in version 1.27.

[2019-09-30 09:43] ChenTanyi opened #856 "[BUG] Container Instance cannot update due to secure value env"
**Describe the bug**
This is the service problem. When updating the container instance, if there is secure value in any container environment, it could only be updated successfully for setting a new secure value or deleting the secure environment.

***Code Snippet***
example:
* create a container
[code]
* return json
[code]
* for updating:
  * If I use original return json, it would throw the clou

[2019-09-30 09:44] ChenTanyi commented on #856
Blocking PR :
https://github.com/Azure/azure-libraries-for-java/pull/766
https://github.com/Azure/azure-libraries-for-net/pull/714

[2019-10-08 06:07] yaohaizh commented on #823
Postpone as the service is not totally ready yet.

[2019-10-08 06:11] yaohaizh commented on #536
It seems this issue was fixed on the service side. Open the issue for another Sprint. If no issue reported, close it after.

[2019-10-08 06:12] yaohaizh commented on #632
@Drewm3 any update on this issue?

[2019-10-09 08:46] orkeret opened #868 "2 unexpected NPEs"
Hi,
we have an app that uses the Azure java SDK and a customer that is using our app encountered 2 unexpected NPEs that were originated internally and unexpectedly from within the Azure java SDK.
Please see the relevant bits of the stack-traces here:

**1)**
after invoking SqlDatabase::getTransparentDataEncryption() :
**java.lang.NullPointerException**
    at deployment.AzureCollector.ear//com.mic

[2019-10-09 14:05] ArundathiGV opened #858 "Exception in thread "main" java.lang.SecurityException: Signers of 'com.microsoft.azure.management.resources.implementation.$Proxy0' do not match signers of other classes in package"
Hi,

I am using the below azure libraries in gradle and trying list resource groups.

[code]

But I am getting the following exception

[code]
**Java version - 12
Gradle version - 5.6.2**

Please help on how to work around this problem.