[2019-10-10 02:48] weidongxu-microsoft commented on #858
@ArundathiGV

I've run it on java 11 and gradle 4.4.1 (that is what's latest on my debian dist), with exact same list of dependencies (+2 slf4j for logging), with code involves `Azure.authenticate(credentials)`, but not able to reproduce.

If possible please provide more information which you think might be useful. I am not sure whether we even got this Proxy interface/class under com.microsoft.az

[2019-10-10 07:09] ArundathiGV commented on #858
@weidongxu-microsoft

I'm not sure if the issue persist in java 11. However, this issue is not reproducible even when using java 1.8.

As we have upgraded our system to 12. I want this to run on java 12. Below is the code I am using.

I have installed JDK 12 from: https://adoptopenjdk.net/ with OpenJ9 as the JVM. Could you please try it with this environment?

[code]

[2019-10-10 07:54] weidongxu-microsoft commented on #858
@ArundathiGV

This seems to be a problem with OpenJ9, not the lib.
Googled and got quite some questions on "openj9 do not match signers of other classes in package", e.g.
https://github.com/AdoptOpenJDK/openjdk-build/issues/1243

[2019-10-13 11:04] yaohaizh commented on #842
Close this as it only used for samples.

[2019-10-13 11:04] #842 closed

[2019-10-13 11:05] yaohaizh commented on #823
Merged.

[2019-10-13 11:05] #823 closed

[2019-10-14 11:45] akshitjain commented on #720
@yaohaizh This issue is not fixed and is being faced by others as well?

Please refer this: [](https://github.com/Azure/autorest-clientruntime-for-java/issues/536)

[2019-10-15 05:16] Drewm3 commented on #632
In this example is the plan being changed, or is the plan exactly the same as it was when the VM was created? The plan can only be set when the VM is created currently. After the VM is created the PATCH or PUT can include the same plan or it can be null. It just cannot be modified.

The API owner is going to update the API documentation to clarify that the plan can only be set at create time of th

[2019-10-15 05:40] ChenTanyi commented on #632
@Drewm3 In the example, the plan is exactly the same as it got from server, which is the same as it was created, but it got error: `The resource '<id>' of type 'Microsoft.Compute/virtualMachines' does not support updates to the purchase plan.`.

[2019-10-15 08:05] karldmoore commented on #632
@Drewm3 as @ChenTanyi said, the example doesn't attempt to update anything about the plan (it's just trying to define a new extension).
https://github.com/Azure-Samples/compute-java-manage-virtual-machine-using-vm-extensions/blob/master/src/main/java/com/microsoft/azure/management/compute/samples/ManageVirtualMachineExtension.java#L135

[2019-10-15 08:53] ChenTanyi commented on #710
@karldmoore does you run the code with `async` function at the end?
If so, you have better not end the program before the `async` function completed. Since it is running in another thread, it will be interrupted if the program is terminated. Therefore, it may behave differently due to some deployment having not sent to service.

[2019-10-15 12:48] tudorsibiu90 commented on #3
The link is broken. I know for a fact that Subscriptions have userMetadata(a.k.a. Description) but when deploying via ARM, the info does not get through. It's missing. I say reopen this since there are still bugs or you have not covered all of these with your answer.

[2019-10-16 02:26] xccc-msft commented on #417
As discussed with @Flanker32 , the issue got resolved by update client-runtime to 1.6.15. Close this now.

[2019-10-16 02:26] #417 closed

[2019-10-16 04:28] vaibhaw- opened #862 "[QUERY] When will support for Regions in South Afria and Germany West Central become available"
**Query/Question**
We are unable to provision resources in Germany West Central region and the South Africa regions because the library doesn't support it yet. Can you provide us an ETA for their support so that we can plan accordingly?

***Why is this not a Bug or a feature Request?***
Bug - nothing that doesn't work as expected.
feature request - Isn't really a feature, it is must have - only a

[2019-10-16 04:36] weidongxu-microsoft commented on #862
As temporary workaround, you can do `Region.Create("southafricanorth")`.

[2019-10-16 14:49] #15 closed, assigned to nobody

[2019-10-17 03:52] vaibhaw- commented on #862
Thanks for replying to quickly. I guess that will have to do for now. Is there an ETA in general for when it will become available?

[2019-10-17 05:25] Drewm3 commented on #632
@ChenTanyi, are you seeing the same error if you attempt to update anything on the VM such as changing the size, or do you only see this error when adding this new extension?

[2019-10-17 05:41] ChenTanyi commented on #632
@Drewm3 I'm seeing this error even I didn't change anything. I also see it when changing size.

https://github.com/Azure/azure-libraries-for-java/issues/632#issuecomment-533946925
In my example above, I just sent what I had got from server. It failed with the same error.

This error just happens when the vm uses marketplace image.

[2019-10-17 05:51] weidongxu-microsoft commented on #862
@vaibhaw-

Next release is 1.27.1 which is scheduled on Oct. 25th. I will try to put the fix there. I will update after code ready.

[2019-10-17 05:53] vaibhaw- commented on #862
Thanks! :)

[2019-10-17 05:53] #862 closed

[2019-10-18 06:40] #847 closed

[2019-10-21 02:25] anuchandy opened #865 "Expose support for specifying certificates in VM creation and update flow"
This should operate on `List<VaultSecretGroup> osProfile.secrets` collection

[2019-10-21 02:29] anuchandy opened #866 "Using ETag for better Create / Update experience"
Today the `CreateOrUpdate` (PUT) semantic make it difficult to distinguish between Creation and Update of a resource. For example consider user trying to create a new resource group:

[code]

If the resource group with name "MyRG" already exists user will be expecting an error, but this call still succeeded since we don't have a way to tell server that create it if not exist and fail it already ex

[2019-10-22 01:32] nakhanha commented on #110
What is the solution for this issue ?

Hi,
I am facing same error . withParameterLink works fine.

 Message=The request content was invalid and could not be deserialized: 'Error converting value "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#" to type 'Microsoft.WindowsAzure.ResourceStack.Frontdoor.Data.Definitions.DeploymentParameterDefinition'. Path 'properties

[2019-10-22 05:09] Drewm3 commented on #632
I spoke to the backend team and they believe this error is coming from Azure Resource Manager.

@vladimirjoanovic, could you please take a look at this.

[2019-10-22 09:01] weidongxu-microsoft commented on #869
You can use modules with name azure-mgmt-XXX, e.g. azure-mgmt-appservice (instead of azure).
Then use say `AppServiceManager.authenticate(...)` to init.
All supported modules could be found from https://mvnrepository.com/artifact/com.microsoft.azure/azure/1.27.0

You will probably need one more artifact, azure-client-authentication, for authentication.

[2019-10-24 05:02] #848 closed

[2019-10-25 03:28] weidongxu-microsoft opened #874 "[BUG] UAE should use **Middle East and Africa** region"
UAE should use **Middle East and Africa** region

https://azure.microsoft.com/en-us/global-infrastructure/geographies/

[2019-10-25 05:21] weidongxu-microsoft opened #875 "[FEATURE REQ] update appservice to package-2019-08"
update appservice to package-2019-08

[2019-10-25 05:45] weidongxu-microsoft commented on #862
Fixed in [**1.27.2**](https://github.com/Azure/azure-libraries-for-java/releases/tag/v1.27.2).

[2019-10-25 05:52] yaohaizh opened #876 "[FEATURE REQ] Support WhatIf deployment"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-10-28 02:30] xccc-msft commented on #868
@orkeret Can you please provide more details on the version you are using/the steps to reproduce/the code snippet for us to analyze? Thanks.

[2019-10-28 05:04] yaohaizh opened #878 "[FEATURE REQ] SQL Composite V3 update"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-10-30 04:19] #874 closed

[2019-10-30 04:44] weidongxu-microsoft commented on #858
@ArundathiGV The issue on AdoptOpenJDK is set as fixed a few days ago. Let me know if that solved your problem (not sure whether their latest build catched the fix not or though). Thanks.

[2019-10-31 05:05] yaohaizh opened #880 "[FEATURE REQ] Update CosmosDB with the latest swagger version"

[2019-10-31 05:33] weidongxu-microsoft opened #881 "[FEATURE REQ] Function App support Linux Java 8"
Function App support Linux Java 8

[code]

[code]

[2019-10-31 09:53] ChenTanyi opened #882 "[BUG] Fix autorest.java error in generation"
https://github.com/test-repo-billy/azure-rest-api-specs/pull/378
https://github.com/test-repo-tih/azure-rest-api-specs/pull/987

[2019-11-04 03:23] ChenTanyi opened #885 "[BUG] Oracle jdk 8 cannot set JAVA_HOME automatically, use openjdk 8 instead for sample"
in https://github.com/Azure/azure-libraries-for-java/blob/9d1372cbca102440123b141458374eaa1d0030af/azure-samples/src/main/resources/install_jva_mvn_git.sh

[2019-11-04 08:43] #885 closed

[2019-11-05 09:29] Flanker32 opened #887 "[FEATURE REQ] Support config minTLSVersion while creating app services"
**Is your feature request related to a problem? Please describe.**
For now app service sdk didn't support speicfy some attributes(like miniTLSVersion) when creating new resources, which may block user creating resources with policy.
Related with https://github.com/microsoft/azure-maven-plugins/issues/876

**Describe the solution you'd like**
Support config siteConfig while creating app services, f

[2019-11-06 06:58] ChenTanyi opened #888 "[FEATURE REQ] Release Fluent using azure pipeline"

[2019-11-07 11:38] yaohaizh opened #890 "[BUG] Create storage account with security transfer"
Need change test case  for security transfer:
https://docs.microsoft.com/en-us/azure/storage/common/storage-require-secure-transfer

[2019-11-12 10:49] xccc-msft opened #892 "[FEATURE REQ] update policy"
-[ ] update version
-[ ] remove unsupported method
-[ ] add sample
-[ ] generate sample repo

[2019-11-13 05:35] weidongxu-microsoft commented on #881
Fixed in 1.28. To be released on Nov. 15.

[2019-11-13 05:35] #881 closed

[2019-11-13 08:41] yaohaizh commented on #837
https://github.com/Azure/autorest-clientruntime-for-java/pull/643

[2019-11-15 06:26] weidongxu-microsoft opened #898 "[FEATURE REQ] sample for function app linux java 8 end2end flow"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-11-18 05:03] yaohaizh commented on #888
The pipeline is built on ADO.

[2019-11-18 05:03] #888 closed

[2019-11-18 05:07] ChenTanyi commented on #880
Java is ready: https://github.com/Azure/azure-libraries-for-java/pull/899

[2019-11-18 05:07] #880 closed

[2019-11-18 08:25] xccc-msft commented on #876
Close this as it got released in v1.28.0

[2019-11-18 08:25] #876 closed

[2019-11-19 05:08] weidongxu-microsoft commented on #869
Close as I assume I've answered the question.

[2019-11-19 05:08] #869 closed

[2019-11-19 05:09] weidongxu-microsoft commented on #858
Close as I assume it is solved by AdoptOpenJDK.

[2019-11-19 05:09] #858 closed

[2019-11-19 17:59] yaohaizh opened #903 "[FEATURE REQ] Update compute API version to 2019-07-01"
Here is the link to the swagger changes: https://github.com/Azure/azure-rest-api-specs/pull/7748

Below are the new changes required for the SDK:
1.	Add 'Spot' enum value to 'Priority' enum.
2.	Can you confirm we are allowing the update of ‘Priority’ and ‘MaxPrice’ for both VM and VMSS? Some context below
•	We now support update of priority only between 'Low' and 'Spot' for both VM and VMSS. Note:

[2019-11-20 02:52] ChenTanyi commented on #870
@DawidCh this issue is fixed in the latest version(1.28.0), please upgrade and try again. Thanks! (I have tested that 1.3.0 has error, and 1.28.0 works well)
Feel free to reopen it if you still meet the issue.

[2019-11-20 02:52] #870 closed

[2019-11-22 21:06] paulojohnj opened #905 "[BUG] Generic Resources tags do not appear to be populated after retrieval"
**Describe the bug**
After retrieving a list of generic resources by a single tag, the `.tags()` method appears to always return an empty set, even on resources that have tags.

***Exception or Stack Trace***
No exception or trace as the behavior is not a failure.

**To Reproduce**
Steps to reproduce the behavior:
1 tag a resource with multiple tags
2 retrieve generic resources by one of those tag

[2019-11-24 16:27] maartenba opened #906 "[BUG] Error listing app services/functions that use key vault"
**Describe the bug:**

The Azure Libraries for Java error out listing web apps/function apps when one of them has a configuration setting named `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING` that references key vault (e.g. `@Microsoft.KeyVault(SecretUri=https://xxxxxxx.vault.azure.net/secrets/StorageTest/xxxxxxx)`)

***Exception or Stack Trace:***
[code]

**To Reproduce:**
Steps to reproduce the behav

[2019-11-25 01:48] yaohaizh commented on #906
@maartenba thanks for reporting this issue. We have rounded this issue to @ChenTanyi for further investigation.

[2019-11-25 09:48] ChenTanyi commented on #906
@maartenba I can reproduce this issue, but 500 is server error, so I could just report it to service.
@ahmedelnably, @fabiocav could you see about this issues?

The following is steps to reproduce, and I got `storage URI is invalid` error when I deploy it using Visual Studio like https://github.com/Azure/Azure-Functions/issues/1195
## Steps to reproduce
* Create a function app or web app with:
  *

[2019-11-25 14:06] maartenba commented on #906
Thanks!

[2019-11-25 20:29] leylakazemi commented on #905
Thank you for reporting this. This is a limitation of our current API. You cannot retrieve the list of tags on the resources that are returned which had a particular tag. We have this in our backlog. We will try to prioritize this.

[2019-11-28 05:15] yaohaizh commented on #868
Fixed.

[2019-11-28 05:15] #868 closed

[2019-12-05 04:13] weidongxu-microsoft commented on #898
Delay to next milestone.

Service has yet to finalize java v3 image. They do not want user to use v2 image, which currently no one uses, and service wishes to get deprecated very soon.

Maven plugin team would make a customized function runtime definition which would enable them to use v3 preview. However our typical user probably will not do that.

So I figure milestone 162 is not the best time t

[2019-12-05 04:14] weidongxu-microsoft commented on #875
Blocked by service team.

[2019-12-05 04:33] weidongxu-microsoft commented on #887
Fixed in 1.29. To be released on Dec. 8th.

[2019-12-06 02:38] #887 closed

[2019-12-09 05:28] yuwzho opened #909 "[BUG]Exception when delete A record for DNS zone"
**Describe the bug**
We try to delete DNS A record with given name `domainName` by
`dnsZone.update().withoutARecordSet(domainName).apply()`. It throws an expetion, which is not from server side, even doesn't send a request out.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
`dnsZone.update().withoutARecordSet(domainName).apply()`

***Code Snippet***
Add t

[2019-12-09 05:34] yaohaizh commented on #909
@xccc-msft could you help take a look at this issue? Thanks.

[2019-12-09 08:06] maartenba commented on #906
Hi folks, any news on this one from the server side?

[2019-12-10 09:00] Flanker32 opened #915 "[BUG] SDK will override users' app settings when create new functions"
**Describe the bug**
SDK will override users' app settings(`AzureWebJobsStorage`,`AzureWebJobsDashboard`) when create new functions as SDK will create storage account asynchronous and overwrite the appsetting once storage account created

**To Reproduce**

Create function with fluent SDK and define `AzureWebJobsStorage` or `AzureWebJobsDashboard` before execute `create()`

***Code Snippet***
[code

[2019-12-11 02:56] yaohaizh commented on #915
@weidongxu-microsoft could you help take a look at this issue?

[2019-12-11 02:59] yaohaizh commented on #903
This has been fixed.

[2019-12-11 02:59] #903 closed

[2019-12-11 03:06] yaohaizh opened #917 "[FEATURE REQ] Support PrivateDNS for java"

[2019-12-11 04:02] weidongxu-microsoft opened #918 "[FEATURE REQ] update function app linux java 8 image to latest v3"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-11 04:37] xccc-msft commented on #909
@yuwzho You need to put relative record set name when you want to delete a record set. Please check below sample code and retry. If you still face this issue, feel free to share more info.
[code]

[2019-12-12 06:42] weidongxu-microsoft commented on #918
Function app service will support v2 at least until next Jan.

On Jan. v3 would be the default.

[2019-12-12 22:39] kenieva commented on #905
This feature request is accounted for and is in the backlog. We will comment once it is completed.

[2019-12-12 22:39] #905 closed

[2019-12-18 03:08] #918 closed

[2019-12-18 03:09] weidongxu-microsoft commented on #918
Fixed in 1.30.

[2019-12-18 15:00] yaohaizh opened #925 "[FEATURE REQ] Support large file shares"
- Update storage API service to 2019-06
- Support large file shares

[2019-12-19 05:51] xccc-msft opened #926 "[FEATURE REQ] Support CredScan"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-22 16:05] nickzhums commented on #724
Any updates?

[2019-12-23 01:49] nickzhums commented on #748
After deeper look, this seems to be a Mgmt issue. Removed service attention label to avoid confusion, sorry

[2019-12-23 05:03] yaohaizh opened #930 "[FEATURE REQ] Update the network service API spec"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-23 05:05] yaohaizh opened #931 "[FEATURE REQ] Support CosmosDB SQLDatabase/MongoDB/Gremin/Cassandra/Table"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-25 01:48] #875 closed

[2019-12-25 02:09] weidongxu-microsoft opened #934 "[BUG] input param of withPrivateRegistryImage is ambiguous"
**Describe the bug**
`WithCredentials withPrivateRegistryImage(String imageAndTag, String serverUrl);`

Hard to tell whether `imageAndTag` would include host or not.

***Exception or Stack Trace***
Add the exception log and stack trace if available

**To Reproduce**
Steps to reproduce the behavior:

***Code Snippet***
Add the code snippet that causes the issue.

**Expected behavior**
A clear and c

[2019-12-25 02:16] weidongxu-microsoft opened #935 "[FEATURE REQ] Consumption plan with given name"
**Is your feature request related to a problem? Please describe.**
`Update withNewConsumptionPlan();`

Need to be able to set a given name.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
A

[2019-12-26 06:40] nickzhums commented on #774
@AldusLorde , are you still experiencing this issue? Let us know, thanks

[2019-12-26 06:42] nickzhums commented on #762
@swagulkarni Hello, are you still experiencing this issue? Let us know, thanks

[2019-12-26 06:44] nickzhums commented on #756
Hi @NikolicMarko , are you still experiencing this issue? Let us know, thanks!

[2019-12-26 06:46] nickzhums commented on #755
Hi @akshitjain , are you still experiencing this issue after trying the suggestion above? Let us know. Thanks

[2019-12-26 06:48] #915 closed

[2019-12-26 06:48] #934 closed

[2019-12-26 06:55] nickzhums commented on #710
@karldmoore Hi Karl, are you still having the issue after trying the suggestion above?

[2019-12-26 07:02] nickzhums commented on #686
@Madan165 please let us know if you are still having the issue and provide more info if so. Thanks!

[2019-12-26 07:06] nickzhums commented on #685
@SukruthKS are you still having this issue? If so, please provide more info, thanks

@jacobw125 thanks for your update!

[2019-12-27 06:12] #926 closed

[2019-12-31 01:31] #935 closed

[2019-12-31 07:16] #898 closed

[2020-01-02 08:18] Flanker32 opened #945 "[FEATURE REQ] Check subscription id early and provide more friendly error message"
**Is your feature request related to a problem? Please describe.**

We are building java toolkit based on azure java library, and we found the error message is a bit confusing when subscription is set to null. [Related issue](https://github.com/microsoft/azure-maven-plugins/issues/931). This could be reproduced when you auth with an Microsoft account without any subscription

**Describe the soluti

[2020-01-02 12:25] karldmoore commented on #710
@ChenTanyi @nickzhums Maybe I'm misunderstanding the API.  My goal is to kick off the operation but I don't care about the result.  Thus in the case of power off, I want to know the request to power off is accepted but don't expect to wait for the result (e.g. the VM actually powering off).

This was the case with the API I was using above, I'm expecting the add VM extension to begin but don't wan

[2020-01-03 02:46] yaohaizh commented on #925
Supported: https://github.com/Azure/azure-libraries-for-java/pull/932

[2020-01-03 02:46] #925 closed

[2020-01-03 06:46] #837 closed

[2020-01-03 06:55] #730 closed

[2020-01-03 07:26] nickzhums commented on #906
@ahmedelnably, @fabiocav could you please take a look a this issue? thanks!

[2020-01-03 07:30] nickzhums commented on #882
Talked with Yaohai and agreed to close this

[2020-01-03 07:30] #882 closed

[2020-01-03 07:32] nickzhums commented on #837
Closed this as this was fixed

[2020-01-03 07:44] ChenTanyi commented on #856
It is said that the issue may be solved in the next api-version

[2020-01-03 07:48] nickzhums commented on #764
@weidongxu-microsoft Could you please take a look a this, thanks

[2020-01-03 07:55] nickzhums commented on #717
Possibly documentation issue

[2020-01-03 07:55] nickzhums commented on #717
This might be a documentation issue, we'll look into this

[2020-01-03 07:58] nickzhums commented on #696
Fluent V1 is not in active development anymore, closing this

[2020-01-03 07:58] #696 closed

[2020-01-03 09:13] weidongxu-microsoft commented on #764
@arun542
Please use `func.minTlsVersion()` in 1.29

[2020-01-03 11:28] yaohaizh commented on #764
Close as the issue had been fixed in 1.29

[2020-01-03 11:28] #764 closed

[2020-01-08 01:09] weidongxu-microsoft commented on #764
In any case if you still see null, you can do func.refresh() before checking siteConfig.

[2020-01-08 02:23] weidongxu-microsoft commented on #748
I will do RuntimeStack and PricingTier.

This is manual work, so please let me know if you want any more enum.

[2020-01-08 02:35] yuwzho commented on #909
Thanks @xccc-msft , this exception cannot show up consistently. Will revisit this if more information gathered.

[2020-01-08 02:35] #909 closed

[2020-01-08 07:23] yaohaizh commented on #775
@yevster  you can use AzureCliCredential now. Please let us know whether this fit your need.  Thanks.

[2020-01-09 05:10] yaohaizh commented on #752
@ChenTanyi please see whether composite V1 has the fix for tagging issue.

[2020-01-09 05:14] yaohaizh commented on #762
Close this as this is an interaction of fluent lite/premium issue which is compatible runtime.

[2020-01-09 05:14] #762 closed

[2020-01-09 05:15] yaohaizh commented on #799
@barryku  do you still experience this issue?

[2020-01-09 05:44] yaohaizh opened #950 "[FEATURE REQ] Build storage for V2"

[2020-01-09 05:45] yaohaizh opened #951 "[FEATURE REQ] Update MSI service for V2"

[2020-01-09 07:28] #748 closed

[2020-01-09 16:47] barryku commented on #799
@yaohaizh , we added retry logic, and it's working fine so far.  The exception is probably still happening.

[2020-01-10 02:29] Flanker32 opened #953 "[BUG] Get app service by resource group will throw exception if not exists"
**Describe the bug**
Will get exception when execute `WebApps.getByResourceGroup(String resourceGroup, String appName)` for an nonexistent webapp instead of null;

***Exception or Stack Trace***
[code]
**To Reproduce**
[code]

**Expected behavior**
get method should return null if target webapp doesn't exists

**Setup (please complete the following information):**
 - OS:  Windows 10
 - IDE : Intel

[2020-01-10 03:24] Flanker32 opened #955 "[BUG] DeploymentSlot.getPublishingProfile() will throw exception "Parameter publishingProfileOptions is required and cannot be null.""
**Describe the bug**
Invoke `DeploymentSlot.getPublishingProfile()` will throw exception "Parameter publishingProfileOptions is required and cannot be null."

**To Reproduce**
Get an WebApp DeploymentSlot instance and call the getPublishingProfile method

***Code Snippet***
[code]
SDK didn't pass publishingProfileOptions while get secrets steams in DeploymentSlotBaseImpl, when pass a new `CsmPubli

[2020-01-10 04:41] weidongxu-microsoft commented on #748
OK, it is still `getAll()`

[2020-01-10 08:04] ChenTanyi commented on #752
@yaohaizh @metaldectr The service have fixed this issue for the composite V1 (databases api-version 2014-04-01, current SDK version)

[2020-01-10 08:18] ChenTanyi commented on #752
@metaldectr we have verified that this issue was solved. If you still meet the problem, feel free to re-open it again. Thanks!

[2020-01-10 08:18] #752 closed

[2020-01-13 01:32] #955 closed

[2020-01-13 06:38] #953 closed

[2020-01-15 17:23] kwasak commented on #906
Any update on this? This issue is still preventing me from deploying a function app in Rider.

[2020-01-16 02:05] yaohaizh opened #965 "[FEATURE REQ] Support public IP prefixes"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-01-17 10:53] edrevo opened #971 "[BUG] Can't create an EventHub Authorization rule with several access policies"
**Describe the bug**
I want to create an authorization rule for my EventHub namespace that has listen and send access (but no management access)

**To Reproduce**

[code]

**Expected behavior**
I expect to be able to have both listen and send access on the authorization rule, just like the Azure Portal:

**Screenshots**
![image](https://user-images.githubusercontent.com/1845771/72606951-e65f5c00-3

[2020-01-20 07:29] yaohaizh commented on #971
Thanks for reporting this issue. We will look into the feature request.

[2020-01-22 04:11] weidongxu-microsoft commented on #971
@edrevo

It is a bug. We will schedule a fix.

If you need a quick workaround, you can do this:

[code]

[2020-01-22 05:26] #971 closed

[2020-01-22 05:26] weidongxu-microsoft commented on #971
Fixed in 1.31

[2020-01-22 06:06] yaohaizh opened #981 "[FEATURE REQ] Update GraphRbac for V2"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-01-22 06:23] yaohaizh opened #983 "[FEATURE REQ] Migrate V1 interceptor to V2 policies"

[2020-01-23 03:11] yaohaizh opened #986 "[FEATURE REQ] Make test pipeline to adopt the track 2 common practice"
There should be two main items needed here:
- [ ] Upgrade the unit test framework to 5 if needed
- [ ] Make the test cases run in parallel

[2020-01-24 15:58] tsgenge opened #989 "[BUG] Cannot create windows container based WebApp"
**Describe the bug**
When creating a web app on a hyper-v (windows container) service plan pulling from ACR, the command returns with an access denied attempting to authenticate with the ACR.

**To Reproduce**

1. Create a new service plan using --sku PC2 and --hyper-v.
2. Create a new web app using a container image hosted on ACR and the new service plan.

This returns with an access denied.

For

[2020-01-25 05:40] weidongxu-microsoft commented on #989
@tsgenge

It seems to me that this is Azure CLI issue, not Azure Java SDK.

If it is actually a Java SDK issue, could you include the Java code sample?

If you are OK with it, I can transfer it to CLI's repo https://github.com/Azure/azure-cli

[2020-01-30 22:42] thardie opened #993 "[BUG] withAuxiliaryCredentials only adds x-ms-authorization-auxiliary if request fails with LinkedAuthorizationFailed"
**Describe the bug**
Using the AzureConfigurable extension withAuxiliaryCredentials to add additional tokens when performing operations that require cross-tenant access, the code only adds the secondary credentials header (x-ms-authorization-auxiliary) if the request with the base credentials (added with the authenticate method) fails with the response "LinkedAuthorizationFailed". When doing somet

[2020-01-31 21:35] thardie commented on #993
Turns out his was an issue with the order of the credentials. I needed to switch the primary and secondary credentials, then this worked.

[2020-01-31 21:35] #993 closed

[2020-02-02 15:20] antonio-rodriges opened #996 "[FEATURE REQ] Keep enum KnownLinuxVirtualMachineImage Updated"
It would be good to keep up to date enum KnownLinuxVirtualMachineImage

Currently it contains only these non-deprecated fields:
[code]

It would be good to have at least Ubuntu 18.04

I understand that you prodive the method `WithLinuxRootUsernameManagedOrUnmanaged withLatestLinuxImage(String publisher, String offer, String sku);`, but keeping KnownLinuxVirtualMachineImage up to date is much more

[2020-02-03 05:40] yaohaizh opened #1000 "[BUG] Dreprecate BatchAI package"

[2020-02-03 18:35] slomo opened #1001 "[FEATURE REQ] Provide access to x-ms-ratelimit headers"
**Is your feature request related to a problem? Please describe.**

I am currently writing an component to monitor resource creation in my subscription. There is a trade of, when setting the interval for the monitoring calls between freshness and the number of requests that I can do before rate limiting starts to kick in. I could increase my interval, if I am closer to the limit, but in order for

[2020-02-05 01:18] yaohaizh commented on #950
The storage is converted and test cases are all passed.

[2020-02-05 01:18] #950 closed

[2020-02-06 05:06] yaohaizh commented on #1001
@slomo you can interceptor the header like this: https://github.com/Azure/azure-libraries-for-java/blob/7fd501fe985cebf9c26de6ac70e185e4305064d4/azure-mgmt-resources/src/main/java/com/microsoft/azure/management/resources/fluentcore/utils/ResourceManagerThrottlingInterceptor.java

You need register                 .withInterceptor(new ResourceManagerThrottlingInterceptor()) to configure your azure

[2020-02-06 08:06] ChenTanyi commented on #710
@karldmoore Sorry for the late reply, The API is not supported currently in Fluent API, as a workaround, you can use inner function, like:
[code]
In the situation, if there is some attachment created under apply API, you need to create it using inner function too.

[2020-02-06 08:12] ChenTanyi opened #1007 "[FEATURE REQ] Add BeginCreateAsync and BeginApplyAsync in Fluent API of selected services"
As https://github.com/Azure/azure-libraries-for-java/issues/710, https://github.com/Azure/azure-libraries-for-net/issues/545 said, sometimes we don't need to wait for the creation or update result.
The lite has function named Begin***, but the Fluent API doesn't have, we need these API to achieve this scenario.

[2020-02-11 10:26] xccc-msft commented on #981
Close this as merged into vnext and all tests pass.

[2020-02-11 10:26] #981 closed

[2020-02-11 10:27] xccc-msft commented on #951
Close this as merged into vnext and all tests pass.

[2020-02-11 10:27] #951 closed

[2020-02-12 07:50] xccc-msft opened #1018 "[FEATURE REQ] Bind Application Security Group to Network Interface"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-02-12 07:54] xccc-msft opened #1019 "[FEATURE REQ] Update Compute for V2"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-02-12 17:22] VIJAY-SUBRAMANIAM opened #1022 "Blob SDK class HttpPolicyProviders throws an exception with multiple concurrent uploads."
Blob SDK class throws an exception with multiple concurrent uploads.  hashmap used by SDK concurrently modified by different threads

Exception stack trace

Caused by: java.util.ConcurrentModificationException
	at java.base/java.util.HashMap.computeIfAbsent(HashMap.java:1134)
	at com.azure.core.http.policy.HttpPolicyProviders.getPolicyProviders(HttpPolicyProviders.java:59)
	at com.azure.core.http.

[2020-02-17 02:38] ChenTanyi opened #1027 "[FEATURE REQ] Update SQL to V2"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-02-17 04:02] #983 closed

[2020-02-17 06:04] yaohaizh commented on #965
Added on the master branch.

[2020-02-17 06:04] #965 closed

[2020-02-18 16:31] torfulle commented on #536
I believe I am running into this issue again as described here: https://stackoverflow.com/questions/60267817/bot-service-web-app-not-supported-in-resource-group-with-existing-linux-asp?noredirect=1#comment106607212_60267817, was this issue resolved or is this still a standing known limitation?

[2020-02-19 06:17] weidongxu-microsoft opened #1036 "[FEATURE REQ] depreciate Wildfly 14"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-02-20 01:55] weidongxu-microsoft opened #1039 "[FEATURE REQ] track2 migrate appservice"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-02-20 02:37] yaohaizh commented on #1038
@vincentdo this is old issue as the SDK have many changes. If you still on this, please use the latest SDk version. I'm closing this issue now. Feel free to re-open the issue if it still persists.

[2020-02-20 02:37] #1038 closed

[2020-02-21 10:13] saska1234 opened #1048 "[BUG] Required parameter 'storageAccountId' is missing (null)."
**Describe the bug**
With the upgrade of the azure sdk to 1.31.0, we are now having the issue with creating the snapshot with the code in the snippet.

***Exception or Stack Trace***
Stacktrace:
java.lang.IllegalStateException: java.util.concurrent.ExecutionException: com.microsoft.azure.CloudException: Required parameter 'storageAccountId' is missing (null).: Required parameter 'storageAccountId'

[2020-02-25 09:10] saska1234 commented on #1048
@xccc-msft I don't think it's that one, I'm using https://mvnrepository.com/artifact/com.microsoft.azure/azure/1.31.0 .

[2020-02-25 09:57] xccc-msft commented on #1048
@saska1234 The link you shared is the same. I transferred your issue here for tracking. I just created PR to fix this.
For your blobUri, does your blob belong to the same subscription or a different one?

[2020-02-25 10:17] saska1234 commented on #1048
@xccc-msft , thank you. Blob belongs to the same subscription.

[2020-02-27 02:55] weidongxu-microsoft commented on #1036
Release 1.32

[2020-02-27 02:55] #1036 closed

[2020-02-27 08:03] ChenTanyi opened #1056 "[FEATURE REQ] Add SdkContext instance in Manager in order to fix unit test"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-02-27 08:33] #1048 closed

[2020-02-27 08:39] slomo commented on #1001
Works like a charm.

[2020-02-27 08:39] #1001 closed

[2020-02-28 02:36] ChenTanyi opened #1058 "[FEATURE REQ] Need add Content-Type and Accept in HTTP Headers for V2-generator"
Problem:
* Some services return 415 for default content-type, need to change request content-type into "application/json; charset=utf-8".
* Some services return xml as default. Accept Header could be change into "application/json, */*;q=0.8"

[2020-02-29 21:17] jahknow commented on #110
Hi,

I was facing the same problem but i found a solution to it from this link

https://github.com/Azure/azure-sdk-for-python/issues/482#issuecomment-581087316

[2020-03-01 05:50] ifeoluwaokunoren commented on #892
Hi, @xccc-msft
Can you please provide more details on your request.
Thanks.

[2020-03-01 12:01] yaohaizh commented on #892
This is SDK update  issue. Only label with "Service Attention" need attention from the service side.

[2020-03-02 03:15] xccc-msft opened #1062 "[FEATURE REQ] Migrate sample for GraphRbac/Msi/Compute"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-02 08:44] xccc-msft opened #1064 "[FEATURE REQ] Update gulpfile.js with Gulp 4 upgrade"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-03 02:16] #1056 closed

[2020-03-03 04:26] weidongxu-microsoft commented on #1058
Fixed in generator v4_fluentgen.

[2020-03-03 04:26] #1058 closed

[2020-03-03 06:59] xccc-msft commented on #1064
Close this as merge in #1065

[2020-03-03 06:59] #1064 closed

[2020-03-03 19:46] paulojohnj opened #1069 "[BUG] Key Vault secret versions no longer list if at least one version is disabled"
**Describe the bug**
When listing key vault secret versions, the list of versions fails to be retrieved if at least one of the version has been marked as disbabled

***Exception or Stack Trace***

rx.exceptions.OnErrorFailedException: null
	at rx.observers.SafeSubscriber._onError(SafeSubscriber.java:194)
	at rx.observers.SafeSubscriber.onError(SafeSubscriber.java:115)
	at rx.internal.operators.OnS

[2020-03-03 20:18] erzads commented on #155
I need to ignore ssl certificates in my scenario. Using this solution didn't work. When I call azure.resourceGroups.list() I get the PKIX error during a handshake.
I put a breakpoint at ClientHandshaker:1008 and found that the first time of checks if the server is trusted, it uses my ssl factory, but the second time (during the same call) it stops in the same breakpoint with a different ssl factor

[2020-03-04 02:08] yaohaizh commented on #155
@erzads please log a new issue your problem if possible. This one was closed long time ago. Thanks.

[2020-03-05 14:29] erzads opened #1072 "[QUERY] how can I fetch the cost of a virtual machine?"
**Query/Question**
Is it possible to/ how can I fetch a virtual machine's cost, like seem in the portal cost analysis screen.
Also, is it possible to fetch the account total cost and/or forecast?

***Why is this not a Bug or a feature Request?***
I am not sure if it is already possible to do this.

**Setup (please complete the following information if applicable):**
 - OS: windows
 - IDE : Intelli

[2020-03-06 09:34] yaohaizh opened #1074 "[FEATURE REQ] Azure configure API design"
[code]
The withLogOptions is not quite compatible with version 1.
And its usage is not straightforward as other APIs.

[2020-03-06 10:02] yaohaizh opened #1076 "[FEATURE REQ] Support Java 9+ module system"
See how the azure-sdk-for-java track 2 SDK supports.

[2020-03-08 06:34] baoduy commented on #536
I'm still facing this issue when using Pulumi to provision the resource and need to be fixed by the workaround. Please fix the API if possible.

[2020-03-09 02:05] yaohaizh commented on #536
@weidongxu-microsoft  could you help take another look at this issue?

[2020-03-09 02:05] yaohaizh commented on #536
//cc @yungezz

[2020-03-09 06:13] weidongxu-microsoft commented on #536
@torfulle

For the post in stackoverflow, this is a genuine limitation on current Azure cloud. One cannot have windows and linux ASP in same resource group, of same region (I believe one can have windows and linux on different region).

The issue here is a different one, user does not have a ASP before adding a new one, but still get the error message.

[2020-03-09 09:02] weidongxu-microsoft commented on #536
@baoduy

I've looped 100 times to create resource group, create function app and app service plan, delete resource group. I do not see it happen.

This does not mean the issue cannot happen, just I cannot reproduce in normal case.

If you still have the issue, please attach Java code or raw Rest API call (no Pulumi please, this is Java SDK repo). And let us know how frequently this happens.

[2020-03-10 03:13] #1027 closed

[2020-03-10 03:13] yaohaizh commented on #1027
The work item was finished.

[2020-03-10 05:43] xccc-msft commented on #1019
Close this as merged into vnext and all tests pass via record/playback.

[2020-03-10 05:43] #1019 closed

[2020-03-11 01:40] weidongxu-microsoft opened #1082 "[FEATURE REQ] Migrate monitor to track2"

[2020-03-11 01:46] weidongxu-microsoft opened #1083 "[FEATURE REQ] [BLOCKED] Appservice Kudu authentication"
IcM https://portal.microsofticm.com/imp/v3/incidents/details/178595280/home

[2020-03-11 01:51] weidongxu-microsoft opened #1084 "[FEATURE REQ] Missing apiVersion parameter to generic resource"
Blocked by modelerfour https://github.com/Azure/autorest.modelerfour/issues/183

Worst case: generated code can be manually modified, or certain option could be done to generator to do special handling.

[2020-03-11 01:53] weidongxu-microsoft opened #1085 "[FEATURE REQ] Move track2 to azure-sdk-for-java"

[2020-03-11 01:54] weidongxu-microsoft commented on #1039
Done except https://github.com/Azure/azure-libraries-for-java/issues/1083

[2020-03-11 01:54] #1039 closed

[2020-03-11 01:55] weidongxu-microsoft opened #1086 "[FEATURE REQ] Migrate keyvault / appservice sample"

[2020-03-11 01:56] weidongxu-microsoft opened #1087 "[FEATURE REQ] Revert resource/subscription/storage/keyvault to track1-naming"
Might involve ProxyResource/Resource/SubResource in Core Management.

[2020-03-11 02:08] weidongxu-microsoft opened #1088 "[FEATURE REQ] Keyvault client library still using Azure Core 1.2.0"
Which is not compatible with Core 1.3.0

[2020-03-11 02:55] weidongxu-microsoft opened #1090 "[FEATURE REQ] Context support for all APIs"

[2020-03-11 04:38] yaohaizh opened #1092 "[FEATURE REQ] Migrate DeletegateTokenCredentails"
In V1, there is a DelegateTokenCredentials. We might support it on V2. Need close look into the problem.

[2020-03-11 11:30] weidongxu-microsoft opened #1094 "[BUG] azure-mgmt-resources test-jar not published"
SDK libraries depends on it. Without that test-jar, SDK libraries can only run compile phase, it will fail on test or package phase.

[code]

[2020-03-11 11:41] weidongxu-microsoft commented on #1094
Ann Meng from Docs team reported this. It likely need to be solved before next release.

[2020-03-11 13:10] nickzhums commented on #1094
Thanks, we need this for the new Java doc generation pipeline

[2020-03-12 03:15] yungezz commented on #1092
hi @yaohaizh is the DelegateTokenCredentials be scope of azure-identity or azure core, or fluent has its own tokenCredential interface?

[2020-03-12 03:21] yungezz commented on #1090
hi @weidongxu-microsoft could you pls help to add more info of the request? is it to provide interface for user to set UserAgent to ARM call? thanks.

[2020-03-12 03:23] yungezz commented on #1088
here client library means Dataplane client, right?

[2020-03-12 03:41] weidongxu-microsoft commented on #1090
@yaohaizh
@ChenTanyi

Immediate use cast is for UserAgentPolicy for tracking.

Remote use case is for user to add arbitrary data into http pipeline context when start mgmt task, and then access them in HttpPipelinePolicy.

[2020-03-12 07:19] yaohaizh commented on #1092
Not sure, I just see this on v1 runtime. @jianghaolu could have more input for this.

[2020-03-12 12:27] xccc-msft commented on #1069
@paulojohnj Can you share which version you are using?

[2020-03-12 12:31] paulojohnj commented on #1069
Sorry the version is 1.31.0, I see that a .1 has since been released, but based on what was changed now sure that release will have fixed the issue

[2020-03-13 06:19] xccc-msft commented on #1069
@paulojohnj Thanks for reporting this and sharing the info of version. This issue was caused by the operation restriction from server end - "message=Operation get is not allowed on a disabled secret.". Not sure if it's recent change but I just created PR to add filter logic so we would only list enabled secret versions for you.

[2020-03-13 07:25] xccc-msft commented on #1069
@paulojohnj Additionally, do you expect to get disabled versions in your project?

[2020-03-13 08:42] xccc-msft opened #1100 "[FEATURE REQ] Enhance the operation of listing secret versions in KeyVault"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-16 02:32] yaohaizh opened #1102 "[FEATURE REQ] Provide compatible interface in V2 for PagedList"
The PagedList is supported in V1 and replaced by PagedIterable. This brings lots of breaking changes. We should bridge the usage scenario here to make compatible.

[2020-03-16 02:43] yaohaizh opened #1103 "[FEATURE REQ] For the azure-mgmt-resources V2, the naming is mixed"
Need revisit the azure-mgmt-resources to fix naming conflict issues.

[2020-03-16 03:15] yaohaizh opened #1104 "[FEATURE REQ] Part of azure.azure.management should be in azure.core.management after the repo is migrated/merged"
The classes will be shared by the fluent lite and should be put into the base libraries for sharing.

[2020-03-16 03:31] yaohaizh opened #1105 "[FEATURE REQ] Fix etag generation"
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag

Might be a generation problem, but currently fluent code doesn't handle them yet.

References:

https://github.com/Azure/azure-sdk/issues/706

[2020-03-16 03:35] yaohaizh opened #1106 "[FEATURE REQ] Clean up "TODO", "FIXME" tags for v2"
During the conversion or fluent V1, there are lots of `TODO`, `FIXME` tag. Fix them before GA.

[2020-03-16 04:24] yaohaizh opened #1107 "[FEATURE REQ] Follow track V2 SDK guidlines"
Might revisit fluent lib for the following guidelines:
- https://github.com/Azure/azure-sdk/pull/968/files
- https://github.com/Azure/azure-sdk/issues/673
- https://github.com/Azure/azure-sdk/issues/671

[2020-03-16 04:27] yaohaizh opened #1108 "[FEATURE REQ] Provide examples to fluent track 2 work with azure open telemetry libraries."
Should provide example to work with azure-tracking-open-telemetry for fluent V2.

[2020-03-16 04:29] yaohaizh opened #1109 "[FEATURE REQ] Support common track v2 SDK environment variables"
https://azure.github.io/azure-sdk/general_azurecore.html#environment-variables

We need  support them in fluent V2 for some environment variables related.

[2020-03-16 05:04] yaohaizh opened #1110 "[FEATURE REQ] Normalize the exception handling"
There are predefined exception in azure core that would help normalize the exception to the end user.

https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/core/azure-core/src/main/java/com/azure/core/exception

[2020-03-16 06:09] yaohaizh opened #1111 "[FEATURE REQ] Support https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/identity/azure-identity"
Go through azure identity for V2 authentication

[2020-03-18 03:11] weidongxu-microsoft commented on #1107
For `Details` and `Options`, I assume it applies to client or handle written code.

`ApplicationId` is currently handled by UserAgentPolicy, and can be provided by `HttpLogOptions` in core.

`telemetry` might be mostly fine if we can support `Context` reasonably well. The core lib itself got some update but seems not used by any other data/client lib in sdk.

We probably need to register the names

[2020-03-18 07:08] #1094 closed

[2020-03-19 00:47] ifeoluwaokunoren commented on #892
@xccc-msft , Please I'd need some more information from you- so I can triage this internally on the Azure Resource Manager team. So if you don't mind - kindly report what exactly the issue is - and what is needed from ARM. Thanks

[2020-03-19 02:20] xccc-msft commented on #892
@ifeoluwaokunoren This is SDK update issue. We just logged here and will need to update policy assignment/policy definition/.. to latest swagger version from SDK side. For now, nothing needed from ARM side. Thanks.

[2020-03-19 02:42] ifeoluwaokunoren commented on #892
@xccc-msft thanks for confirming.
Is it possible to use a different tag for issues like this. We normally review all of the issues tagged ARM-Core, so ideally, if there's no action on the ARM team, it's better if you can use a different tag. SDK-Update(ARM-Core) for example or whatever you think is appropriate :)

[2020-03-19 02:46] xccc-msft commented on #892
@ifeoluwaokunoren Is there any difference if we label with tag of `ARM` instead of `ARM-Core`?

[2020-03-19 03:06] ifeoluwaokunoren commented on #892
Hey @xccc-msft, we also look into `ARM` tagged issues. You can possibly just use `ARM-SDK` or `SDKUpdateforARM`, or whatever helps. I just trying to avoid going through issues that don't require any action from ARM which is covered by `ARM or ARM-Core`

[2020-03-19 05:17] #1069 closed

[2020-03-19 13:37] paulojohnj commented on #1069
Sorry @xccc-msft I was late in seeing your response, I was expecting / hoping to be able to get the disabled version in order to delete it. This was only for a cleanup process, as long as the number of disabled versions is not capped etc this should be perfect. Thank you

[2020-03-20 02:22] xccc-msft commented on #1069
@paulojohnj we released this in 1.32.0. You could find all enabled/disabled versions. The difference is that we cannot display disabled secret value for you. But for you clean up process, it should be good to go. Thanks.

[2020-03-23 05:15] #1082 closed

[2020-03-23 08:44] yungezz commented on #1109
need to check

[2020-03-23 08:46] yungezz commented on #1106
need more check of what's todo and fixme.

[2020-03-23 08:50] yungezz commented on #1105
HI @xccc-msft  could you pls look at how to handle etag by following the guideline when working on DNS? thanks. Etag should be a common consistent among all services.

[2020-03-23 08:52] yungezz commented on #1103
need more info, is this getter/setter to with?

[2020-03-23 09:28] yungezz opened #1127 "[FEATURE REQ] handle client timeout in v2"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Currently no mechanism of client timeout handling in v2. need to look at it.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise

[2020-03-23 11:51] #1086 closed

[2020-03-23 11:59] weidongxu-microsoft opened #1130 "[FEATURE REQ] Try whether we can use id()/name()/type() in core-management Resource/ProxyResource/SubResource"
For consistency with track1.

Currently it is getId(), etc.

[2020-03-24 01:19] weidongxu-microsoft opened #1131 "[FEATURE REQ] Rewrite readme.md"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-24 01:20] weidongxu-microsoft opened #1132 "[FEATURE REQ] Rewrite auth.md"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-24 01:25] weidongxu-microsoft opened #1133 "[FEATURE REQ] Verify that major configure in azure core pipeline is inherited by other clients"
E.g. proxy settings, connection settings, policies

E.g. inherit in graphrbac, key, secret, kudu

Best be done in unit tests.

[2020-03-24 01:27] weidongxu-microsoft commented on #1088
Currently keyvault live test will fail.

Previous it success when keyvault client and our lib both uses azure core 1.2.0

[code]

[2020-03-24 01:29] weidongxu-microsoft opened #1134 "[BUG] param docstring of generated code is empty"
[code]

[2020-03-24 01:31] weidongxu-microsoft opened #1135 "[BUG] Manual code change after generation"
Collect manual change need to be done before generation (e.g. due to spec issue, better to fix spec).

Collect manual change need to be done after generation (e.g. due to spec issue, azure core bug, or generator bug).

[2020-03-24 01:32] weidongxu-microsoft commented on #1135
monitor

Need add
[code]
due to service bug.

Spec missing `type: string` in enum

[2020-03-24 01:35] weidongxu-microsoft commented on #1135
appservice

Delete `final` from class `ManagedServiceIdentity`

due to https://github.com/Azure/azure-sdk-for-java/issues/8372

Add `200` to
[code]
due to service bug.

[2020-03-24 01:36] weidongxu-microsoft commented on #1135
# resources

https://github.com/Azure/azure-rest-api-specs/pull/8803

[2020-03-24 01:55] weidongxu-microsoft opened #1136 "[FEATURE REQ] Sync resources/graphrbac fix from track1"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-24 01:57] weidongxu-microsoft opened #1137 "[FEATURE REQ] Sync network feature from track1"
commit 03f1fa1093ed5aeb9852f497b9a330a74f454963
Author: Yaohai Zheng <yaozheng@microsoft.com>
Date:   Fri Feb 7 11:35:33 2020 +0800

    Fix network public prefix implementation. (#1008)

commit df7658babe99096e1054459136baa9f7c709ffe8
Author: Yaohai Zheng <yaozheng@microsoft.com>
Date:   Thu Feb 6 18:46:50 2020 +0800

    Generate network 2019-11 and add support for PublicIPPrefixes (#1006)

[2020-03-24 02:08] weidongxu-microsoft opened #1138 "[BUG] Investigate usage of HttpPolicyProviders"
[code]

[code]

[2020-03-24 02:20] weidongxu-microsoft opened #1139 "[FEATURE REQ] Register namespace on azure sdks"
https://azure.github.io/azure-sdk/general_design.html#namespaces

[2020-03-24 03:32] #1084 closed

[2020-03-24 03:33] #1134 closed

[2020-03-24 05:13] #1088 closed

[2020-03-25 04:10] weidongxu-microsoft commented on #1127
https://github.com/Azure/azure-sdk-for-java/issues/8802

[2020-03-25 04:11] weidongxu-microsoft commented on #1108
https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/core/azure-core-tracing-opentelemetry#examples

[2020-03-25 07:26] ChenTanyi opened #1144 "[FEATURE REQ] Deprecate getAccessProfile API in AKS V2"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-25 09:12] yungezz commented on #986
we'll move repo to azure-sdk-for-java, let's work on it during the moving.

[2020-03-25 09:15] yungezz commented on #1144
This need to be addressed before AKS v2 preview. AKS is moved to p1 now.

[2020-03-25 09:30] weidongxu-microsoft commented on #986
I think this one is largely solved.

1. junit 5 is converted when we migrate each service
2. parrallel is converted when migrate (do not use static variable, set sdkContext from TestBase to all azure management clients).

[2020-03-25 09:32] yungezz commented on #986
nice, will close it then.

[2020-03-25 09:32] #986 closed

[2020-03-25 18:27] ashbondu opened #1146 "[BUG] Indefinite operations poll for VM Custom Script Extension call"
Seeing indefinite operations poll for a VM custom script extension installation causing Azure throttling errors.

Azure client version - 1.26

Below example was running the operations poll for >12hrs
Seen many in the same state.

2020-03-23 21:59:54,970 TRACE [RxIoScheduler-178]  returnCode=200 duration=(1078ms). PATCH https://management.azure.com/subscriptions/<subscriptionId>/resourceGroups/<Res

[2020-03-26 02:10] yungezz commented on #1146
HI @weidongxu-microsoft  could you pls help to have a look? thanks

[2020-03-26 05:00] weidongxu-microsoft commented on #1146
Hello @ashbondu

We would like some information from you.

1. I assume you are using this "CustomScriptForLinux" extension. Correct me if I am wrong.
[code]

2. What is the response of the polling? Is it still "InProgress" like this?
[code]

3. There might be multiple reasons why the VM custom script extension installation continue infinitely, e.g. script file not downloaded, script execution hang

[2020-03-26 07:53] weidongxu-microsoft commented on #1146
Here is one approach, to kill it via Interceptor (note that as this code, it affect all operation in "Microsoft.Compute" resource provider, also I assume it is still in "InProgress" state).

[code]

Then add it to Azure client

[code]

[2020-03-26 08:24] weidongxu-microsoft opened #1149 "[FEATURE REQ] Verify cancel LRO working correctly in track2"
So caller can cancel the polling easily (for issues like https://github.com/Azure/azure-libraries-for-java/issues/1146).

[2020-03-26 08:29] xccc-msft opened #1150 "[FEATURE REQ] Migrate DNS to track 2"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-03-26 14:25] weidongxu-microsoft commented on #1146
If one is using the async interface, it would be easier.

Cancel it.

[code]

or Timeout it.

[code]

[2020-03-26 18:11] ashbondu commented on #1146
@ weidongxu-microsoft  Thanks for the suggestions.

Also these are VM custom script extension for Windows and not linux.
We are using the following way to create it.
[code]

We had issues with this in earlier Azure client versions.
Will try it again and see if this good for us.
[code]

If that does not work, will fallback to the interceptor way.

Can we also provide a global timeout (to poll the o

[2020-03-27 02:05] weidongxu-microsoft commented on #1146
@ashbondu

Good suggestion for the global timeout. I will take a look.

Generally the polling is controlled by service. I will try check with compute whether they have a policy there as well.

[2020-03-27 02:21] xccc-msft commented on #930
@yaohaizh It looks the issue has been completed by #1006. Should we close it or this is new requirement to upgrade 2019-12?

[2020-03-27 02:29] weidongxu-microsoft commented on #1146
@mjconnection @Drewm3

A quick question on VM extension. Do we have timeout on service when install/update extension (the particular one is for custom script)?

[2020-03-27 03:45] weidongxu-microsoft commented on #1146
PS: There appears to be a 90 min limit on script run. https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows#tips-and-tricks

Not sure whether this is other cause for the case of indefinite polling.

[2020-03-27 05:58] #1150 closed

[2020-03-27 06:16] weidongxu-microsoft commented on #1111
First is to make sure all auth that can be done in track1 should still be done in track2 (unit tests, or provide sample code). If indeed some auth is deprecated we need to document that (maybe still in AUTH.md).

Optional is to adopt new auth that provided by identity SDK. This can be done after preview.

[2020-03-27 09:17] vaibhaw- commented on #632
I have run into this while upgrading azure jars from v1.13.0 to v1.32.1.

One instance of the code creates and attachs a new disk right after a vm create completes.

[code]

After upgrade, this is now failing the the aforementioned exception. I suspect that other instances of where we do a vm.update will start failing as well. We do vm.update() to change instances sizes, attach and detach disks.

[2020-03-28 10:22] ChenTanyi commented on #632
@vaibhaw
1. No, it seems the service treats the `plan` as a constant, so it will not be any side-effects in my observation. Of course, I recommend you use `withPlan(null)` in `try...catch` for fallback.
2. SDK could do nothing about it since the [API](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/createorupdate#plan) does not show the `plan` is not changeable, which means SDK c

[2020-03-28 11:23] vaibhaw- commented on #632
@ChenTanyi Thanks for clarifying, I guess I will just do with the null plan. :P

[2020-03-30 03:05] weidongxu-microsoft opened #1152 "[FEATURE REQ] Candidate items for migrate guide"
Namespace mapping

Configure
https://github.com/Azure/azure-libraries-for-java/issues/1109
https://github.com/Azure/azure-libraries-for-java/issues/1127

Authenticate
https://github.com/Azure/azure-libraries-for-java/issues/1092
https://github.com/Azure/azure-libraries-for-java/issues/1111

Async (this would be where most incompatibility happens, because of switch from RxJava 1.x to Reactor)

Opti

[2020-03-30 15:58] Drewm3 commented on #1146
@axayjo, could you help investigate this issue?

[2020-04-01 08:16] #1087 closed

[2020-04-01 09:09] #1102 closed

[2020-04-02 05:57] #1149 closed

[2020-04-02 05:58] weidongxu-microsoft commented on #1149
https://github.com/Azure/azure-sdk-for-java/pull/9776

[2020-04-03 08:24] Flanker32 opened #1154 "[FEATURE REQ] Update the getMasterKey() method of Azure Functions"
**Is your feature request related to a problem? Please describe.**
We want to use `FunctionApp.getMasterKey()` to get the key of function and trigger it, however, this call will failed with 409 error, which is a change of Function V2, here is the related [page](https://github.com/Azure/azure-functions-host/wiki/Changes-to-Key-Management-in-Functions-V2)

**Describe the solution you'd like**
We cou

[2020-04-03 08:28] Flanker32 opened #1155 "[FEATURE REQ] Provide triggerFunction method in SDK"
**Is your feature request related to a problem? Please describe.**
It could be better if we could have a trigger method in Function SDK, so that we could call this method to do the test job, especially for none Http triggers

**Describe the solution you'd like**
https://docs.microsoft.com/mt-mt/Azure/azure-functions/functions-manually-run-non-http Here is the official document for trigger non http

[2020-04-07 03:19] weidongxu-microsoft commented on #1146
On client side, deleting the extension on certain condition.

[code]

If `vm` is to be used afterward, remember to call `vm.refresh()`.

[2020-04-07 05:45] #1105 closed

[2020-04-07 08:02] yungezz commented on #1136
pls help to list changes, thanks.

[2020-04-07 09:21] ChenTanyi commented on #1136
Resource: https://github.com/Azure/azure-libraries-for-java/commit/30dbcda9bcb8e681804d668eaeeeb959ecf80a3c
GraphRbac: https://github.com/Azure/azure-libraries-for-java/commit/181ffe21a76ade5bf792976a59dce02631b5ad4d

[2020-04-08 06:38] #1154 closed

[2020-04-09 03:30] #1155 closed

[2020-04-09 08:19] weidongxu-microsoft commented on #1074
@yungezz @ChenTanyi @xccc-msft

Plan to keep a similar interface of
[code]
(same method name, but use the new enum in core)

while maintain the `withLogOptions` interface
[code]
since user might want to set `applicationId`.

And this requires a merge logic on `HttpLogOptions.logLevel` since it got 2 sources. Plan is which set last will be used.

There is other 2 setting of `allowedHeaderNames`, `a

[2020-04-09 11:58] yungezz commented on #1074
thanks @weidongxu-microsoft  what's inside HttpLogOptions, sounds like LogLevel could be a property of LogOption

[2020-04-10 02:12] weidongxu-microsoft commented on #1074
@yungezz
HttpLogOptions got 4. applicationId, logLevel, allowedHeaderNames, allowedQueryParamNames.

Currently the interface let use set HttpLogOptions. So if you want this, this issue is NOOP.

But usually user does not want to change all these. At least for us, we usually only change logLevel.

[2020-04-10 06:39] yungezz commented on #1074
thanks @weidongxu-microsoft . I fully agree to have a deligated set logLevel method as that's what used most normally. The design looks good. As for the merge logic, little concern it maybe little difficult for debug purpose if last set will be used, what do you think?

[2020-04-10 10:54] #1074 closed

[2020-04-11 02:03] yungezz commented on #1085
close via PR https://github.com/Azure/azure-sdk-for-java/pull/9555

[2020-04-11 02:03] #1085 closed

[2020-04-11 02:03] yungezz commented on #1111
https://github.com/Azure/azure-sdk-for-java/pull/9749

[2020-04-11 02:04] yungezz commented on #1130
PR under review

[2020-04-15 10:09] xccc-msft commented on #1135
# compute

Remove keyword `final` for class `VirtualMachineIdentity` and `VirtualMachineScaleSetIdentity` as workaround due to the serialization bug from `AzureJacksonAdaptor`.

Add below annotation
[code]
for the property `userAssignedIdentities` in class `VirtualMachineIdentity` and `VirtualMachineScaleSetIdentity`.

Need to check overloadings for class `{resource}sInner` when new enum types gen

[2020-04-15 12:57] vkhomiak opened #1164 "[QUERY] HTTPS support for proxy in managers"
com.microsoft.azure.management.network.implementation.NetworkManager can be configured for use through proxy. The proxy type is set up by java.net.Proxy's Type enum which doesn't contain HTTPS. Using HTTP type makes the request go unencrypted and rejected by HTTPS proxy.

`NetworkManager azureNetworkMgr = NetworkManager.configure().withProxy(new Proxy(Proxy.Type.HTTP, address)).authenticate(auth,

[2020-04-15 23:15] yungezz commented on #1164
hi @xccc-msft could you pls have a look? thanks

[2020-04-16 02:16] xccc-msft commented on #1164
@vkhomiak As https is just http over TLS, can you try add your certificate into cacerts of your JAVA_HOME?

[2020-04-16 04:35] weidongxu-microsoft opened #1165 "[FEATURE REQ] Check RequestIdPolicy"
For `x-ms-client-request-id` header for tracing.

Track1
https://github.com/Azure/autorest-clientruntime-for-java/blob/master/client-runtime/src/main/java/com/microsoft/rest/RestClient.java#L261

[2020-04-16 04:43] weidongxu-microsoft opened #1166 "[FEATURE REQ] Client side validation"
Track1
`Validator.validate(parameters)`

Track2 generator seems using a different approach. `client-side-validations` flag.

[2020-04-16 05:29] weidongxu-microsoft opened #1167 "[FEATURE REQ] Check "retryAfterHeader" parameter for RetryPolicy"
https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#retrying-rest-calls

Should we add "Retry-After" to it?

[2020-04-17 02:45] yungezz commented on #1166
code generator

[2020-04-17 05:39] xccc-msft opened #1168 "[FEATURE REQ] Refactor RestClient/RestClientBuilder"
To refactor withAttr()/attr() instead of withAttr()/getAttr().
Getter method not required in Builder class.

[2020-04-17 16:38] pbstrein commented on #8
Any word on when this feature will come out?

[2020-04-18 01:41] weidongxu-microsoft commented on #8
Both Java and .NET fluent supports async behavior.

But I am not sure which language it is about. The code is .NET but the repo here is Java...

[2020-04-19 02:46] yungezz commented on #8
@pbstrein could you pls be specific which operation you'd like to be async, is it vm creation as description of the issue? If yes could you pls check latest sdk version as @weidongxu-microsoft mentioned async is supported here. which language SDK you're using? Java or .NET?

[2020-04-19 03:15] yungezz commented on #259
this is compute service behavior so far. azure cli met same issue.

[2020-04-19 03:23] yungezz commented on #326
hi @niteshjain1 could you pls share more info? you want to just list the secrets, but not get secret value?

[2020-04-19 03:28] yungezz commented on #339
hi @renutz we have below recovery services sdk released, includes resource providers: recoveryservices, recoveryservices.backup and recoveryservices.siterecovery
- https://search.maven.org/search?q=azure-mgmt-recoveryservices

Could you pls check if above package  meet your need? Will close the issue for now, pls create a new issue at https://github.com/Azure/azure-sdk-for-java/issues if any other

[2020-04-19 03:28] #339 closed

[2020-04-19 03:30] yungezz commented on #367
the linked PR which contains fixing merged already. close the issue for now, feel free to create new issue at https://github.com/Azure/azure-sdk-for-java/issues if met any other problem. thanks.

[2020-04-19 03:30] #367 closed

[2020-04-19 03:36] yungezz commented on #577
hi @rjardines83 we'd like to close the issue for now since no more detail for further investigation. Pls feel free to open new issue at https://github.com/Azure/azure-sdk-for-java/issues if met any error. thanks.

[2020-04-19 03:36] #577 closed

[2020-04-19 03:39] yungezz commented on #571
Hi @jwalter SDK package for API mgmt is still there, but code is moved to another repo.
- source code:  https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/apimanagement/mgmt-v2019_12_01/pom.xml
- maven package https://search.maven.org/artifact/com.microsoft.azure.apimanagement.v2019_12_01/azure-mgmt-apimanagement

will close the issue for now. Feel free to open new issue at https://github

[2020-04-19 03:39] #571 closed

[2020-04-19 03:40] yungezz commented on #570
that's what service returned. To split java version out, fluent layer need customization

[2020-04-19 03:48] yungezz commented on #569
hi @warrenzhu25 could you pls share more detail about the issue? any code snippet?

[2020-04-19 03:54] yungezz commented on #539
hi @bearrito here's IoTHub mgmt package source code https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/iothub
maven packages: https://search.maven.org/search?q=azure-mgmt-iothub

Let us know whether this is what you need. Close the issue for now, feel free to create new issue at https://github.com/Azure/azure-sdk-for-java/ if any other question. thanks.

[2020-04-19 03:54] #539 closed

[2020-04-19 03:59] yungezz commented on #530
hi @vrpanw as you aware of, the list/get operation is data plane operation.  It's keyvault feature to set access policy on key/secret/cert layer other than vault mgmt layer. will close the issue as by design/won't fix now. Let us know if any other question/problem, thanks.

[2020-04-19 03:59] #530 closed

[2020-04-19 05:41] yungezz commented on #450
hi @spacharya does above solution work for you?

[2020-04-19 05:44] yungezz commented on #421
hi @sumangit789 could you pls be more specific on the ask? thanks.

[2020-04-19 05:49] yungezz commented on #677
hi @renutz does above sdk/method resolve your problem?

[2020-04-19 05:52] yungezz commented on #676
latest api version is `2018-10` in ACI after PR https://github.com/Azure/azure-libraries-for-java/pull/744, which is latest stable API version, https://github.com/Azure/azure-rest-api-specs/tree/master/specification/containerinstance/resource-manager/Microsoft.ContainerInstance/stable/2018-10-01. close the issue as fixed now. Pls feel free to create new issue at https://github.com/Azure/azure-sdk-

[2020-04-19 05:52] #676 closed

[2020-04-19 05:54] yungezz commented on #670
hi @npeuser could you pls provide detail for questions above to help investigation? thanks

[2020-04-19 06:03] yungezz commented on #652
hi @Underwood-M does above make sense for you? resource group name is case-insensitive. Here's full info from ARM https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules. "Resource names are case-insensitive unless specifically noted in the valid characters column." will close the issue for now. feel free to create new issue at https://github.com/Azure/azure-sd

[2020-04-19 06:03] #652 closed

[2020-04-19 14:08] yungezz commented on #628
hi @sklim2002 could you pls share what SDKs you're using to help investigation? thanks

[2020-04-19 14:21] yungezz commented on #710
hi @karldmoore does above workaround from @ChenTanyi work for you? let us know if any error met

[2020-04-20 05:34] vcolin7 opened #1169 "[BUG] Link broken in "Authentication in Azure Management Libraries for Java" README"
**Describe the bug**
There is a dead link in the **Authentication in Azure Management Libraries for Java** [README](https://github.com/Azure/azure-libraries-for-java/blob/master/AUTH.md#using-an-authentication-file) in the **Using an Authentication File** section where it reads "this sample".

**Expected behavior**
The link should lead to a valid code sample.

**Information Checklist**
Kindly make

[2020-04-20 18:16] pbstrein commented on #8
@yungezz This particular issue is asking for a BeginCreate for VM creation. I use the .NET SDK. But in general having a "BeginCreate" or "BeginDelete" on all resources, particularly resources that take a while to create, would be wonderful.

@weidongxu-microsoft Async functionality may exist, but this issue is asking more for "BeginCreate" functionality. That way a creation could begin, and pollin

[2020-04-20 23:58] weidongxu-microsoft commented on #8
@pbstrein

I will feedback on https://github.com/Azure/azure-libraries-for-net/issues/1043

[2020-04-21 01:58] yungezz commented on #1169
HI @xccc-msft could you pls fix the link? thanks

[2020-04-21 02:34] xccc-msft commented on #1169
@vcolin7 I didn't get your query. The code sample is provided as
`Azure azure = Azure.authenticate(credFile).withDefaultSubscription();`
and
`Azure azure = Azure.authenticate(new File("my.azureauth")).withDefaultSubscription();`

By the description `To learn more about authentication in the Azure Libraries for Java, see AUTH.md.`, it should be clear that it's a link with more details regarding how

[2020-04-21 02:34] yungezz commented on #8
HI @pbstrein This repo is Azure Java mgmt SDK repo. Is it ok for you to use Azure/azure-libraries-for-net#1043 to track the ask on .NET sdk? Will close this issue then.

[2020-04-21 12:45] vkhomiak commented on #1164
@xccc-msft I've added my certificate as you had suggested but the problem persists.
Squid log shows this error: clientNegotiateSSL: Error negotiating SSL connection on FD 8: error:1407609B:SSL routines:SSL23_GET_CLIENT_HELLO:https proxy request (1/-1)
It means my proxy expected  the start of the TLS handshake (ClientHello) but instead got a https proxy request (CONNECT).
Packet captures of request

[2020-04-21 22:26] pbstrein commented on #8
@yungezz The issue was originally ported over from .NET (see the top of the issue.) I am not the original owner of the issue, but the requested feature was not officially resolved in the .NET SDK. Either keep this issue open or re-open the [original issue](Azure/azure-sdk-for-net#3411) in the .NET SDK.

[2020-04-22 19:24] vcolin7 commented on #1169
No problem, let me rephrase: In [this README](**url**), the last paragraph in the [Using an authentication file](https://github.com/Azure/azure-libraries-for-java/blob/master/AUTH.md#using-an-authentication-file) section contains a two links. The [first one](https://github.com/Azure/azure-sdk-for-java/blob/master/azure-samples/src/main/java/com/microsoft/azure/management/graphrbac/samples/ManageSe

[2020-04-23 05:11] xccc-msft commented on #1169
@vcolin7 Thanks for clarification. I just created PR to update this link to [sample of auth file creation](https://github.com/Azure-Samples/aad-java-manage-service-principals/blob/master/src/main/java/com/microsoft/azure/management/graphrbac/samples/ManageServicePrincipal.java).

[2020-04-23 05:47] xccc-msft commented on #1164
@vkhomiak Can you try SDK upgrade? We have updated client-runtime related dependencies after v1.24.2. Now the latest is v1.33.0.

Another option is that you might try setting global proxy through system property.
[code]
[code]

[2020-04-23 06:05] weidongxu-microsoft commented on #1139
https://github.com/Azure/azure-sdk/issues/1245

[2020-04-23 06:11] weidongxu-microsoft commented on #1127
Since we are not going to depends on the implementation of http client, Java SDK will not offer much.

For netty client, `Flux.timeout` would do for read timeout.
https://github.com/reactor/reactor-netty/issues/26

And for connection timeout, here is the sample
https://github.com/Azure/azure-sdk-for-java/issues/8802

[2020-04-23 06:11] #1127 closed

[2020-04-23 08:19] weidongxu-microsoft commented on #1127
Add a query to azure-core https://github.com/Azure/azure-sdk-for-java/issues/10449

[2020-04-24 02:33] #1169 closed

[2020-04-24 02:52] #1136 closed

[2020-04-26 02:37] #1144 closed

[2020-04-27 04:51] xccc-msft commented on #1133
# azure-storage-blob
BlobServiceClientBuilder: `SqlDatabaseExportRequestImpl`, `ManageNetworkWatcher`, `ManageVpnGatewayVNet2VNetConnection`, `QueryMetricsAndActivityLogs`

BlobContainerClientBuilder: `ManageWebAppStorageAccountConnection`, `ManageLinuxWebAppStorageAccountConnection`, `QueryMetricsAndActivityLogs`

# azure-cosmos
CosmosClientBuilder: `CreateCosmosDBWithEventualConsistency`, `Manag

[2020-04-27 10:57] vkhomiak commented on #1164
@xccc-msft The upgrade and the system properties didn't help.
Managers use OkHttpClient for connection. I see the client has support for HTTPS but only some of its properties can be configured in the managers. It may be the reason of the TLS handshake failure. What do you think?

[2020-04-28 03:39] xccc-msft commented on #1092
Azure Identity has [AuthorizationCodeCredential](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/identity/azure-identity/src/main/java/com/azure/identity/AuthorizationCodeCredential.java) with `redirectUri` and `authCode` aligning to `DeletegateTokenCredentails` in [track 1](https://github.com/Azure/azure-libraries-for-java/blob/master/AUTH.md#oauth-2-for-web-apps)

[2020-04-28 06:13] #1111 closed

[2020-04-28 06:13] #1168 closed

[2020-04-28 07:41] yungezz commented on #1152
hi @ChenTanyi could you pls share the sample? thanks

[2020-04-28 07:56] yungezz opened #1173 "[FEATURE REQ] Track2 release pipeline"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Prepare Track2 release pipeline.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or

[2020-04-28 08:49] xccc-msft commented on #1165
Provided [RequestIdPolicy](https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/resources/mgmt/src/main/java/com/azure/management/resources/fluentcore/utils/HttpPipelineProvider.java#L67) as part of default built-in policies in track 2 scenario.

[2020-04-28 08:49] #1165 closed

[2020-04-29 09:16] yungezz commented on #1092
thanks @xccc-msft so we'll rely on `TokenCredential` from azure.identity to take care of it.

[2020-04-29 09:16] #1092 closed

[2020-04-30 01:55] #1133 closed

[2020-04-30 02:04] xccc-msft commented on #1164
@jianghaolu Do you have any insights from client-runtime end?

[2020-04-30 07:43] xccc-msft opened #1176 "[FEATURE REQ] Support sync/async methods for each API"
**Is your feature request related to a problem? Please describe.**
This is for track 2 migration. In track 1, using RxJava with mixed sync/async methods is fine. However, after converting to Spring Reactor, we have to provide both to ensure the users can have well-supported sync/async scenario when using our library.

**Describe the solution you'd like**
To add the missing async methods.

**Inform

[2020-04-30 09:35] #1062 closed

[2020-05-05 02:00] jianghaolu commented on #1164
HTTPS proxies are basically SSL requests sent over an HTTP tunnel. It's secure because without the certificate, no one including the proxy server is able to decipher the content of the SSL request.

If I'm guessing correctly, the error you get is not thrown from the NetworkManager but from authentication. Please verify.

The reason behind is that authentication requests are handled by adal4j and t

[2020-05-07 02:20] #1130 closed

[2020-05-07 10:02] ChenTanyi commented on #1138
Sample for http policy provider: https://github.com/tanyi-test/azure-java-sdk-http-policy-provider
Just use Java SPI to discover object for provider.

For the parallel test error, the reason is still unknown while currently I cannot reproduce it yet. It doesn't block anything.

[2020-05-07 10:02] #1138 closed

[2020-05-13 03:34] #1131 closed

[2020-05-14 02:19] yungezz opened #1181 "[FEATURE REQ] AKS supports 2020-03-01 API version, especially new SKU "paid""
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Customer is requesting AKS SDK supports 2020-03-01 API version, especially new SKU "paid". This should happen in Track1.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternati

[2020-05-14 07:23] weidongxu-microsoft commented on #1135
# cosmos

https://github.com/Azure/autorest.modelerfour/issues/291

[2020-05-14 08:56] #1167 closed

[2020-05-15 04:39] xccc-msft opened #1183 "[FEATURE REQ] Remove @Beta annotation for Compute interfaces"
Request from Compute service team to remove the Beta annotation for VMSS interfaces.
After checking the [compute API version in swagger](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/compute/resource-manager#tag-package-2019-07) we used is under `stable`, it should be safe to remove the tags.

[2020-05-15 07:31] #1181 closed

[2020-05-15 10:20] weidongxu-microsoft opened #1185 "Check GalleryImageVersionImpl.withSourceCustomImage"
The method calls generated code. But after code regen, these generated method is gone.

[code]

Need to check whether compute still support this functionality.

[2020-05-15 10:38] weidongxu-microsoft opened #1186 "[FEATURE REQ] Investigate whether we can move e.g. StorageManager to package root"
`com.azure.management.storage.StorageManager` instead of `com.azure.management.storage.implementation.StorageManager`

[2020-05-15 10:40] weidongxu-microsoft opened #1187 "[FEATURE REQ] track2 package structure refactor"
Still checking on details.

[2020-05-18 09:09] #1132 closed

[2020-05-19 01:51] #1185 closed

[2020-05-20 02:16] #1183 closed

[2020-05-21 09:09] #1103 closed

[2020-05-25 10:20] xccc-msft opened #1191 "[QUERY] Check DNS zone created with private settings"
The DNS zone with [private access](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-dns/src/main/java/com/microsoft/azure/management/dns/DnsZone.java#L290) might be unavailable. Need double check and take required action if applicable.

[2020-05-26 05:27] xccc-msft commented on #1191
Getting below response:
{"code":"BadRequest","message":"Creation of private DNS zones using this API is no longer allowed. Please use privatednszones resource instead of dnszones resource. Refer to https:\/\/aka.ms\/privatednsmigration for details."}

[2020-05-26 05:30] xccc-msft commented on #1191
@yungezz @weidongxu-microsoft
Please advise if we should remove `withPrivateAccess()` and related APIs or add deprecate annotation. For now, we haven't supported private DNS in track 1 yet.

[2020-05-26 05:33] yungezz commented on #1191
let's deprecate it firstly.

[2020-05-26 05:34] weidongxu-microsoft commented on #1191
Agree on deprecate.

If customer asking, maybe we should first direct them to private dns fluent lite package.

[2020-05-26 05:36] weidongxu-microsoft commented on #1166
Resolved after regen all services.

[2020-05-26 05:36] #1166 closed

[2020-05-26 05:37] weidongxu-microsoft opened #1192 "[FEATURE REQ] Clean up @Deprecated for track2"
As new version, we should be able to safely delete class/method that is deprecated.

[2020-05-26 08:15] Flanker32 opened #1193 "[FEATURE REQ] Support get tenant Id directly in Azure client"
**Is your feature request related to a problem? Please describe.**
We want to get the tenant id to auth with other mgmt library like application insights, however, it's difficult for us to get tenant id from Azure client.

**Describe the solution you'd like**
Azure provide a method like `getTenantId()` or expose more infos like `getAuthenticated()`

**Describe alternatives you've considered**
`azu

[2020-05-27 09:14] weidongxu-microsoft opened #1195 "[FEATURE REQ] Investigate possible restructure on azure-mgmt-resources"
Classes in `com.azure.management.resources.fluentcore` package might need resturecture, to move some to `implementation` so that not exposed to customer.

[2020-05-27 09:17] xccc-msft commented on #945
@Flanker32 Here is some [related changes](https://github.com/Azure/azure-sdk-for-java/pull/11302) we plan to apply in track 2. Please feel free to share your comments if it will work for you in the future. But we might not apply this in track 1.

[2020-05-28 02:05] weidongxu-microsoft opened #1196 "[BUG] Polling REST and get final result REST does not have Accept header"
Sql service would return applicaiton/xml if no Accept header. It could be problem.

Ideally, polling REST could have application/json, final result REST could have same header as first POST/PUT/PATCH/DELETE.

Change would be in azure-core-management.

[2020-05-28 16:14] ashbondu opened #1197 "[FEATURE REQ] Allow user to specify the HTTP protocol to use when talking to Azure"
**Is your feature request related to a problem? Please describe.**
All the Azure systems do not yet support HTTP/2 protocol fully. But Java11 supports the HTTP/2 by default and okhttp client switches to HTTP/2 protocol when running under Java11, causing issues with throttling.

**Describe the solution you'd like**
Allow the caller to define the protocol as part of AzureConfigurable during Azure cl

[2020-05-29 03:28] weidongxu-microsoft commented on #1187
https://github.com/Azure/azure-sdk-for-java/pull/11205

[2020-05-29 06:00] ChenTanyi commented on #1197
@ashbondu It is a feature in client-runtime, you could use a workaround as:
[code]
Default rest client configuration could be found in https://github.com/Azure/azure-libraries-for-java/blob/df7658ba/azure/src/main/java/com/microsoft/azure/management/Azure.java#L169

[2020-05-29 07:48] weidongxu-microsoft opened #1198 "[FEATURE REQ] Remove all password/SSH key from test/sample"
I thought it was solved, but it still there.

https://github.com/Azure/azure-libraries-for-java/blob/master/azure-samples/src/main/java/com/microsoft/azure/management/compute/samples/ManageVirtualMachine.java#L60-L94

[code]

We should never have a password without any randomization in test/sample.

Apply to track1 and track2.

---

My suggestion is to move those in sample it to `Utils.password`.

[2020-05-29 07:50] weidongxu-microsoft commented on #1198
@yungezz @ChenTanyi @xccc-msft

[2020-05-29 15:57] ashbondu commented on #1197
@ChenTanyi Thanks for the suggestion.
I am using this workaround today to restrict the protocol usage to HTTP/1.1 in our systems.

Just to give some background, we started seeing Azure throttling at low usage the system which was using the Azure client moved from Java8 to Java11 due to HTTP/1.1. Took us a bunch of days to narrow down that the reason is HTTP/2

So, raised this more as an enhancemen

[2020-06-01 02:09] ChenTanyi commented on #1197
@ashbondu Thanks for your feedback!

I also found some strange behavior when using OkHttp with Java 11. (Program isn't terminated after request is done.) Not sure whether it is the same or not.

Btw, I think my above solution can't be called workaround, it is what we expect currently.
Actually, the AzureConfigurable is used for common config, and the restClient providing all configs for OkHttp is

[2020-06-01 03:16] weidongxu-microsoft commented on #1135
Overall, bug on m4 https://github.com/Azure/autorest.modelerfour/issues/295

[2020-06-02 08:31] ChenTanyi commented on #1197
@ashbondu Could you also tell me about which service you use in such Azure throttling? Or do you use multiple service? And how do you run with HTTP 2.0?

I think it could also to mark with service attention to help service debug if there is anything wrong with HTTP 2.0.

[2020-06-04 01:36] weidongxu-microsoft commented on #1135
export SPEC_ROOT=/c/github/azure-rest-api-specs
export AUTOREST_JAVA=/c/github_fork/autorest.java

gulp codegen --projects features --spec-root $SPEC_ROOT --autorest-java $AUTOREST_JAVA
gulp codegen --projects policy --spec-root $SPEC_ROOT --autorest-java $AUTOREST_JAVA --preserve
gulp codegen --projects subscriptions --spec-root $SPEC_ROOT --autorest-java $AUTOREST_JAVA --preserve
gulp codegen --

[2020-06-04 06:56] weidongxu-microsoft opened #1200 "[BUG] Add EndpointSuffix to storage account connection string"
https://docs.microsoft.com/en-us/azure/storage/common/storage-configure-connection-string#create-a-connection-string-with-an-endpoint-suffix

[2020-06-05 01:48] weidongxu-microsoft opened #1202 "[FEATURE REQ] Sync compute feature from track1"

[2020-06-05 05:13] xccc-msft commented on #1135
# resources

remove operations in SubscriptionClient

[2020-06-05 06:19] ashbondu commented on #1197
We use multiple services and many of the ARM calls were throttled at very low usage.
Got throttled by GetVm, GetDisk, GetNic, GetResources etc.
Once we restricted the usage to HTTP/1.1 on the client, the throttling was not seen.
Have raised a Azure SR as well regarding this.

Regarding the usage of HTTP/2, as I mentioned earlier, Java11 supports HTTP/2 by default. So OkHttp started using HTTP/2 pr

[2020-06-05 06:40] ChenTanyi opened #1203 "[FEATURE REQ] Create domain with default dns zone"
App service will no longer create dns zone with domain in default. We need to fix it in domain creation (default or existing).

[2020-06-05 06:45] ChenTanyi commented on #1203
Current workaround: https://github.com/Azure/azure-sdk-for-java/pull/11813

[code]

[2020-06-05 08:58] #1200 closed

[2020-06-08 06:41] weidongxu-microsoft opened #1204 "[FEATURE REQ] update linux function app linuxFxVersion"
We would like to make sure in the next release, we are setting for linuxFxVersion for dedicated/premium Java|8 or Java|11 not DOCKER|mcr.microsoft.com/azure-functions/java:3.0-java8-appservice.
I opened a tracking item, I added under java 11 work for now, https://msazure.visualstudio.com/Antares/_backlogs/backlog/Functions/Backlog%20items/?workitem=7389277

To re-iterate the request, “linuxFxVersi

[2020-06-09 06:31] #1204 closed

[2020-06-09 06:47] weidongxu-microsoft opened #1206 "[FEATURE REQ] Refine ResourceManagerThrottlingPolicy"
Check whether it is necessary to block on subscription/method/PR, when too many requests.

[2020-06-09 08:37] weidongxu-microsoft commented on #1090
Relate to https://github.com/Azure/azure-sdk-for-java/issues/9762

[2020-06-09 08:40] ChenTanyi opened #1207 "[FEATURE REQ] Detect sync function in async method"
Due to reactor design, we should not use sync function in async method.

[2020-06-09 08:58] ChenTanyi opened #1208 "[FEATURE REQ] Discuss about Rev API for data-plane key vault"
Rev API check for not exposing class from other package, we should either suppress it in key vault or remove the key vault dependency from our management libraries.

[2020-06-09 13:56] dennis-benzinger-hybris opened #1209 "[FEATURE REQ] Expose `outputResources` on `Deployment`"
The `Deployment` interface should expose the `outputResources` field documented on https://docs.microsoft.com/en-us/rest/api/resources/deployments/get#deploymentpropertiesextended.

This is useful, for example, if you want to remove all resources created by a deployment.

[2020-06-10 01:33] weidongxu-microsoft opened #1210 "[FEATURE REQ] Sync track1 compute change to track2"
https://github.com/Azure/azure-libraries-for-java/pull/1199

[2020-06-10 02:17] weidongxu-microsoft commented on #1209
Need upgrade resources to 2020-06-01
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/stable/2020-06-01/resources.json#L4756-L4764

The property does not exist in current 2019-08-01

[2020-06-10 08:37] dennis-benzinger-hybris commented on #772
The REST documentation knows this field now (currently at API level 2019-10-01):
https://docs.microsoft.com/en-us/rest/api/resources/deploymentoperations/get#provisioningoperation

[2020-06-10 08:42] weidongxu-microsoft commented on #772
Currently we are still on 2019-08-01
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Resources/stable/2019-08-01/resources.json

[2020-06-10 08:57] weidongxu-microsoft opened #1212 "[FEATURE REQ] Update resources to latest, and fix related issues"
https://github.com/Azure/azure-libraries-for-java/issues/772

https://github.com/Azure/azure-libraries-for-java/issues/1209

[2020-06-10 09:03] weidongxu-microsoft opened #1213 "[FEATURE REQ] Exclude fluent premium folder from fluent lite CI"
To reduce CI needed for every fluent premium PR.

E.g., exclude `sdk/compute/mgmt` from https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/compute/ci.mgmt.yml

[2020-06-11 04:10] #1203 closed

[2020-06-11 07:10] #1196 closed

[2020-06-11 07:10] weidongxu-microsoft commented on #1196
Fixed in core-management.

[2020-06-11 07:12] weidongxu-microsoft commented on #1187
1st batch done.

[2020-06-11 07:12] #1187 closed

[2020-06-11 07:13] weidongxu-microsoft commented on #1186
Moved to package root.

The public in implementation namespace is expected to be mitigated by Java 9 modularity.

[2020-06-11 07:14] weidongxu-microsoft commented on #1110
Use `ManagementException` until azure-core update their code to support convert response body to `ManagementError`.

[2020-06-15 06:10] Flanker32 opened #1219 "[BUG Bash] `InteractiveBrowserCredentialBuilder` uses 0 as the default port which will not work"
**Describe the bug**
 `InteractiveBrowserCredentialBuilder` uses `0` as the default port, which we can't get Azure's response.

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
Run codes in *Code Snippet*

***Code Snippet***
Add the code snippet that causes the issue.
[code]

**Expected behavior**
SDK use an valid port as the default value or throw exception

[2020-06-15 06:20] aim-for-better commented on #668
@gangadharaswamy @akodali18 Could you please provide the entire URL of the request you sent?
This is very important because from the limit information you provided I can't the related API.

Here you just  provided the query parameter and response body, I can't find the entire URL of the request.

[2020-06-15 06:26] Flanker32 opened #1221 "[BUG Bash] Azure client authenticated with InteractiveBrowserCredential keep running after main method"
**Describe the bug**
Program with Azure client authenticated with `InteractiveBrowserCredential` keep running after main method done.

**To Reproduce**
Steps to reproduce the behavior:
Run codes in *Code Snippet*

***Code Snippet***
Add the code snippet that causes the issue.
[code]

**Expected behavior**
Program should exit automatically after main method done.

**Setup (please complete the follo

[2020-06-15 08:05] weidongxu-microsoft opened #1222 "[FEATURE REQ] Improvement: batch requests to avoid throttling"
from databrick, throttling encountered.

[2020-06-16 01:37] weidongxu-microsoft commented on #1222
https://github.com/Azure/azure-sdk-for-python/issues/9271

[2020-06-16 01:42] weidongxu-microsoft commented on #1219
@xccc-msft Please take a look when you have time.

@Flanker32 Here is a bit more material on the new azure-identity from Jianghao (it might be a bit out-dated).

PPT
https://microsoft.sharepoint.com/:p:/t/AzureDeveloperExperience/EbI-QvCV_V1GkTemPLYZfw4BU3g5glwtCTvPrmJ003A4Lw?e=XkYzft&wdLOR=c2E9DC7C8-18EB-4C88-808D-DA6F8F21527A

Video recording
https://msit.microsoftstream.com/video/ad5be47c-346e-

[2020-06-16 02:22] xccc-msft commented on #1219
@Flanker32 It looks port `0` would trigger the scenario for system to find next available port. Most likely the actual picked port is not [registered](https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/identity/azure-identity#enable-applications-for-interactive-browser-oauth-2-flow) yet. I will try to register port `0` first according to guidance and investigate this issue.

In this case,

[2020-06-16 02:50] weidongxu-microsoft opened #1223 "[FEATURE REQ] add systemData to core-management"

[2020-06-18 06:22] akodali18 commented on #668
@aim-for-better : Here is the REST API we used - https://docs.microsoft.com/en-us/rest/api/monitor/metrics/list

We just call this API with the query parameters in issue description. Let us know if you need more info.

[2020-06-19 03:10] weidongxu-microsoft opened #1227 "[BUG] LRO bug in core-mgmt"
**High priority**

PUT with 201, AzureAsyncOperation.

Then 200 + status=InProgress, until 200 + status=Failed

[2020-06-23 17:56] daveagill opened #1229 "[BUG] NPE from virtualMachineScaleSets().list()"
**Describe the bug**
Invoking virtualMachineScaleSets().list() throws a NullPointerException

***Exception or Stack Trace***
[code]

**To Reproduce**
Simply making the call triggered the NPE. It definitely does not happen in every subscription and is (as yet) unclear if this is a transient or permanent issue in the subscription where this was encountered.

***Code Snippet***
[code]

**Expected beh

[2020-06-24 05:14] yungezz commented on #1229
hi @xccc-msft could you pls have a look? thanks

[2020-06-24 07:54] xccc-msft commented on #1229
@daveagill Can you try to capture the request/response and check if any `properties.virtualMachineProfile` inside the vmss is empty there? Thanks.

[2020-06-24 08:22] maartenba commented on #906
@ahmedelnably @fabiocav @nickzhums Are here any updates on this?

[2020-06-24 09:29] daveagill commented on #1229
Yes I will try to get that. If that was the issue is there any workaround we could do in the short-term to mitigate? Maybe filter them out from someplace?

[2020-06-24 09:45] xccc-msft commented on #1229
@daveagill You may try below code instead.
`azure.virtualMachineScaleSets().inner().list()`

[2020-06-25 20:24] amjads1 commented on #1146
Based on my investigations and information gathered so far, this issue seems to be resolved. Closing this issue for now but feel free to re-open if issue still exists and I will take this forward. Thank you!

[2020-06-25 21:12] Drewm3 commented on #1146
Closing this one

[2020-06-25 21:12] #1146 closed

[2020-06-29 06:13] #1202 closed

[2020-07-01 05:48] kmadof commented on #536
I just ran into the same issue. Since I'm just doing this stuff for fun a changed a region for my function (and it works). I would try to get more details and post here.

[2020-07-01 09:53] aim-for-better commented on #668
This is not SDK issue. I will try to find the correct team and report the issue.

[2020-07-02 06:03] #1227 closed

[2020-07-02 07:15] aim-for-better commented on #668
@yaohaizh @akodali18  This API https://docs.microsoft.com/en-us/rest/api/monitor/metrics/list is provided by Insights team.
Now transfer it to Insights team to ask for help investigate who returns the response.

[2020-07-02 07:17] aim-for-better commented on #668
I don't know which team provided the response.

[2020-07-07 05:46] weidongxu-microsoft opened #1234 "[FEATURE REQ] Uniform approach on get response for 404"
Currently appservice will allow {200, 404} for its `get` API. Other services seems only allow 200.

`onErrorResume` is not likely a good solution, since it might capture other response code like 401.

[2020-07-13 02:14] weidongxu-microsoft opened #1235 "[FEATURE REQ] Investigate test lib from azure-core"

[2020-07-13 06:05] Flanker32 opened #1236 "[FEATURE REQ] Update api-version for list subscriptions api to get tenant"
**Is your feature request related to a problem? Please describe.**
I want to get the tenant id for correspond subscriptions, this could be done easily with the latest subscriptions [api](https://docs.microsoft.com/en-us/rest/api/resources/subscriptions/list), but this was missed in track 1 sdk, only available in track 2.

**Describe the solution you'd like**
Update the track 1 `Azure.Authenticated

[2020-07-15 04:01] #1139 closed

[2020-07-20 04:20] xccc-msft commented on #1209
@dennis-benzinger-hybris We have PR ready for exposing outputResources. Please see [here](https://github.com/Azure/azure-libraries-for-java/pull/1237).
[code]

[2020-07-21 02:04] ChenTanyi commented on #1135
# Container Instance

Delete `final` for class `ContainerGroupIdentity`

[2020-07-21 08:13] #1236 closed

[2020-07-22 06:16] #1110 closed

[2020-07-22 06:17] #1152 closed

[2020-07-22 06:17] #1173 closed

[2020-07-22 06:17] #1198 closed

[2020-07-22 06:33] yungezz commented on #1007
on specific services with really long running operation: cosmos, aks.

[2020-07-22 06:37] yungezz commented on #1106
resource, webapp done.

[2020-07-22 06:38] #1107 closed

[2020-07-22 06:41] #1137 closed

[2020-07-22 06:41] #1186 closed

[2020-07-22 06:45] #1206 closed

[2020-07-22 06:47] #1210 closed

[2020-07-22 06:51] #1234 closed

[2020-07-22 07:19] weidongxu-microsoft commented on #1222
Sample batch client:

[code]

[2020-07-22 07:33] weidongxu-microsoft commented on #1222
I guess I would need to investigate more.

Doing 3 single GET and 1 batch (with 3 GET inside), for 3 VM, alternatively, 10 loops.
x-ms-ratelimit-remaining-subscription-reads in header (single GET is in response header, batch POST is in json response).

Result

[code]

[code]

Apparently, for single GET requests, the ratelimit is going down one-by-one, monotonously.
However the ratelimit from batch

[2020-07-22 09:18] SherryPan123 opened #1241 "get com.microsoft.azure.CloudException: Status code 405 calling genericResources.checkExistence() [QUERY]"
**Query/Question**
https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-resources/src/test/java/com/microsoft/azure/management/resources/GenericResourcesTests.java
Run test as above, after deleting resource
[code]
checkExistence() sometimes triggers "CloudException 405".
The stack is as follows:
[code]

Why did it happen and how to solve this problem?

**Setup (please complete

[2020-07-22 10:24] SherryPan123 commented on #1241
FYI, both the successful and failed requests' httpMethod are "HEAD".  The httpStatusCodeof successful request is 404 and the one of failed request is 405.

[2020-07-23 02:13] weidongxu-microsoft commented on #1241
@SherryPan123
Do you aware how frequent it happens?

BTW, next release (should be 1.36.0) would be in 1 day or 2. That would upgrade resources service to latest api-version 2020-06-01, which now have
[code]
in `ResourcesInner`.

[2020-07-23 02:18] SherryPan123 commented on #1241
It happens all the time yesterday.

[2020-07-23 02:37] weidongxu-microsoft opened #1242 "[FEATURE REQ] Investigate live testing under heavy load"
This is unknown for track2.

[2020-07-23 02:43] weidongxu-microsoft commented on #1241
Ehm, interesting thing is, I've run the tests 5 times in a row, all passes...

Do you still have the response of the 405? It should be printed out with the test (not sure if it contains a json body).

[code]

[2020-07-23 02:57] SherryPan123 commented on #1241
I've noticed that the `api-version` of my request targetUri is "2019-05-01-preview", but yours is "2019-08-01"?

[2020-07-23 03:03] weidongxu-microsoft commented on #1241
The api-version is taken from resource providers. If you are not using `Microsoft.Web`, it would be different.

So maybe you are using a different resource type (hence different resource provider, and different api-version)?

My response on it is (first is 2019-08-01, and no 2019-05-01-preview in the whole support list):
[code]

[2020-07-23 03:07] weidongxu-microsoft commented on #1241
There is potential problem on `checkExistenceById` for certain RPs.
https://github.com/Azure/azure-sdk-for-java/issues/8860

[2020-07-23 04:07] xccc-msft commented on #772
@vihanp @dennis-benzinger-hybris Please check the [PR](https://github.com/Azure/azure-libraries-for-java/pull/1243) adding provisioningOperation. We will plan to release this week.

[2020-07-23 09:16] xccc-msft commented on #772
Close this as released in 1.36.0.

[2020-07-23 09:16] #772 closed

[2020-07-23 09:17] xccc-msft commented on #1209
Close this as release in 1.36.0.

[2020-07-23 09:17] #1209 closed

[2020-07-28 03:18] weidongxu-microsoft opened #1246 "[FEATURE REQ] investigate re-design on WebApp/FunctionApp list"
Current `list` would do one REST for list, then 2 REST for **each** resource. It is a bad design.

[2020-07-28 21:46] mjia-r7 opened #1247 "[BUG]Virtual Machine getProximityGroup throws null pointer if proximity group is null"
**Describe the bug**
A clear and concise description of what the bug is.
Virtual Machine getProximityGroup will throw Null Pointer Exception if the virtual machine inner proximity group is null.

***Exception or Stack Trace***
Add the exception log and stack trace if available

Caused by: java.lang.NullPointerException: null
	at com.microsoft.azure.management.compute.implementation.VirtualMachineI

[2020-07-29 08:59] xccc-msft commented on #1100
Close this as PR got merged.

[2020-07-29 08:59] #1100 closed

[2020-07-29 10:19] #1213 closed

[2020-07-30 01:33] #1247 closed

[2020-07-30 07:20] weidongxu-microsoft opened #1250 "[FEATURE REQ] support instanceIds in VirtualMachineScaleSet and VirtualMachineScaleSets"
We should support `instanceIds` in request like these

[code]

[2020-07-31 05:27] weidongxu-microsoft commented on #1090
Done in core-mgmt
https://github.com/Azure/azure-sdk-for-java/pull/13641

Pending for mgmt code and generator.

[2020-07-31 05:34] weidongxu-microsoft opened #1251 "[FEATURE REQ] investigate potential improvement on ResourceManagerThrottlingInterceptor"
E.g. throttling on PUT should not block DELETE

[2020-07-31 19:08] markmassesnow opened #1253 "[FEATURE REQ] Add License Type and Sku to SqlDatabase"
**Is your feature request related to a problem? Please describe.**
The SqlDatababse (DatabseInner) object is currently using the REST api version 2014-04-01.  This version does not contain the licenseType or Sku values for SqlDatabases.

These values are required in order to figure out the costs associated with a sql database from the rate-card api.  I would like to be able to display the current

[2020-08-01 02:27] weidongxu-microsoft commented on #1253
@markmassesnow
It is unlikely this version of SDK getting upgrade to 2017-10-01-preview or above anytime soon (it is too many breaking changes between the versions).

If your current usage is not for mission-critical parts of the system, you might want to try the new version of SDK (2.0.0-beta.3). It has upgraded to latest sql service spec. Not that this new version is still in beta preview stage,

[2020-08-04 03:00] #1251 closed

[2020-08-04 16:07] markmassesnow commented on #1253
Thanks for the response.
I see that the changes I need are in the 2.0.0-beta.3 version.

I will wait until 2.0.0 gets released.

[2020-08-04 16:07] #1253 closed

[2020-08-05 14:48] metaldectr opened #1255 "[BUG] NPE from .disks().getById(diskId)"
***Exception or Stack Trace***
Caused by java.lang.IllegalArgumentException: Parameter resourceGroupName is required and cannot be null.
/opt/lib/azure-mgmt-compute-1.22.0.jar!/com/microsoft/azure/management/compute/implementation/DisksInner.class:529 in getByResourceGroupWithServiceResponseAsync
/opt//lib/azure-mgmt-compute-1.22.0.jar!/com/microsoft/azure/management/compute/implementation/DisksIn

[2020-08-06 01:44] weidongxu-microsoft commented on #1255
@metaldectr

Could you share your disk ID? The exception seems be caused by invalid resource ID (hence the resource group cannot be extraced).

[2020-08-06 10:25] metaldectr commented on #1255
I get diskId from vm.dataDisks()

VirtualMachine
/**
     * @return the managed data disks associated with this virtual machine, indexed by LUN
     */
    Map<Integer, VirtualMachineDataDisk> dataDisks();

and get Id from this object.

[2020-08-07 02:02] weidongxu-microsoft commented on #1255
@metaldectr
Would you help paste the id here (with redact if you prefer)?

I am fine with my test:

[code]

The format of the ID would be
[code]

[2020-08-07 13:39] gergopapi2 opened #1256 "[BUG] StorageAccount Allow Blob public access parameter not present in SDK"
I wanted to create a storage account via SDK (1.35.0) with parameter "Allow Blob public access" set to false. The default value is true so a false needs to be set explicitly.

However, I could not find this parameter in the SDK. It is present in the REST api, in the ARM template, but not in the SDK. Please check my conversation with Microsoft Support (id: 120080621000570).

[2020-08-08 01:29] weidongxu-microsoft commented on #1256
@gergopapi2
The `allowBlobPublicAccess` property is added on Jun 22.
https://github.com/Azure/azure-rest-api-specs/commit/80784443eefe04bf6f4d253f9f210044e6d432b1

The SDK has not yet to pick it up.

We will schedule it.

[2020-08-08 01:31] weidongxu-microsoft commented on #1246
The change on .net https://github.com/Azure/azure-libraries-for-net/pull/1116

[2020-08-08 01:34] weidongxu-microsoft opened #1257 "[FEATURE REQ] Approach to find how many settable properties is covered by Fluent API"
As time goes by, spec would add more properties to a resource, Fluent API would lag behind it. E.g. support for IPv6 on PublicIP.

Would like to have some automatic approach to figure out how much Fluent API is behind.

[2020-08-11 05:28] yungezz commented on #1212
resolved by https://github.com/Azure/azure-sdk-for-java/pull/13591. latest API version in Track2: 2020-05-01

[2020-08-11 05:28] #1212 closed

[2020-08-11 06:21] ChenTanyi opened #1258 "[BUG] Fix random playback error (mostly in Java 11)"
link PR: https://github.com/Azure/azure-sdk-for-java/pull/13964
In Java 11 test, there are many test failed with cast error, and other unknown reason. Suppress first, need fix later.
like
https://dev.azure.com/azure-sdk/public/_build/results?buildId=490242&view=logs&j=7b37e859-64ee-5f0a-bc68-7ffea97b87a0&t=812cefe6-6f90-5fd7-b11d-5625d26cde7b
https://dev.azure.com/azure-sdk/public/_build/results?b

[2020-08-11 07:56] #1208 closed

[2020-08-12 03:32] #1090 closed

[2020-08-12 04:45] weidongxu-microsoft commented on #1222
It is much clearer on compute

[code]

[code]
One batch costs 3 DeleteVM quota.

[2020-08-12 04:51] weidongxu-microsoft commented on #1222
@ChenTanyi Please check `ResourceManagerThrottlingPolicy` in track2 first.

I think begin op in track2 would return full headers (though polling will not). Since current problem is on PUT/DELETE, this would be enough for now.
We could try to add an Util that parses response by checking "x-ms-ratelimit-remaining-resource" and "x-ms-ratelimit-remaining-subscription-{method}" header, if the number is

[2020-08-12 05:27] yungezz commented on #1207
synced with @ChenTanyi , known cases are fixed already. So deprioritize this one from GA.

[2020-08-12 08:31] yungezz commented on #1219
fro linked issue, the issue  is fixed in latest azure-identity release. @Flanker32 you might want to have a try on it.

[2020-08-14 07:36] ChenTanyi opened #1261 "[BUG] ExternalChildResourcesCachedImpl need to be removed"
Since the `ExternalChildResourcesCachedImpl` will usually call `block` first, we need to remove it due to most of them will use in async method.

[2020-08-17 03:10] ChenTanyi opened #1262 "[FEATURE REQ] Refactor AKS work flow"
AKS cannot define more than one agent pool, need to refactor AKS work flow.

[2020-08-17 08:58] #1193 closed

[2020-08-20 05:20] weidongxu-microsoft opened #1263 "[FEATURE REQ] Support docker image setting for function app slot"
Request from Hanxiao.

Support docker image setting for function app slot.

[code]

[2020-08-20 06:49] weidongxu-microsoft commented on #1263
@Flanker32

Task to support docker for function app slot.

If have related requests, please also add here.

[2020-08-20 06:57] maartenba commented on #906
@ahmedelnably @fabiocav @nickzhums Any news on the above?

[2020-08-20 08:05] #1222 closed

[2020-08-24 01:55] #1263 closed

[2020-08-24 02:43] xccc-msft commented on #1229
@daveagill Thanks for the suggestion! Please feel free to reopen if you got any issues again.

[2020-08-24 02:43] #1229 closed

[2020-08-25 04:57] jejner opened #1266 "[BUG] Next page link missing while listing Storage accounts"
**Describe the bug**
While listing storage accounts via the list call **next page link** is missing in the sdk response and hence not able to fetch the remaining storage accounts.
I guess the problem is here:
https://github.com/Azure/azure-libraries-for-java/blob/v1.36.1/azure-mgmt-storage/src/main/java/com/microsoft/azure/management/storage/implementation/StorageAccountsInner.java is using **Page

[2020-08-27 06:10] yungezz commented on #1266
hi @xccc-msft could you pls help to have a look? thanks

[2020-08-27 06:52] xccc-msft commented on #1266
@jejner I'm not able to reproduce. Please share more info about your scenario. Thanks.

The test I tried to reproduce by listing storage accounts:
[code]

[2020-08-27 06:54] weidongxu-microsoft commented on #1266
@xccc-msft At least you need more than one page? (3 is not likely be the limit on the page)

[2020-08-27 07:04] jejner commented on #1266
@xccc-msft we are having more than 80 storage accounts spread across various regions & resource groups and the same azure account is being used in multiple dev environments. There were multiple calls for listing storage accounts from various envs in a very short span of time and we hit this issue of pagination. I was able to reproduce this by adding the **listing storage accounts call** in a for l

[2020-08-27 10:16] xccc-msft commented on #1266
@jejner I tried to create 150 storage accounts with 5 regions/10 resource groups randomly. And then list all storage accounts. It works fine for me. Can you please capture the response when reproducing this issue? Also, do you have any scenario deleting storage accounts in some dev environments? It might possible if some deletion happened during the list operation so the list operation stopped.

[2020-08-27 11:03] jejner commented on #1266
@xccc-msft One time listing of storage accounts works fine, problem is when you fire multiple listing calls together(like more than 100 requests). With the 150 storage accounts you have created, can you try listing all storage accounts like 100 or 120 times via a loop? Then you will be able to see the issue.
Right now i am using another Azure subscription which has 51 storage accounts
Test code:
[

[2020-08-28 05:34] xccc-msft commented on #1266
@jejner I tried with same scenario as you suggested
[code]
And the responses for me are all the same
[code]
Can you please try to capture the response and check if nextPageLink is missing in the response? Thanks.

[2020-08-28 07:12] jejner commented on #1266
@xccc-msft Can you try running the test code it multiple times or increase the number of iterations? It is happening for me consistently.
Screenshots of response i am receiving while running the test code:
<img width="1150" alt="responseContentBodyHaving-nextLink" src="https://user-images.githubusercontent.com/36830335/91531569-9ff8c380-e92a-11ea-93b5-cc03b31d248d.png">
<img width="629" alt="deser

[2020-08-28 09:18] xccc-msft commented on #1266
@jejner Thanks for sharing. I think for my tests I always get only one page in the response so that I cannot reproduce. And for your case, there are more than one page in the response while the PageImpl is missing property of `nextLink`. After checking the PageImpl, it's a generated class by our code generator and swagger definitions. I just create a [PR](https://github.com/Azure/azure-libraries-f

[2020-08-28 14:10] weidongxu-microsoft commented on #1197
Next release be around Sept. 4 (likely version 1.36.2)

[2020-09-01 00:49] snaheth commented on #756
Closing the issue given no response to the last 2 tagged questions. Please reopen if you're still experiencing this.

[2020-09-01 00:49] #756 closed

[2020-09-01 01:55] #1197 closed

[2020-09-01 07:59] #1104 closed

[2020-09-01 07:59] weidongxu-microsoft commented on #1007
Done for common resource on resources/compute/network.

[2020-09-01 07:59] #1007 closed

[2020-09-01 08:00] #690 closed

[2020-09-03 06:04] #1235 closed

[2020-09-04 02:07] #1266 closed

[2020-09-08 02:18] ChenTanyi opened #1275 "[FEATURE REQ] Add list by filter for authorization"
https://github.com/Azure/azure-libraries-for-java/blob/76acc10efbc6a8e22f96dfc41d0c192cb5475038/azure-mgmt-graph-rbac/src/main/java/com/microsoft/azure/management/graphrbac/implementation/ActiveDirectoryApplicationsImpl.java#L114-L153

`getByName` is using `listByFilter`, which could list with wrong object. We should add a API `listByFilter` for more choice

[2020-09-08 07:41] #1275 closed

[2020-09-09 09:04] nirco950 opened #1276 "Private Azure Dns Zone"
Hi
I could not find in the Azure java SDK how to get the azure private dns zones
The dnsZone is just about the public dns

is there a way to run queries on the private zones in similar to the public dns zones via java SDK?

thanks!

[2020-09-09 09:08] weidongxu-microsoft commented on #1276
Private dns is available as Fluent Lite
https://mvnrepository.com/artifact/com.microsoft.azure.privatedns.v2018_09_01/azure-mgmt-privatedns

or new Fluent Premium in preview
https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/resourcemanager

[2020-09-10 15:38] nirco950 commented on #1276
Can I get it under the azure resources (given subscription)?

there is any sample how to use private dns zones?

[2020-09-11 01:39] weidongxu-microsoft commented on #1276
You can get it under Azure if you uses the preview https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/resourcemanager

Sample https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/resourcemanager/azure-resourcemanager-samples/src/main/java/com/azure/resourcemanager/privatedns/samples/ManagePrivateDns.java

[2020-09-11 02:05] #1246 closed

[2020-09-11 03:08] ChenTanyi opened #1277 "[FEATURE REQ] Refactor DAG or return Mono in TaskGroup"
Due to https://github.com/Azure/azure-sdk-for-java/pull/15074, the return order will not be topological order.
We need to choose either of it to solve it:
* Refactor DAG in order to keep TaskGroup return in topological order
* just return last element (root node) as Mono in TaskGroup

[2020-09-11 19:39] amishra-dev commented on #685
Please reactivate if you are still facing and issue

[2020-09-11 19:39] #685 closed

[2020-09-14 02:32] Flanker32 opened #1278 "[BUG] Track 1 SDK will throw exception when get nonexistent function slots"
**Describe the bug**
Track 1 SDK will throw `NoSuchElementException` when get nonexistent function slots instead of return null

***Exception or Stack Trace***
[code]

**To Reproduce**
[code]

**Expected behavior**
return null for nonexistent function slots

**Setup (please complete the following information):**
 - JRE Version: Oracle JDK 1.8
 - SDK Version: 1.36.1

**Information Checklist**
Kindl

[2020-09-15 02:10] #1278 closed

[2020-09-15 04:54] weidongxu-microsoft opened #1281 "[FEATURE REQ] support JBOSSEAP|7.2-java8"

[2020-09-15 04:55] weidongxu-microsoft opened #1282 "[FEATURE REQ] support One Deploy"
Windows likely onboard in Oct.
Linux onboard in Nov.

Before onboard, use the `cmd` below to set-up Kudu.

https://github.com/shrishrirang/onedeploy/blob/master/usage/README.md

[2020-09-15 15:44] #1281 closed

[2020-09-16 02:31] weidongxu-microsoft commented on #1135
# authorization

Change `SharedAccessAuthorizationRuleResourceInner` to extend `Resource`

[2020-09-16 02:32] weidongxu-microsoft commented on #1135
# servicebus

Change `QueueResourceInner` to extend `Resource`

[2020-09-16 04:03] xccc-msft commented on #1135
# cdn

rename parameter name in EndpointClient

[2020-09-16 04:43] weidongxu-microsoft commented on #1135
# appplatform

Swagger bug
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/appplatform/resource-manager/Microsoft.AppPlatform/stable/2020-07-01/appplatform.json#L4331-L4347

[2020-09-17 07:58] ChenTanyi commented on #1277
finished in https://github.com/Azure/azure-sdk-for-java/pull/15212

[2020-09-17 07:58] #1277 closed

[2020-09-21 06:55] ChenTanyi commented on #1262
finished in https://github.com/Azure/azure-sdk-for-java/pull/15156

[2020-09-21 06:55] #1262 closed

[2020-09-21 06:57] ChenTanyi commented on #1258
fixed in https://github.com/Azure/azure-sdk-for-java/pull/15212

[2020-09-21 06:57] #1258 closed

[2020-09-23 05:54] weidongxu-microsoft opened #1284 "Support ClientOptions"
`HttpLogOptions.getApplicationId` deprecated.

[2020-09-24 08:12] ChenTanyi opened #1287 "[BUG] Virtual Network Gateway API changed"
Unit test failed with `VpnClientRootCertificateDataInvalid`

Source:
* https://github.com/Azure/azure-libraries-for-java/blob/0818e69/azure/src/test/java/com/microsoft/azure/management/TestVirtualNetworkGateway.java#L302
* https://github.com/azure/azure-sdk-for-java/blob/0ba1e86ec13c17e9810757d93fb61b147fa68eb8/sdk/resourcemanager/azure-resourcemanager/src/test/java/com/azure/resourcemanager/TestV

[2020-10-09 22:12] paulojohnj opened #1290 "[Bug] Service Principal add or remove password credential fails"
Currently a service principal update that either adds or removes a password credential fail, complaining about an additionalProperties field.

In addition, the api call that these calls are making appears to be incorrect, making a PATCH request. When adding or removing a password the graph api appears to require a POST call to a differing endpoint (the graph api docs note that the PATCH request is

[2020-10-10 03:11] yungezz commented on #1290
hi @xccc-msft could you pls have a look? thakns

[2020-10-10 03:29] xccc-msft commented on #1290
@paulojohnj Would you please share some code snippet and the version of SDK you are using now? Thanks.

[2020-10-10 14:52] paulojohnj commented on #1290
SDK version: 1.36.3

Working initial service principal create call:

[code]

Failing update with new credential call:
[code]
Removing a credential via the update path has a similar error.

Working graph api based add credential call:
[code]
It appears the graph api call goes to a `POST /servicePrincipals/{id}/addPassword` endpoint while the service principal update path goes to `PATCH /servicePrin

[2020-10-13 09:33] xccc-msft commented on #1290
@paulojohnj Thanks for sharing the details! I will try to reproduce from my end and get back to you.

[2020-10-13 17:26] ashbondu opened #1293 "[BUG] genericResources.getById() throws error when used for GalleryImageVersion IDs."
**Describe the bug**
genericResources.getById() throws error when used for for GalleryImageVersion IDs
`/subscriptions/<subscription>/resourceGroups/<resource-group>/providers/Microsoft.Compute/galleries/<image_gallery>/images/<image>/versions/1.0.0`

The apiVersion generated by the SDK when making the call is not correct.

***Exception or Stack Trace***
com.microsoft.azure.CloudException: Status

[2020-10-14 01:38] weidongxu-microsoft commented on #1293
@ashbondu

Then please use the version provided by server, e.g. `2020-09-30`, via `withApiVersion`. The api-version by SDK is only its best guess, and as a convenient shortcut. Sometimes the guess is wrong.

[2020-10-14 11:53] MarkoVk95 opened #1294 "[BUG] TrafficManager profileMonitorStatus=null"
I've tried both by running with the debugger attached and by logging the monitorStatus() function output.

![image](https://user-images.githubusercontent.com/29255812/95984321-adf79a80-0e2b-11eb-9ce6-222603370e4a.png)

It is working on Postman, I get back "online", as it is on the Portal.
![image](https://user-images.githubusercontent.com/29255812/95984495-f2833600-0e2b-11eb-974e-394231e4258a.png)

[2020-10-14 13:17] weidongxu-microsoft commented on #1294
@MarkoVk95

It appears that traffic monitor does not return this status on `list`. But it is available on `getByResourceGroup` or `getById`.
(in screenshot you can see the bottom part has it, while the upper part does not, bottom one is from `get`, upper from `list`)

![image](https://user-images.githubusercontent.com/53292327/95994149-8243d700-0e62-11eb-9382-95efcf9ed74f.png)

[2020-10-14 15:50] weidongxu-microsoft commented on #1294
@tmsuppgithub

Would you let us know whether this is intended? I.e., `monitorConfig.profileMonitorStatus` of `TrafficManagerProfile` is available in GET of single resource, but not in GET by resource group (i.e. listByResourceGroup).

[2020-10-19 04:46] ChenTanyi opened #1295 "[FEATURE REQ] Revert Azure GA PR after all packages GA"
In https://github.com/Azure/azure-sdk-for-java/pull/16499

[2020-10-19 16:14] dennis-benzinger-hybris opened #1296 "Support user assigned identitites for AKS clusters"
The library should support creating AKS cluster with user assigned identities.

The relevant REST documentation is on:
https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/createorupdate#managedclusteridentity

[2020-10-19 16:50] janwei25 opened #1297 "Frontdoor package is missing."
If i'm not mistaken, there is no frontdoor package available for java. https://azure.github.io/azure-sdk/releases/latest/all/#java states Python, .NET and JavaScript have frontdoor packages but Java doesn't have them. Please add them ASAP. Thanks!

[2020-10-20 01:55] weidongxu-microsoft commented on #1296
@ChenTanyi Please help take a look.

[2020-10-20 02:07] weidongxu-microsoft commented on #1297
@janwei25
Would you let us know your use case, and another Java mgmt libs you already using?

[2020-10-20 02:08] ChenTanyi commented on #1295
https://github.com/Azure/azure-sdk-for-java/pull/16582

[2020-10-20 02:08] weidongxu-microsoft commented on #1297
@xccc-msft
I didn't find a Lite package for azure frontdoor. We might need to release one if service team is OK with it.

[2020-10-20 03:29] janwei25 commented on #1297
@weidongxu-microsoft I'm using a lot of Java mgmt libs for Azure. Among some of them are Network, Compute, KeyVault, Storage, Sql, etc... and many more to make queries for resources. At first, I thought Frontdoor might be within Network but it's not. It would be great that FrontDoor would be added so that we would not need to use the Rest API!

[2020-10-20 04:06] weidongxu-microsoft commented on #1297
@janwei25
Thanks. We'd like to know a bit whether you are using this lib (https://mvnrepository.com/artifact/com.microsoft.azure/azure-mgmt-network) or this (https://mvnrepository.com/artifact/com.microsoft.azure.network.v2020_06_01/azure-mgmt-network). Note the namespace difference.

The frontdoor java lib would likely be similar to latter.

[2020-10-20 04:14] weidongxu-microsoft opened #1298 "[FEATURE REQ] add JBOSS_EAP_7_JAVA8 and JBOSS_EAP_7_JAVA11 to appservice"

[2020-10-20 14:55] janwei25 commented on #1297
@weidongxu-microsoft  Oh, I'm using the stable SDK version (the former). I looked up the latter version in the github repo and could not find any frontdoor files there so I think frontdoor is not there either. Thanks for the heads up though. I'll be monitoring that repo for latest updates.

[2020-10-20 15:00] nickzhums commented on #1297
@janwei25 thanks for reporting the issue. If you don't mind, could you share a bit about your use cases? e.g.

- What are you using the management libraries for?
- Why have you chose those libs?
- Anything we can do to improve?

Thanks much

[2020-10-20 17:45] janwei25 commented on #1297
@nickzhums Hi!

 **What are you using the management libraries for?**

To query and read resource data across a variety of Azure resources across multiple services (Network, Compute, KeyVault, etc...). Long story short, our clients grant us Azure service principals in order to query their resources and we use the Java SDK to get those data. We use the Java SDK because our backend is in Java and we

[2020-10-21 02:32] weidongxu-microsoft commented on #1297
@janwei25
Thanks for the info. In short-term, the frontdoor lib will be like what you get as private dns / mysqldb / postgresqldb (i.e., a separate package which likely also start with beta).

@cdnfdsuppgithub
Hi Max, is frontdoor service ready for Java mgmt SDK?

[2020-10-21 02:44] nickzhums commented on #1297
@janwei25 Thanks so much for providing the feedback. A lot of useful stuff - we will evaluate those feedback and see how we can improve those aspects.
As a side-note, we just released our next generation Java SDK, which addresses some of the things you mentioned above (eg. error handling). The libraries can be found at [here](http://aka.ms/azsdk/java/mgmt). Hope you will be able to use it in some

[2020-10-21 02:57] weidongxu-microsoft commented on #1297
Next generation will have private dns in stable.

Error handling will get a `ManagementException` for all management operations (exclude a few data-plane operation like key/secret in vault, user/group in RBAC). Note that if resource not found, it will have exception as well.

Fields naming is a bit hard story. We can change them to e.g. `get{field}` but then it will break almost all existing code.

[2020-10-21 03:25] janwei25 commented on #1297
@nickzhums NP. Thx for the link!

@weidongxu-microsoft Thx for the heads up on the error handling improvements in next-gen. I may upgrade it if we have more consistent error handling methods there :D

Thx for the fast response! Looking forward to it.

[2020-10-21 06:45] nickzhums commented on #1297
@janwei25 I talked with docs team, you can search for an API method like this:

https://docs.microsoft.com/en-us/java/api/?term=listByResourceGroup

[2020-10-21 07:54] weidongxu-microsoft commented on #1297
If you only need all the properties, the ones in `inner` object will be enough (do it recursively since many will have nested objects).

Part of the difference is due to certain abstraction. E.g. `StorageAccount` got `accountStatuses()` method, which abstracts `statusOfPrimary()` and `statusOfSecondary()` from `inner`.

Also there is some operation method like `getKeys()` in `StorageAccount`.

[2020-10-21 15:48] anmeng10101 commented on #1297
@janwei25 , thanks a lot for the feedback about the documents.

Would like to know your normal preference to search a method please? such as find `listByResourceGroup` from https://docs.microsoft.com/en-us/java/api/overview/azure/?view=azure-java-stable.

Is it search from 2 highlight search boxes?

![image](https://user-images.githubusercontent.com/33647870/96744178-580c8f00-13f7-11eb-86e0-2962bb

[2020-10-21 23:55] janwei25 commented on #1297
@weidongxu-microsoft Yes, I noticed that `.inner` usually has all the fields but while it works like...99% of the time, I think there is one instance where because I used the inner object, I got loss of field data instead. It has been a while since I have faced that issue (around 2 months ago) so I forgot all the details but IIRC, it was `LocalNetworkGateway` from `Network` service. The info I got

[2020-10-22 01:55] weidongxu-microsoft commented on #1297
@janwei25
I see. Yes, it is indeed possible. Again caused by certain abstraction to improve usability (it is not common). Some object would try to take a few closely related inner objects from REST, hence this would happen (since the `inner` only refer to one of them).

[2020-10-23 07:34] ChenTanyi commented on #1295
need test after revert https://github.com/Azure/azure-sdk-for-java/pull/16735

[2020-10-26 20:11] tsarna opened #1303 "[BUG] NullPointerException in VirtualMachineScaleSets list() operation"
**Describe the bug**

trying to list Virtual Machine Scale Sets that exists results in an NPE thrown from VirtualMachineScaleSetImpl:initializeChildrenFromInner, line 195, which is the first IF statement:

[code]

This means either `this.inner()` or `this.inner().virtualMachineProfile()` must be null, but I can't tell which from the stack trace and I was not able to debug in situ (observed in logs

[2020-10-26 22:08] janwei25 commented on #1297
@weidongxu-microsoft Hi, this is a separate subject. But is there **any** way of getting the object ID of a service principal via the Java SDK given an `ApplicationTokenCredentials` object (clientId, tenantId and clientSecret) being supplied. According to https://docs.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-principals#application-and-service-principal-relationshi

[2020-10-27 01:19] weidongxu-microsoft commented on #1303
@xccc-msft Please take a look.

[2020-10-27 01:49] weidongxu-microsoft commented on #1297
@janwei25

You can do this
[code]

Note that listing (with filter) the service principals will require certain AAD permission.

PS: for frontdoor Java SDK, still taking with service on which api-version to release.

[2020-10-27 08:30] xccc-msft commented on #1303
@tsarna Thanks for reporting this. I have created #1304 to fix this. Before we release new version, you may take below workaround
[code]

[2020-10-30 02:37] weidongxu-microsoft commented on #1297
@ChenTanyi Please update when package is released.

[2020-10-30 02:39] weidongxu-microsoft commented on #1297
Sample code (might not be exactly same)
[code]

[2020-10-30 04:51] ChenTanyi commented on #1297
https://search.maven.org/artifact/com.microsoft.azure.frontdoor.v2020_05_01/azure-mgmt-network/1.0.0-beta/jar

[2020-11-02 08:06] Flanker32 opened #1306 "[BUG] Auto created storage account name may be invalid in FunctionAppImpl"
**Describe the bug**
`FunctionAppImpl` will auto create storage account with function name as prefix([refers](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-appservice/src/main/java/com/microsoft/azure/management/appservice/implementation/FunctionAppImpl.java#L653)), however, function name may contains "-" and this may be include in the `randomName` result([refers](https:

[2020-11-03 03:07] #1306 closed

[2020-11-03 18:04] janwei25 commented on #1297
Thanks guys for the fast response. I tested and it worked with my use case! :+1:

[2020-11-03 18:04] #1297 closed

[2020-11-06 02:29] #1303 closed

[2020-11-09 16:21] dennis-benzinger-hybris commented on #1296
Do you have an ETA for this or will this feature be supported only in the "new style" SDK ?

[2020-11-10 00:36] nickzhums commented on #1296
@dennis-benzinger-hybris we are evaluating this and will let you know asap

[2020-11-10 05:32] ChenTanyi commented on #1296
@dennis-benzinger-hybris we would try to update the AKS and add this property before next release at Nov 27.

[2020-11-10 08:44] dennis-benzinger-hybris commented on #1296
That's great news. Thanks!

[2020-11-12 03:59] ChenTanyi commented on #1296
@dennis-benzinger-hybris After API updated, is it ok for you to use `inner` to assign identities?

(Since currently the identity type doesn't support `SystenAssigned, UserAssigned`, I'm afraid it would be change later, which could cause some problem in current logic.)

[2020-11-12 09:10] dennis-benzinger-hybris commented on #1296
Yes, `inner` is ok for use. We already use it in a few other places.

[2020-11-13 03:26] ChenTanyi commented on #1296
@dennis-benzinger-hybris Thanks for confirm. It will be release at Nov 27.

After update, the identity will be in `ManagedClusterInner`, you can use `azure.kubernetesClusters().inner().beginCreateOrUpdate()`, or `kubernetesCluster.inner().withIdentity()` and then `kubernetesCluster.update().apply()`

[2020-11-13 05:55] #1296 closed

[2020-11-16 05:44] weidongxu-microsoft opened #1314 "[FEATURE REQ] support get AppSetting from Kudu"
endpoint “/api/settings"

sample response
[code]

[2020-11-18 06:31] #1295 closed

[2020-11-24 08:52] #1314 closed

[2020-11-25 07:34] weidongxu-microsoft opened #1325 "[BUG] Use embedme for sample code in AUTH.md"
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/resourcemanager/docs/AUTH.md

[2020-11-25 07:35] weidongxu-microsoft opened #1326 "[BUG] Use embedme for sample code in MIGRATION_GUIDE.md (track2 part)"
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/resourcemanager/docs/MIGRATION_GUIDE.md

[2020-11-25 07:36] weidongxu-microsoft opened #1327 "[BUG] Use embedme for sample code in SAMPLE.md"
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/resourcemanager/docs/SAMPLE.md

[2020-11-27 06:24] #1326 closed

[2020-12-04 05:07] #1325 closed

[2020-12-15 08:24] ChenTanyi opened #1333 "[BUG] LRO first GET call cannot handle Retry-After"
In a PUT -> GET -> GET LRO operation, the first GET will immediately CALL rather than handle the Retry-After.

[2020-12-16 07:40] weidongxu-microsoft commented on #1333
ICM https://portal.microsofticm.com/imp/v3/incidents/details/217979742/home

[2020-12-24 07:27] weidongxu-microsoft opened #1335 "Investigate private link and network security"
https://microsoft.sharepoint.com/teams/ep/SitePages/Enterprise-Promises-[Co].aspx

https://microsoft.sharepoint.com/teams/ep/SitePages/Private-Links.aspx enables private link for customer access within vnet.
https://microsoft.sharepoint.com/teams/ep/SitePages/All-services-function-without-out-bound-public-IP-address.aspx disables public access to the resource.

[2020-12-24 08:39] weidongxu-microsoft opened #1336 "Investigate whether include resourcegraph RP to premium"

[2020-12-25 02:58] weidongxu-microsoft opened #1337 "Fluent interface for ServiceTagsClient"
Service tag is widely used.

https://microsoft.sharepoint.com/teams/ep/SitePages/Service-Tags.aspx

[2020-12-25 03:04] weidongxu-microsoft commented on #1337
Or fluent could have some predefined enum for common service tags.

[2020-12-28 03:32] weidongxu-microsoft opened #1338 "[FEATURE REQ] Support web app zip deploy with deployment ID and get deployment status API"

[2020-12-28 04:01] weidongxu-microsoft commented on #1338
refer repo https://github.com/JasonFreeberg/test-deployment-status-api

[2021-01-04 03:44] #1333 closed

[2021-01-07 06:49] weidongxu-microsoft opened #1342 "Investigate data encryption with CMK"
https://microsoft.sharepoint.com/teams/ep/SitePages/Encryption-at-Rest-CMK.aspx

Support data encryption on storage/disk/database with customer managed key.

E.g. storage
![image](https://user-images.githubusercontent.com/53292327/103860934-89901f00-50f7-11eb-979e-b97846d0132e.png)

[2021-01-07 06:54] weidongxu-microsoft opened #1343 "Investigate support for managed identity"
https://microsoft.sharepoint.com/teams/ep/SitePages/All-Offerings-must-support-Managed-Service-Identities-(MSI).aspx

Basically all services that runs code need to support it.

[2021-01-20 10:53] mgsantositrs commented on #688
Any update on this issue? I'm also getting a lot of this but the weird thing is, I'm getting the metric from the a azure library function call also.

[2021-01-20 16:46] erzads opened #1346 "[QUERY] create a vm with managed boot diagnostics"
**Query/Question**
How can I create a new vm with managed boot diagnostics enabled?
The sdk has a method with no parameters to enable boot diagnostics but it ends up configuring it with a custom storage account, even thought there are overloaded method to inform a storage account. This makes me think this is a bug but I am not sure.

***Why is this not a Bug or a feature Request?***
I am not sure

[2021-01-21 03:14] xccc-msft commented on #1346
@erzads For the method without parameters, it would create storage account implicitly. The code for creating storage account with random name could be found [here](https://github.com/Azure/azure-libraries-for-java/blob/master/azure-mgmt-compute/src/main/java/com/microsoft/azure/management/compute/implementation/VirtualMachineImpl.java#L2754-L2766). The code to validate if storage account exists fo

[2021-01-21 06:21] xccc-msft commented on #1290
@paulojohnj Sorry for late update. As the swagger of [GraphRBAC](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json) is not updated for the new APIs of credentials related, would you like to have a try on [msgraph-sdk-java](https://github.com/microsoftgraph/msgraph-sdk-java). It has latest Graph APIs support by

[2021-01-21 12:29] erzads commented on #1346
Let me try to clarify it. How can I use the sdk such that when I check the boot diagnostics page in the portal I see this:
![IMG-20210121-WA0001](https://user-images.githubusercontent.com/699344/105351075-d3ced100-5bca-11eb-8e00-1207e01686ed.jpg)

I don't want to inform a storage account nor do I want it to create a random storage account.

[2021-01-22 02:48] weidongxu-microsoft opened #1348 "[FEATURE REQ] Avoid sending redundant PATCH request to VM when creating extension - Databricks"
Create VM extension on VM update flow without PATCH to VM itself (if no modify to VM)

[2021-01-22 05:00] xccc-msft commented on #1346
@erzads Do you mean you want to select `Disable` from SDK end?

[2021-01-23 01:11] weidongxu-microsoft opened #1349 "[BUG] exception when updating application gateway v2 waf_v2"
Java SDK 1.35 ( I can repo also with 1.38.1)

If I have a application gateway v2 sku waf_v2 with exclusion setup at WAF level

And run backend update

[code]

Error:
[code]

[2021-01-25 14:45] ovidiu10 commented on #1349
thanks @weidongxu-microsoft

[2021-01-25 15:43] ovidiu10 commented on #1349
the key issue is RequestHeaderNames with header "Referer" https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referer

[code]

![image](https://user-images.githubusercontent.com/6494381/105728225-e82c0a00-5ef9-11eb-8860-2cd8fe3a6bae.png)

I got same error even if I try to create the application gateway

_webApplicationFirewallConfiguration.exclusions.selectorMatchOperator is required and can

[2021-01-26 05:23] xccc-msft commented on #1349
After investigation, the swagger definition of `ApplicationGatewayFirewallExclusion` shows all properties are required [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2020-08-01/applicationGateway.json#L3198-L3219) while the server only returns `matchVariable` if the exclusion rule is with `Equals any` and `*`. Add `S

[2021-01-27 07:32] #1348 closed

[2021-01-29 04:28] ashbondu opened #1353 "[BUG] Azure DiskEncryption fails in Azure China Region"
**Describe the bug**
When we use Azure Java SDK to kick off the Disk Encryption of a VM, it ends up in a failure in Azure China Environment, where the ADE fails to encrypt the VM.

***Exception or Stack Trace***
Exception from VM's Bitlocker logs (redacted resource names).
[code]

**To Reproduce**
Encrypt a VM using Azure Java SDK with a Keyvault in China Region.

**Analysis**
I believe the error

[2021-01-30 03:38] weidongxu-microsoft commented on #1353
@xccc-msft Please take this as high priority.

[2021-01-30 03:40] weidongxu-microsoft commented on #1353
@ashbondu
Thanks for the issue and analysis. We will investigate it on Monday, and if this is indeed the bug, a fix should be released in days.

[2021-02-02 02:04] weidongxu-microsoft commented on #1353
The fix would try to figure out the cloud region from `AzureEnvironment` in credential, for backward compatibility.

The safer approach would be using the new constructor of e.g. `LinuxVMDiskEncryptionConfiguration(vaultId, vaultUri)`, which let customer provide the `vaultUri` directly.
https://github.com/Azure/azure-libraries-for-java/pull/1355/files#r568270939

[2021-02-02 06:57] #1353 closed

[2021-02-04 08:24] #1349 closed

[2021-02-05 17:02] weidongxu-microsoft commented on #1353
Please use version 1.39.1

[2021-02-08 08:09] weidongxu-microsoft opened #1363 "[FEATURE REQ] exclude implementation package from msdocs"
We could add “excludepackages” as below, please kindly give it a try and let me know if there is any issue.

[code]

The format like com.azure.resourcemanager.resources.implementation.* does not support at this moment, if there are multiple packages to exclude, they need to be listed directly and separated by “:”. Here is an example for your reference. We do have the feature to .implementation.* p

[2021-02-17 10:17] ikalligeros opened #1365 "[BUG] Exception in Azure.cdnProfiles().list()"
**Describe the bug**
While trying to get the list of CdnProfiles for a specific azure account, an exception is thrown

***Exception or Stack Trace***
[code]

**To Reproduce**
Unfortunately, this exception occurs on a specific account CDN profile configuration. Not sure how to provide more info without giving away publicly info on this configuration

***Code Snippet***
[code]

**Expected behavior**

[2021-02-18 01:53] weidongxu-microsoft commented on #1365
I think I get the cause. New cdn service version leaks its implementation to old cdn version. Old version only have type "CacheExpiration", while new version have 6 more types.

[2021-02-18 01:57] weidongxu-microsoft commented on #1365
Next release would take a few weeks.

You can try new SDK at https://aka.ms/azsdk/java/mgmt. Most code should be compatible (except a few lines on authentication the client), and it should already solved the problem. https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/resourcemanager/azure-resourcemanager-cdn/src/main/java/com/azure/resourcemanager/cdn/models/DeliveryRuleAction.java#L21-L2

[2021-02-18 09:08] ikalligeros commented on #1365
Thank you very much @weidongxu-microsoft for the quick follow up! I also tried to find the new types including the `ModifyResponseHeader` but i was looking in the wrong place... (azure-mgmt-cdn jars). Thanks for the hint. We will probably move our implementation in the resourcemanager CDN package.

[2021-02-19 02:02] weidongxu-microsoft commented on #1365
Sure. There is a migration guide in the readme (https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/resourcemanager/docs/MIGRATION_GUIDE.md)

If you having issue during migration, do let us know.

[2021-02-19 09:15] ikalligeros commented on #1365
Migration was smooth! I figured out the usage of `ClientSecretCredentialBuilder` instead of the previous `ApplicationTokenCredentials`. All good!!

[2021-02-23 08:01] #1365 closed

[2021-03-02 05:34] weidongxu-microsoft commented on #1365
Let us know your feedback on the new Java SDK.
https://microsoft.qualtrics.com/jfe/form/SV_ehN0lIk2FKEBkwd?Q_CHL=ISSUES

[2021-03-02 08:33] ikalligeros commented on #1365
Done :)

[2021-03-02 08:47] nickzhums commented on #1365
@ikalligeros Thank you very much for providing the feedback. I saw that your response said initially you didn't know which library to use (old vs new), is there anything we can do to make it better to discover?

[2021-03-04 06:04] #1363 closed

[2021-03-04 06:39] weidongxu-microsoft commented on #1346
Add a `withBootDiagnosticsOnManagedStorageAccount` for this.

[2021-03-04 07:02] #1298 closed

[2021-03-04 07:12] #1346 closed

[2021-03-05 02:34] weidongxu-microsoft commented on #1346
1.40.0 released

[2021-03-06 04:30] weiqingy opened #1377 "[QUERY] Do the libraries depend on FabricIO8/kubernetes-client?"
**Query/Question**
Do the libraries use FabricIO8 (Kubernetes Client): https://github.com/fabric8io/kubernetes-client? Per https://github.com/fabric8io/kubernetes-client#who-uses-kubernetes--openshift-java-client, it says Microsoft Azure Libraries for Java is one of FabricIO8's users, but it seems FabricIO8 is not in any pom files of this repo.

***Why is this not a Bug or a feature Request?***
Th

[2021-03-08 01:43] yungezz commented on #1377
I don't think azure-libraries-for-java depends on FabricIO8, add @ChenTanyi to help confirm.

[2021-03-08 05:23] ChenTanyi commented on #1377
@weiqingy
For main released package, we don't provide any kubernetes execution. Thus no dependency on `FabricIO8/kubernetes-client`.
For sample package (not released, only for providing samples), we use `FabricIO8/kubernetes-client` to access AKS as an example in https://github.com/Azure/azure-libraries-for-java/blob/28c882956b8774cade9795a4381a5c74f454e913/azure-samples/pom.xml#L163-L167

[2021-03-08 20:20] weiqingy commented on #1377
Got it. Thanks for confirming, @ChenTanyi @yungezz

[2021-03-09 02:28] #1377 closed

[2021-03-22 09:00] timja opened #1379 "[FEATURE REQ] Update ACI to latest stable API (2021-03-01)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I want to be able to 'attach' to the output of a container, it's not possible with the current API version in use

https://github.com/Azure/azure-rest-api-specs/blob/master/specification/containerinstance/resource-manager/Microsoft.Contain

[2021-03-29 03:45] weidongxu-microsoft commented on #1336
keep it in Lite

[2021-03-29 03:45] #1336 closed

[2021-03-29 03:47] weidongxu-microsoft commented on #1256
Supported in https://github.com/Azure/azure-libraries-for-java/pull/1376

Will be included in next release (likely 1.40.1), scheduled in days.

[2021-03-29 03:47] #1256 closed

[2021-03-29 03:49] #1223 closed

[2021-03-29 03:51] #1293 closed

[2021-03-29 03:52] #1282 closed

[2021-03-29 06:42] gergopapi2 commented on #1256
@weidongxu-microsoft  Thank you for the good news! Please let me know the SDK version when it is included.

[2021-03-29 07:40] #1379 closed

[2021-03-29 12:04] weidongxu-microsoft commented on #1256
@gergopapi2 Version 1.41.0 released to maven.

For new project, it is recommended to use https://aka.ms/azsdk/java/mgmt, which will also have this feature in a few days (2.3.0).

[2021-04-01 15:28] blacelle opened #1386 "How can one instanciate an ApplicationInsight through Azure management?"
**Query/Question**
How can I list and Create an Application Insight instance through Azure Management API?

***Why is this not a Bug or a feature Request?***
This might be a feature-request. The feature may exist but I can not find it in the documentation nor in the codebase.

[2021-04-02 06:57] weidongxu-microsoft opened #1387 "[FEATURE REQ] backport agent pool configure for AKS"
Sample AKS agent pool code from track2
https://github.com/Azure/azure-sdk-for-java/blob/master/sdk/resourcemanager/azure-resourcemanager-containerservice/src/test/java/com/azure/resourcemanager/containerservice/KubernetesClustersTests.java#L101-L116

Schedule for April 16. Version 1.41.1

[2021-04-02 08:39] weidongxu-microsoft commented on #1386
Depends on what resource it is, it could be this package https://mvnrepository.com/artifact/com.microsoft.azure.applicationinsights.v2015_05_01/azure-mgmt-insights/1.0.0-beta

[2021-04-06 11:13] JaiLudhani88 commented on #106
Is there any resolution consolidated for this issue?  Thanks
I am also facing this issue if providing support of proxy.

[2021-04-08 15:51] blacelle opened #1388 "Append a password to an ActiveDirectoryApplication"
**Query/Question**
When I update a ActiveDirectoryApplication with passwords, it seems to remove existing ones. How can I append a password to the existing ones?

***Why is this not a Bug or a feature Request?***
This may be a feature request

[code]

[2021-04-08 15:54] blacelle commented on #1388
I have side-note questions, unsure I should open additional tickets:

- How can I explain the passwords created after an update are not visible in Azure portal? (e.g. with previous code adjusted to push 3 passwords, I see only the initial password ; one each call, the 3 additional passwords replaces the 3 previous ones, but Azure Portal shows only the initial manual password (or password created w

[2021-04-08 15:56] blacelle commented on #1388
[code]

For an unknown reason, my customKeyIdentifier looks weird from az cli. My manual/azure-portal password has a null customKeyIdentifier.

[2021-04-09 03:21] weidongxu-microsoft commented on #1388
@blacelle

The recommended SDK for AAD is https://github.com/microsoftgraph/msgraph-sdk-java

[2021-04-09 07:47] blacelle commented on #1388
@weidongxu-microsoft Thanks for the fast feedback. I'll try with this library. Any timeline to switch Azure Mgmt to MS Graph?

[2021-04-09 09:41] weidongxu-microsoft commented on #1388
@blacelle

The new SDK actually migrated to MS graph. https://github.com/Azure/azure-sdk-for-java/tree/master/sdk/resourcemanager

However we still recommend https://github.com/microsoftgraph/msgraph-sdk-java when one need to modify the AAD.

Management SDK does include some of the AAD functionality, but the main purpose is to enable user query the object ID (or ID in MS graph term) for applicatio

[2021-04-10 16:19] blacelle commented on #1388
Thanks @weidongxu-microsoft . Do ou have a code-snippet or a source to sketch the equivalent of:

[code]

given an IGraphServiceClient?

[2021-04-12 02:09] weidongxu-microsoft commented on #1388
Might be this, not tested.

[code]

[2021-04-12 02:12] #1387 closed

[2021-04-12 07:32] blacelle commented on #1343
Just to confirm, is-this a pre-requisite to enable https://docs.microsoft.com/en-us/azure/aks/use-managed-identity#create-an-aks-cluster-with-managed-identities through this library?

[2021-04-12 07:36] weidongxu-microsoft commented on #1343
No, managed identity can be enabled via any approach available, Azure CLI, powershell, Portal, SDK, etc.

[2021-04-12 08:13] ChenTanyi commented on #1343
@blacelle If you want to enable managed identity for AKS through Java SDK, you can see my sample https://github.com/tanyi-test/azure-k8s-pod-with-identity

[2021-04-25 22:43] renutz opened #1393 "Get the Public IP of an instance within a VMSS"
We are trying to get the public IP of an instance within a VMSS.

https://docs.microsoft.com/en-us/rest/api/virtualnetwork/publicipaddress%20in%20vmss/getvirtualmachinescalesetpublicipaddress

Apparently it's not implemented of the SDK.

When calling the NetworkInterface:

nic = myvmss.listNetworkInterfacesByInstanceId("1");

https://management.azure.com/subscriptions/xxxxx/resourceGroups/myrg/pro

[2021-04-26 01:51] weidongxu-microsoft commented on #1393
Would `azure.publicIpAddresses().getById(id)` get it?

[2021-04-26 02:14] weidongxu-microsoft commented on #1393
Or you can do this if you really wanted to `azure.networkInterfaces().manager().inner().publicIPAddresses().getVirtualMachineScaleSetPublicIPAddress()`

[2021-04-26 12:58] renutz commented on #1393
Hi,

Thanks for promptness.

azure.publicIpAddresses().getById(id) -> it does not work. It gets 404.

azure.networkInterfaces().manager().inner().publicIPAddresses().getVirtualMachineScaleSetPublicIPAddress() -> it worked! (I guess I don't need to tell, but this is really obscure....)

[2021-04-27 02:04] weidongxu-microsoft commented on #1393
The method in the `inner()` is kind of less exposed because the API could be less stable (it is auto-generated from REST API spec). Though the API there would be complete.

BTW, next gen SDK is here. If you just start on new project, you might want to switch to this SDK.
https://aka.ms/azsdk/java/mgmt
Similar the API is `azure.networkInterfaces().manager().serviceClient().getPublicIpAddresses().ge

[2021-04-29 11:24] FireDrunk commented on #810
@ChenTanyi Is there any progress on this issue? We are still hitting this problem.

[2021-04-30 02:49] weidongxu-microsoft commented on #810
You can get it via

`azure.kubernetesClusters().manager().serviceClient().getContainerServices().listOrchestratorsWithResponse(Region.EUROPE_WEST.name(), "managedClusters", Context.NONE).getValue().orchestrators()`

in new SDK at https://aka.ms/azsdk/java/mgmt

[2021-04-30 03:25] ChenTanyi commented on #810
@FireDrunk Due to `az-cli` use a string query parameter to get default value, SDK cannot do the same thing. (SDK could only expose the function with query parameter, but it seems not very helpful)
Like @weidongxu-microsoft said, for `1.41.1` SDK, it would be `azure.containerServices().inner().listOrchestrators(Region.EUROPE_WEST.toString(), "managedClusters").orchestrators()`

[2021-04-30 09:07] #1393 closed

[2021-05-03 04:14] tartanapp commented on #632
Thanks alot, it works very well, but with vm.innerModel().withPlan(null); as Im using AzureResourceManager

[2021-05-11 12:12] blacelle opened #1397 "Improving Exceptions bubbling"
**Is your feature request related to a problem? Please describe.**
In many places, any sort of exceptions is bubbled without a context, leaving the stack-trace reader with a partial stack difficult to process

**Describe the solution you'd like**
I would like Exceptions to be properly chained, so that finally reported Exceptions holds a proper chain of Cause, enabling retracing the whole chain of

[2021-05-12 03:40] weidongxu-microsoft commented on #1397
This is a valid issue. However we are not likely to do a large change to the repo at this point (which requires discussing and finding a somewhat better solution, rewrite the code generator, regenerate all the underlying code (all those `FooInner`s)).

Develop focus is shifted to next generate SDK https://aka.ms/azsdk/java/mgmt (migration should be easy, though `PagedList` is replaced by `PagedIte

[2021-05-12 14:38] blacelle commented on #1397
Thanks @weidongxu-microsoft. In fact, I discovered this alternate Azure Management library very recently. The README for this repository indicates there is a more recent alternative. But it was not crystal-clear to myself. I interpreted in `Try the Next-Generation Azure Management SDK for Java now` that current current repo is the next-generation, and did not read the rest of the paragraph (too ba

[2021-05-13 02:06] weidongxu-microsoft commented on #1397
@blacelle

Well, it is not deprecated (yet). It is kind of in this state: if we have bug or improvement related to security, we fix here and on the new repo; if we have new feature or other improvement, we likely only put it in the new repo.

[2021-06-29 01:28] cjhoon1014 opened #1400 "Azure VirtualMachine runShellScriptAsync function is not working..."
**Query/Question**
I'm using Azure JAVA SDK.
I try to Azure VirtualMacine runShellScriptAsync  function like under this :

`String subscription = "something...";
String resourceGroupName= "something...";
String vmName= "something...";

VirtualMachine linuxVM = AzureUtils.azureResourceManager.virtualMachines().getById("/subscriptions/"+subscription+"/resourceGroups/"+resourceGroupName+"/providers/M

[2021-06-29 01:57] weidongxu-microsoft commented on #1400
I didn't get it. async method does not work, until you either `await` on it, or call `.Result` to get result.

[2021-06-29 02:05] weidongxu-microsoft commented on #1400
https://projectreactor.io/

[2021-06-29 02:12] cjhoon1014 commented on #1400
i was don't know how to use async method.
okay, i will try this.

thanks.

[2021-06-29 02:12] #1400 closed

[2021-06-29 02:14] weidongxu-microsoft commented on #1400
@cjhoon1014
Please note that the new SDK (2.x.x) switch to use Reactor for async.
https://aka.ms/azsdk/java/mgmt

If you only started using the Azure Java management SDK, you might be better start with the new SDK.

[2021-06-29 04:02] cjhoon1014 commented on #1400
@weidongxu-microsoft  thank you so much. i will try this too. Thanks.

[2021-07-01 06:51] FireDrunk commented on #810
@ChenTanyi Thanks, got it working with your tip!

[2021-07-30 09:15] weidongxu-microsoft commented on #632
next release should be 1.41.2

[2021-08-02 01:44] #632 closed

[2021-11-15 16:43] chenfli opened #1409 "[BUG] IncomingMessages/OutgoingMessage per topic on eventhub returns nullpointerexception"
**Describe the bug**
I try to query Event Hub topic to get the number of incoming messages and I get null pointer execption. While query for the following metrics per topic returns values

SuccessfulRequests
ServerErrors
UserErrors
QuotaExceededErrors
ThrottledRequests
IncomingRequests

Why is it ?

***Exception or Stack Trace***
[code]

**To Reproduce**
Steps to reproduce the behavior:
Query even

[2021-11-16 01:51] weidongxu-microsoft commented on #1409
I didn't see any code on com.microsoft.azure on your stacktrace.

[2021-11-18 11:37] chenfli commented on #1409
Hi,
Attached the pom part which uses azure jars.

I just wanted to know if I can get on a per topic the following metrics:
IncomingMessages
OutgoingMessages

Cause right now I  only get
SuccessfulRequests
IncomingRequests
QuotaExceededErrors
UserErrors
ServerErrors
Size

[code]

[2021-11-18 12:42] weidongxu-microsoft commented on #1409
@chenfli
Used your code, no problem getting "IncomingMessages" with topicName = `<my event hub name>`
I've sent 100 messages, and metric have total = 100

![image](https://user-images.githubusercontent.com/53292327/142417160-03a0e2d0-feba-4a44-8106-c613eb4c948b.png)

[2021-11-20 00:47] #1409 closed

[2022-01-14 07:48] #1335 closed

[2022-02-23 01:56] yihan-go opened #1416 "[QUERY] How to config VM with a given DiskEncryptionSet id?"
**Query/Question**
We could use the API template (2019-07-01) to config a VM with dataDisk with DiskEncryptionSet(DES) id like [this](https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/2019-07-01/virtualmachines?tabs=bicep)
But we are struggled to do it with SDK (1.41.0), we only found things like [this ](https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.management.comp

[2022-02-23 03:10] weidongxu-microsoft commented on #1416
You had to do it without convenient code.

[code]

[2022-02-23 07:18] yihan-go commented on #1416
Thanks for the fast reply and useful code example！

[2022-03-16 06:39] Sata-Chakra commented on #536
I am trying to create a web app bot from the azure portal, but have met with the same issue.
the work around mentioned by @ikurtev did not work for me!

What should I do ?

[2022-06-15 12:19] anuj-soni1989 opened #1425 "SqlDatabase.inner().getTags() isn't populated when loading databases from a SqlServer"
Trying to fetch tags from SqlDatabase object, tried the Async methods as well.
`List<SqlDatabase> databasesList = sqlServer.databases().list();

                    List<AzureSQLServerDataStream.SqlDatabase> sqlDatabases = Lists.newArrayList();

                    databasesList.stream().forEach(sqlDatabase -> {
                    sqlDatabase.inner().getTags()

}`
when I do a **SqlDatabase db = s

[2022-06-16 01:17] weidongxu-microsoft commented on #1425
@anuj-soni1989

This lib is deprecated. Would you try migrate to https://aka.ms/azsdk/java/mgmt ? It contains a migration guide.

[2022-06-20 05:04] anuj-soni1989 commented on #1425
Thank you! I'll check it out.

[2022-06-20 05:04] #1425 closed

[2022-07-08 17:54] ajit-samanta commented on #536
I'm getting the error as "Resource group with Linux app not supported". There resource group has both Windows and Linux App Services. But now trying to create a bot service and getting the error. Can anybody please help me understand whether the issue with Resource group only?

![image](https://user-images.githubusercontent.com/78895992/178044935-6167bd3d-76c9-4c06-8857-b57cb51c565d.png)

[2022-07-12 04:35] #1416 closed

[2022-07-28 16:57] microsoft-github-policy-service[bot] opened #1436 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-07-29 01:31] #1436 closed

[2022-09-22 09:33] thomasmillercf opened #1437 "[BUG] FunctionCliResolver unable to handle spaces in the path"
**Describe the bug**
FunctionCliResolver is unable to handle spaces in the path. Found this out due to WSL adding a bunch windows PATH on the end of the ubuntu PATH. Then an expectation is return which is not very clear

**To Reproduce**
Using WSL: Ubuntu

Install Func tools
export PATH=$PATH:some path with spaces

***Code Snippet***
[code]

**Expected behavior**
It should either be able to handle

[2022-09-23 01:47] weidongxu-microsoft commented on #1437
there is no `FunctionCliResolver` in this lib?

[2022-10-21 08:32] #1437 closed